
<section class="pillar-100p">
  <div class="homeLeft">
    <p class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
    <br>
    <hr class="hrHome">
    <br>
    <p class="txt2">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla.</p>
    <br><br><br>
    <div ui-sref="access.signup" class="btnHome" type="button" name="button">
      <img ng-src="images/icoEnviarRecarga.png" alt="">
      <span style="margin-left:10px;"> Registrate y envia una recarga</span>
    </div>
  </div>
  <div class="imgHome">
    <img src="images/landing/ipad.png">
  </div>
</section>
