
<!-- Seccion del home -->
<section class="pillar-100p flex-wrap" style="/*height:660px*/">
  <div class="homeLeft">
    <p class="txt1">Best Top-Up Service Worldwide</p>
    <br>
    <hr class="hrHome">
    <br>
    <p class="txt2 w-65p">Neeru offers more than 600 cell phone operators at the cheapest rate in the market!!.</p>
    <br><br><br>
    <div ui-sref="access.signup" class="btnHome" type="button" name="button">
      <img ng-src="images/icoEnviarRecarga.png" alt="">
      <span style="margin-left:10px;"> {{"landing.registrate_recarga" | translate}}</span>
    </div>
    <br><br>
    <div style="margin-bottom: 10px;">
        <a type="button" target="_parent" class="btn btn-primary btn-lg btn-block button-facebook ng-pristine ng-untouched ng-valid" name="button" href="http://192.168.2.28:9002/plataform/user/signinFacebook" ng-model="fbLogin" ng-change="FBLogin(fbLogin)" aria-invalid="false"><span aria-hidden="true" class="fa fa-facebook pull-left" style="margin-right:20px"></span>{{"Iniciar_Sesion_Facebook" | translate}}</a>
    </div>
    <div style="margin-bottom: 1pc;">
      <a type="button" target="_parent" class="btn btn-primary btn-lg btn-block button-google" name="button" href="http://localhost:9002/plataform/user/signinGoogle"><span aria-hidden="true" class="fa fa-google pull-left"></span>{{"Iniciar_Sesion_Google" | translate}} &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</a>
    </div>
  </div>
  <div class="imgHome">
    <img class="w-img-table" src="images/landing/ipad.png">
  </div>
</section>
<!-- Fin de seccion del home -->

<!-- Seccion del area como funciona -->
<section class="secFunciona">
  <a name="item1"></a>
  <h2 class="center hTxt1 color-verde">{{"landing.como_funciona" | translate}}</h2>
  <div class="pillar-ajust-funciona" style="margin:0 auto;">
    <div class="boxSecFunciona" style="margin-bottom:2.5pc">
      <div class="white" style="height: 340px;">
        <div class="img-central">
          <img src="images/landing/icoOrden.png" alt="" style="width: 30%;">
        </div>
        <div class="center">
          <h4 style="color: #0DB730;">1. {{"landing.orden" | translate}}</h4>
        </div>
        <div>
          <p class="txt3">Simply add the phone number followed by the amount you wish to Top-Up. Remember to take a look at the promotions!!</p>
        </div>
        <div class="hrFunciona" style="position: relative;bottom: -14px;">
        </div>
      </div>
    </div>
    <div class="boxSecFunciona" style="margin-bottom:2.5pc">
      <div class="white" style="height: 340px;">
        <div class="img-central">
          <img src="images/landing/icoPago.png" alt="" style="width: 28%;">
        </div>
        <div class="center">
          <h4 style="color: #0DB730;">2. {{"landing.pago" | translate}}</h4>
        </div>
        <div>
          <p class="txt3">Select the payment method. All payments in Neeru are sponsored and secured via @Stripe.</p>
        </div>
        <div class="hrFunciona" style="position: relative; bottom: -10px;">
        </div>
      </div>
    </div>
    <div class="boxSecFunciona" style="margin-bottom:2.5pc">
      <div class="white" style="height: 340px;">
        <div class="img-central">
          <img src="images/landing/icoRecarga.png" alt="" style="width: 29%;">
        </div>
        <div class="center">
          <h4 style="color: #0DB730;">3. {{"landing.recarga" | translate}}</h4>
        </div>
        <div>
          <p class="txt3">Click the Send Top-Up button once you've completed filling out the payment information. You will receive a confirmation email with your receipt.</p>
        </div>
        <div class="hrFunciona" style="position: relative;bottom: 10px;">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin de seccion del area como funciona -->

<!-- Seccion de Seguridad -->
<section class="secSeguridad pillar-100p">
  <a name="item2"></a>
  <div class="seguridadLeft">
    <p class="hTxt2">{{"landing.seguridad" | translate}}</p>
    <br>
    <hr class="hrHome">
    <br>
    <div class="pillar-100p">
      <div class="">
        <img src="images/landing/icoSeg1.png">
        <br> <br>
        <p class="titulo1">Cons ectetuer adipiscing</p>
        <br> <br>
        <p class="txt2 w-80p"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet magna</p>
      </div>
      <div class="">
        <img src="images/landing/icoSeg2.png">
        <br> <br>
        <p class="titulo1">Quis nostrud exerci</p>
        <br> <br>
        <p class="txt2 w-80p">Ut wisi enim ad minim veniam, quis nostrud exerci
          tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat
        </p>
      </div>
    </div>
    <br><br><br>
    <div ui-sref="access.signup" class="btnSeguridad" type="button" name="button" style="width:45%">
      <img ng-src="images/icoEnviarRecarga.png" alt="">
      <span style="margin-left:10px;"> {{"landing.registrate_recarga" | translate}}</span>
    </div>
  </div>
  <div class="imgSeguridad">
    <img style="width:100%" src="images/landing/macFront.png">
  </div>
</section>
<!-- Fin de seccion de seguridad -->

<!-- Seccion contactos -->
<section style="margin-left:0px; padding-left:0px">

  <div class="pillar-100p" style="padding-left:0px">
    <div class="img-container" style="width:100%">
      <a name="item3"></a>
      <img class="img" src="images/landing/bgContacto.png" style="width:100%; height:100%">
      <div class="img-center color-blanco" >
        <h2 class="center hTxt1 color-blanco"> {{"landing.contactanos" | translate}} </h2>
        <p class="p-400 paddingContactos">If you have any suggestions, you can send us an email and and we'll gladly to contact you again.</p>
        <div class="pillar-100p input-contactos">
          <div class="w-45p">
            <input class="input-text placeholder-blanco" type="text" name="" placeholder="{{'landing.nombre_completo' | translate}}">
          </div>
          <div class="w-45p">
            <input class="input-text placeholder-blanco" type="text" name="" placeholder="Email">
          </div>
        </div>
        <div class="pillar-100p" style="padding:25px 0px;">
            <textarea class="placeholder-blanco" style="background:none; padding:20px; border: 1px white solid;" name="name" rows="4" cols="120" placeholder="{{'landing.ayudar' | translate}}"></textarea>
        </div>
        <div class="pillar-100p" style="flex-direction:column; text-align: -webkit-center;">
          <div class="subirImg">
            <img src="images/conectar.png" style="width: 21px;margin-right: 10px;">
            <span> {{"landing.subir_imagen" | translate}} </span>
          </div>
          <div class="btnContactos" type="button" name="button">
            <span style="margin-left:10px; text-align:center"> {{"std.enviar" | translate}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin de Seccion contactos -->
