
<section class="pillar-100p">
  <div class="homeLeft">
    <p class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
    <br>
    <hr class="hrHome">
    <br>
    <p class="txt2">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla.</p>
    <br><br><br>
    <div ui-sref="access.signup" class="btnHome" type="button" name="button">
      <img ng-src="images/icoEnviarRecarga.png" alt="">
      <span style="margin-left:10px;"> Registrate y envia una recarga</span>
    </div>
  </div>
  <div class="imgHome">
    <img src="images/landing/ipad.png">
  </div>
</section>

<section class="secFunciona">
  <h2 class="center hTxt1"> ¿CÓMO FUNCIONA? </h2>
  <div class="pillar-70p" style="margin:0 auto;">
    <div style=" width: 33.3333%; padding: 0px 10px;">
      <div class="white">
        <div class="img-central">
          <img src="images/landing/icoOrden.png" alt="">
        </div>
        <div class="center">
          <h4 style="color: #0DB730;">1. ORDEN</h4>
        </div>
        <div>
          <p class="txt3">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
        </div>
        <div class="hrFunciona">
        </div>
      </div>
    </div>
    <div style="width: 33.3333%; padding: 0px 10px;">
      <div class="white">
        <div class="img-central">
          <img src="images/landing/icoPago.png" alt="">
        </div>
        <div class="center">
          <h4 style="color: #0DB730;">2. PAGO</h4>
        </div>
        <div>
          <p class="txt3">Hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
        </div>
        <div class="hrFunciona">
        </div>
      </div>
    </div>
    <div style=" width: 33.3333%; padding: 0px 10px;">
      <div class="white">
        <div class="img-central">
          <img src="images/landing/icoRecarga.png" alt="">
        </div>
        <div class="center">
          <h4 style="color: #0DB730;">3. RECARGA</h4>
        </div>
        <div>
          <p class="txt3">Accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis.</p>
        </div>
        <div class="hrFunciona">
        </div>
      </div>
    </div>
  </div>
</section>
