<main class="dynamic-content-box" onload="primeAppVar.init()">
  <section>
    <div class="tab-home">
    <img src="images/icoOrdenGrs.png"> <p>RECARGAS ENVIADAS</p>
  </div>
  </section>
  <section>
    <div class="tab-home">
      <img src="images/menuNumFrecGrs.png"><p>NUMEROS FRECUENTES</p>
    </div>
  </section>
  <section>
    <div class="tab-home">
    <img src="images/menuTDCGrs.png">  <p>TDC AFILIADAS</p>
  </div>
  </br>
  <div class="tab-dynamic-home">
    <p>holaaaaaaaaaaa</p>
  </div>
  </section>
</main>
