<div  ng-controller="CalAmountController" ng-init="loader='mostrar';cuerpo='ocultar'">
<div ng-class="{ocultarLoader: loader === 'ocultar', mostrarLoader: loader === 'mostrar'}" style="display:flex; justify-content:center">
  <!-- <div class="overlay"></div>
    <div class="spinner" id="loaderBody"  style="position: fixed; top:30%; left:45%;">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
  </div> -->
  <div class="line-102">
    <div class="panel-green" style=" margin-top:20%; padding: 0.5pc 2pc; width: 25%; opacity:0.8">
    <div class="line-103">
      <section>
        <div class="lds-css ng-scope" style="float:left; display:flex;">
          <div style="width:100%;height:100%" class="lds-rolling">
            <div></div>
          </div>
        </div>
      </section>
      <section>
      <div>
        <p style="color: white; margin-left:0.5pc position: relative;margin-top: 12px;">
          {{"Cargando" | translate}}
        </p>
      </div>
    </section>
    </div>
  </div>
</div>
</div>

<div ng-class="{ocultarLoader: cuerpo === 'ocultar', mostrarLoader: cuerpo === 'mostrar'}" style="position:relative; top:0px; z-index:1;">
<div class="col-sm-5 pull-none m-a">
  <div class="panel panel-default m-t-lg">
    <div class="panel-body">
      <div class="wrapper">
        <form name="form" class="bs-example form-horizontal">


          <div class="form-group">
            <label class="m-l w-full">{{'Amount Recharge' | translate}}</label>
            <div class="col-sm-12">
              <div class="w-full">
                <div class="input-group w-full">
                  <span class="input-group-addon">{{currencyExpected}}</span>
                  <input ng-show="medios.length <= 1" name="amountRecharge" type="text" maxlength="12" class="form-control " style="text-align:right;letter-spacing: 5px;" ng-change="getTasa()" ng-model="recharge.amountExpected" max-amount="{{restricciones.maxAmountExpected}}" min-amount="{{restricciones.minAmountExpected}}">
                  <select ng-show="medios.length > 1" ng-options="{ medio: medio.medio, monto: medio.amountExpected} as medio.amountExpected for medio in medios" class="form-control" ng-model="recharge.amountExpected" ng-change="getTasa()">
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="m-l w-full">{{'Amount to Charge' | translate}}</label>
            <div class="col-sm-12">
              <div class="w-full">
                <div class="input-group w-full">
                  <span class="input-group-addon">USD</span>
                  <input type="text" maxlength="12" name="amountCharge" class="form-control col-md-4" style="text-align:right;letter-spacing: 5px;" ng-model="recharge.amountCharge" readonly required>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" ng-disabled="!recharge.amountExpected || !recharge.amountCharge" ng-click="continuar()" class="btn  btn-lg btn-success w-full">{{'std.Continuar' | translate}}</button>
            </div>
          </div>

           <div class="form-group">
            <div class="col-sm-12">
              <button ui-sref="app.page.index.recharge.get_contrato" class="btn  btn-sm btn-default w-full">{{'std.Cancelar' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
