<div class="col-sm-5 pull-none m-a" ng-controller="ConfirmController">
  <div class="panel panel-default">
    <div class="panel-body">

      <div>
        <h4>Descripción</h4>
        <p>{{'Recarga' | translate}} {{recharge.oferta.proveedor.nombre}}</p>
        <p>Cuenta:{{recharge.contrato}}</p>
        <p>Monto a recargar: {{recharge.amountExpected}} {{recharge.oferta.pais.iso_currency}}</p>
        <p>Monto a cobrar: {{recharge.amountCharge}} USD</p>
      </div>
      <div class="line line-dashed b-b line-lg"></div>
      <div class="">
        <div class="col-sm-12 m-b">
          <button type="submit" ng-click="continuar()" class="btn btn-lg btn-success w-full">
            {{'std.Recarga' | translate}}
          </button>
        </div>
     </div>
      <div class="">
        <div class="col-sm-12">
          <button ui-sref="app.page.index.recharge.get_contrato" class="btn  btn-sm btn-default w-full">{{'std.Cancelar' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
