<div ng-controller="ReloadController" ng-init="loader='mostrar';cuerpo='ocultar'" class="pillar-100p" onload="primeAppVar.init()">
  <div class="selecting-internal-box-R">
    <div class="line-100">
      <div class="pillar-70p" style="margin-left: 3.5pc;">
        <div class="pillar-15p">
          <div uib-dropdown  uib-dropdown-toggle class="neeru-select form-control" style="height: 40px;" required>
            <div class="country-selected">
              <div style="display: flex;" ng-hide="showCountry">
                <img src="images/icoSelectPais.png" style="width: 100%">
                <p style="margin-top: 3px; color: #747474; font-family: neeru; font-size: 0.9em;" class="p-small">País</p>
              </div>
              <div ng-show="showCountry" data-country-code="+58" style="display: flex;">
                <img src="{{pais.url}}">
                <p class="p-gray" style="font-size: 1.1em; color: #747474; margin-top: -2px;">{{pais.cod}}</p>
              </div>
            </div>
            <div id="options-neeru" class="options-neeru-select-box uib-dropdown-menu animated fadeInUp" role="menu" style="min-width: 105px !important; margin-top: 2px; border: 0;">
              <div ng-repeat="country in countries" ng-click="countrySelected(country)" class="option-neeru" data-country-code="+58" style="justify-content: start;">
                <img src="images/banderas/{{country.name}}.png">
                <p style="color: #747474; font-size: 1.1em;">{{'+'+country.phone_code}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="pillar-50p">
          <input ng-disabled="disabledNumberCountry" onblur="primeAppVar.validateInputPhone(this)" type="number" name="datos.contrato" ng-model="datos.contrato" data-mode-1 placeholder="Inserte Número" ng-maxlength="12" style="margin-left:0.5pc;height: 40px;border-right:0; border-bottom-right-radius: 0;border-top-right-radius: 0; border-right:0;">
          <button class="btn-go" ng-disabled="disabledNumberCountry" ng-click="obtenerOfertas()" type="button" name="button"><i class="fa fa-angle-right"></i></button>
        </div>
      </div>
    </div>
    <div class="line-100 aux-3-R">
      <p style="color:red;">{{error_msj_offer}}</p>
    </div>
    <div class="line-100">
      <div class="pillar-100p"  ng-show="showOperator" style="margin-left:6.5%;">
        <img src="images/icoOperadoraVrd.png" width="25px" height="25px">
        <span class="p-gray" style="margin: 5px 10px 10px;">{{datos.operadora}}</span>
      </div>
    </div>
    <div class="line-100 aux-3-R" ng-show="error_msj_oferta">
      <p style="color:red;">No se obtuvieron ofertas para el numero ingresado.</p>
    </div>
    <div ng-class="{ocultarLoader: loaderRecharge === 'ocultar', mostrarLoader: loaderRecharge === 'mostrar'}" style="display:flex; justify-content:center">
      <div class="line-102">
        <div class="panel-green" style=" margin-top:20%; padding: 0.5pc 2pc; width: 25%; opacity:0.8">
          <div class="line-103">
            <section>
              <div class="lds-css ng-scope" style="float:left; display:flex;">
                <div style="width:100%;height:100%" class="lds-rolling">
                  <div></div>
                </div>
              </div>
            </section>
            <section>
              <div>
                <p style="color: white; margin-left:0.5pc position: relative;margin-top: 12px;">
                  Cargando
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="pay-plans-box" style="display:block; margin-top:0px;">
      <div class="line-100">
        <!-- Promociones
          <div class="line-100 promo-box">
            <div class="pillar-45p promo">
              <div class="pillar-30px">
                <div class="neeru-checkbox-2">
                  <input type="checkbox" name="">
                  <span></span>
                </div>
              </div>
              <div class="pillar-auto">
                <div class="line-100">
                  <p class="p-up p-600 p-short">Promo Movistar</p>
                </div>
                <div class="line-100">
                  <p class="p-2 p-300">Bono x2</p>
                </div>
              </div>
              <div class="pillar-30px">
                <img src="images/icoPromoOperadora.png">
              </div>
            </div>
            <div class="pillar-45p promo">
              <div class="pillar-30px">
                <div class="neeru-checkbox-2">
                  <input type="checkbox" name="">
                  <span></span>
                </div>
              </div>
              <div class="pillar-auto">
                <div class="line-100">
                  <p class="p-up p-600 p-short">Promo Movistar</p>
                </div>
                <div class="line-100">
                  <p class="p-2 p-300">Bono x5</p>
                </div>
              </div>
              <div class="pillar-30px">
                <img src="images/icoPromoOperadora.png">
              </div>
            </div>
            <div class="pillar-45p promo">
              <div class="pillar-30px">
                <div class="neeru-checkbox-2">
                  <input type="checkbox" name="">
                  <span></span>
                </div>
              </div>
              <div class="pillar-auto">
                <div class="line-100">
                  <p class="p-up p-600 p-short">Promo Movistar</p>
                </div>
                <div class="line-100">
                  <p class="p-2 p-300">Bono x2</p>
                </div>
              </div>
              <div class="pillar-30px">
                <img src="images/icoPromoOperadora.png">
              </div>
            </div>
            <div class="pillar-45p promo">
              <div class="pillar-30px">
                <div class="neeru-checkbox-2">
                  <input type="checkbox" name="">
                  <span></span>
                </div>
              </div>
              <div class="pillar-auto">
                <div class="line-100">
                  <p class="p-up p-600 p-short">Promo Movistar</p>
                </div>
                <div class="line-100">
                  <p class="p-2 p-300">Bono x5</p>
                </div>
              </div>
              <div class="pillar-30px">
                <img src="images/icoPromoOperadora.png">
              </div>
            </div>
            <div class="pillar-45p promo">
              <div class="pillar-30px">
                <div class="neeru-checkbox-2">
                  <input type="checkbox" name="">
                  <span></span>
                </div>
              </div>
              <div class="pillar-auto">
                <div class="line-100">
                  <p class="p-up p-600 p-short">Promo Movistar</p>
                </div>
                <div class="line-100">
                  <p class="p-2 p-300">Bono x2</p>
                </div>
              </div>
              <div class="pillar-30px">
                <img src="images/icoPromoOperadora.png">
              </div>
            </div>
            <div class="pillar-45p promo">
              <div class="pillar-30px">
                <div class="neeru-checkbox-2">
                  <input type="checkbox" name="">
                  <span></span>
                </div>
              </div>
              <div class="pillar-auto">
                <div class="line-100">
                  <p class="p-up p-600 p-short">Promo Movistar</p>
                </div>
                <div class="line-100">
                  <p class="p-2 p-300">Bono x5</p>
                </div>
              </div>
              <div class="pillar-30px">
                <img src="images/icoPromoOperadora.png">
              </div>
            </div>
          </div>
        -->
        <!-- Ofertas -->
        <div class="line-100 plans-box" ng-show="showOffers" style="width: 80%;margin-left: 10%;">
          <div ng-repeat="producto in ofertas.productos" class="pillar-45p regular-plan" style="padding: 5px 50px;">
            <div class="pillar-auto">
              <div class="pillar-30px">
                <div class="neeru-checkbox-1">
                  <input type="radio" ng-click="selectOffer(producto)"  name="option">
                  <span></span>
                </div>
              </div>
              <div class="pillar-auto">
                <p><span class="p-500">{{ofertas.moneda_local}}/. {{producto.price_local_unit}} - </span> {{producto.price_unit}}<span class="p-short p-300">USD</span></p>
              </div>
            </div>
          </div>
          <div class="line-100 aux-2-R" style="margin-top: 50px; justify-content: flex-start;">
            <div class="pillar-45p">
              <div class="pillar-30px">
                <img src="images/icoPromo.png">
              </div>
              <div class="pillar-100p">
                <input type="text" name="promo-code" placeholder="Inserte Código Promocional" data-hide>
              </div>
            </div>
          </div>
          <div class="line-100 aux-5-R">
            <div class="line-100">
              <div class="pillar-50p">
                <p>¡¡Avísale que recargaste!! Envía un mensaje...</p>
              </div>
              <div class="pillar-50p">
                <input type="text" name="" data-mode-1 placeholder="Mensaje...">
              </div>
            </div>
          </div>
          <div class="pillar-100p" style="justify-content: space-around;margin-top: 15px;">
              <button data-standard ng-class="btnClassRecarga" ng-click="agregarAlCarrito()">
                <p>Añadir al Carrito</p>
              </button>
              <button name="button" ng-class="btnClassPassPay" data-standard  ng-click="procederAlPago(modo)" onclick="primeAppVar.changeStateMW(this);primeAppVar.payBox(this)" ng-class="btnPayment">
                <p>Proceder al Pago</p>
              </button>
          </div>
        </div>
      </div>
      <div class="line-100	frecuency-phones-box" ng-show="showFrecuent">
        <div class="line-100">
          <p class="p-gray p-300">Números Frecuentes</p>
        </div>
        <div class="line-100 aux-4-R">
          <div ng-repeat="item in frecuentes" class="pillar-25p frecuency-phone">
            <div class="pillar-50px">
              <div class="neeru-checkbox-1">
                <input type="radio" ng-click="obtenerOfertas(item.frecuente.numero)" name="Frecuente">
                <span></span>
              </div>
            </div>
            <div class="pillar-100p">
              <div class="line-100">
                <p class="p-1">{{item.frecuente.numero}}</p>
              </div>
              <div class="line-100">
                <p class="p-small p-gray">{{item.alias}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
