<div ng-controller="ReloadController" ng-init="loader='mostrar';cuerpo='ocultar'" style="text-align: -webkit-center;">

    <div class="line-100 pay-box">
      <div class="line-100" style="width: 750px;">
        <div class="lindatose-100 pay-type-box" style="display: -webkit-inline-box;">
          <div class="pillar-auto">
            <div class="pillar-30px">
              <div class="neeru-checkbox-1">
                <input type="radio" name="type-pay" ng-model="typePay" value="tdcnueva">
                <span></span>
              </div>
            </div>
            <p class="p-500 p-gray">Pagar con TDC Nueva</p>
          </div>
          <div class="pillar-auto">
            <div class="pillar-30px">
              <div class="neeru-checkbox-1">
                <input type="radio" name="type-pay" ng-model="typePay" value="afiliadas">
                <span></span>
              </div>
            </div>
            <p class="p-500 p-gray">Pagar con tarjetas afiliadas</p>
          </div>
        </div>
        <div class="dynamic-content-box" ng-if="typePay == 'afiliadas'" style="position: relative; right:11%; bottom:70px">
          <div ng-if="cards.length == 0" class="empty-activity-box" style="margin-top:120px;position: relative;right: 85px;">
            <div class="line-100">
              <img src="../../images/carita4.png">
              <p class="p-green p-300 p-5">No posees tarjetas registradas...</p>
            </div>
            <div class="line-100">
              <p class="p-gray">Agrega una tarjeta y añade saldo a tu cuenta!</p>
            </div>
          </div>

          <div ng-if="cards.length != 0" class="pillar-30p member-card" style="margin-top:120px; margin-left:87px; width:200px" ng-repeat="card in cards">
            <div class="pillar-30px">
              <div class="neeru-checkbox-1">
                <input type="radio" name="tdc-member" ng-model="cardSelected" value="{{card.id}}">
                <span></span>
              </div>
            </div>
            <div class="pillar-100p">
              <div class="line-100">
                <p>**** **** **** {{card.last4}}</p>
              </div>
              <div class="line-100">
                <p class="p-up p-gray p-500 p-small" ng-if="card.exp_month <10"> Exp: {{card.exp_month}}/{{card.exp_year}}</p>
              </div>
              <div class="pillar-70px" style="justify-content:center; align-items: center; padding: 7px;position: relative;right: 90px;">
                <span ng-show="card.brand == 'Visa'"><img src="../../images/visa.png" style="position: relative;left: 87px;display: flex;justify-content: center; top:5px;"></span>
                <span ng-show="card.brand == 'MasterCard'"><img src="../../images/master.png" style="position: relative;left: 87px;display: flex;justify-content: center;"></span>
                <span ng-show="card.brand == 'American Express'"><img src="../../images/american-express.png" style="position: relative;left: 87px;display: flex;justify-content: center;"></span>
              </div>
            </div>
          </div>
        </div>
        <form id= "formTDC" name="formTDC">
          <div class="frequent-add" style="margin-top:40px" ng-if="typePay == 'tdcnueva'">
            <div style="width: 50%;">
              <div class="line-100">
                <div class="pillar-25p">
                  <input type="text" name="first_fourth" data-mode-1 placeholder="----" minlength="4" maxlength="4" ng-model="fullCard.firstEntry" ng-change="showType(fullCard.firstEntry)" required numero style="text-align: center; letter-spacing: 5px;">
                </div>&nbsp;&nbsp;

                <div class="pillar-25p">
                  <input type="" name="second_fourth" data-mode-1 placeholder="----" maxlength="4" minlength="4" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || !fullCard.firstEntry || fullCard.firstEntry == ''" ng-model="fullCard.secondEntry" required numero style="text-align: center; letter-spacing: 5px;">
                </div>&nbsp;&nbsp;

                <div class="pillar-25p">
                  <input type="" name="third_fourth" data-mode-1 placeholder="----" maxlength="4" minlength="4" ng-model="fullCard.thirdEntry" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || !fullCard.firstEntry || fullCard.firstEntry == '' || formTDC.second_fourth.$error.required || formTDC.second_fourth.$error.numero || formTDC.second_fourth.$error.minlength || !fullCard.secondEntry || fullCard.secondEntry == ''" required numero style="text-align: center; letter-spacing: 5px;">
                </div>&nbsp;&nbsp;

                <div class="pillar-25p">
                  <input type="" name="fourth_fourth" data-mode-1 placeholder="----" maxlength="4" minlength="3" ng-model="fullCard.fourthEntry" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || formTDC.second_fourth.$error.required || formTDC.second_fourth.$error.numero || formTDC.second_fourth.$error.minlength || formTDC.third_fourth.$error.required || formTDC.third_fourth.$error.numero || formTDC.third_fourth.$error.minlength" style="text-align: center; letter-spacing: 5px;">
                </div>&nbsp;&nbsp;

                <span ng-show="cardType == 'Visa'" class="pillar-70px" style="justify-content:center; align-items: center;">
                  <img src="../../images/visa.png">
                </span>
                <span ng-show="cardType == 'Mastercard'" class="pillar-70px" style="justify-content:center; align-items: center;">
                  <img src="../../images/master.png">
                </span>
                <span ng-show="cardType == 'AmericanExpress'" class="pillar-70px" style="justify-content:center; align-items: center;">
                  <img src="../../images/american-express.png">
                </span>
              </div><br>
              <!-- Errores del campo de numero de tarjeta -->
              <div class="text-center" style="position: relative;bottom: 10px;" ng-if="formTDC.first_fourth.$dirty && (formTDC.first_fourth.$invalid || formTDC.first_fourth.$touched)" >
                <span ng-if="formTDC.first_fourth.$error.required" class="error-input-msj">
                  {{"err.required" | translate}}
                </span>
                <span ng-if="formTDC.first_fourth.$error.numero" class="error-input-msj" >
                  {{"err.numero" | translate}}
                </span>
                <span ng-if="formTDC.first_fourth.$error.minlength && !formTDC.first_fourth.$error.numero && !formTDC.first_fourth.$error.required" class="error-input-msj">
                  {{"err.minlength" | translate}} 4
                </span>
              </div>

              <div class="text-center" style="position: relative;bottom: 10px;" ng-if="formTDC.second_fourth.$dirty && (formTDC.second_fourth.$invalid || formTDC.second_fourth.$touched)">
                <span ng-if="formTDC.second_fourth.$error.required" class="error-input-msj" >
                  {{"err.required" | translate}}
                </span>
                <span ng-if="formTDC.second_fourth.$error.numero" class="error-input-msj" >
                  {{"err.numero" | translate}}
                </span>
                <span ng-if="formTDC.second_fourth.$error.minlength && !formTDC.second_fourth.$error.numero && !formTDC.second_fourth.$error.required" class="error-input-msj" >
                  {{"err.minlength" | translate}} 4
                </span>
              </div>

              <div class="text-center" style="position: relative;bottom: 10px;" ng-if="formTDC.third_fourth.$dirty && (formTDC.third_fourth.$invalid || formTDC.third_fourth.$touched)" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || !fullCard.firstEntry || fullCard.firstEntry == '' || formTDC.second_fourth.$error.required || formTDC.second_fourth.$error.numero || formTDC.second_fourth.$error.minlength || !fullCard.secondEntry || fullCard.secondEntry == ''">
                <span ng-if="formTDC.third_fourth.$error.required" class="error-input-msj" >
                  {{"err.required" | translate}}
                </span>
                <span ng-if="formTDC.third_fourth.$error.numero" class="error-input-msj" >
                  {{"err.numero" | translate}}
                </span>
                <span ng-if="formTDC.third_fourth.$error.minlength && !formTDC.third_fourth.$error.numero && !formTDC.third_fourth.$error.required" class="error-input-msj" >
                  {{"err.minlength" | translate}} 4
                </span>
              </div>

              <div class="text-center" style="position: relative;bottom: 10px;" ng-if="formTDC.fourth_fourth.$dirty && (formTDC.fourth_fourth.$invalid || formTDC.fourth_fourth.$touched)">
                <span ng-if="formTDC.fourth_fourth.$error.required" class="error-input-msj" >
                  {{"err.required" | translate}}
                </span>
                <span ng-if="formTDC.fourth_fourth.$error.numero" class="error-input-msj" >
                  {{"err.numero" | translate}}
                </span>
                <span ng-if="formTDC.fourth_fourth.$error.minlength && !formTDC.third_fourth.$error.numero && !formTDC.third_fourth.$error.required" class="error-input-msj" >
                  {{"err.minlength" | translate}} 3
                </span>
              </div>
              <!-- Errores del campo de numero de tarjeta -->

              <div class="line-100">
                <div class="pillar-50p" style="display:flex; flex-wrap: nowrap; justify-content:center; align-items: center">
                  <div class="pillar-50px">
                    <img src="../../images/icoVence.png">
                  </div>
                  <div class="pillar-200p">
                    <input type="text" name="exp_date" data-mode-1 placeholder="MM/AAAA" minlegth="6" maxlength="7" ng-model="fullCard.cardExpiry" ng-blur="verifyDate(fullCard.cardExpiry)" required>
                  </div>
                  <div class="text-center" ng-if="formTDC.exp_date.$dirty && (formTDC.exp_date.$invalid || formTDC.exp_date.$touched)">
                    <span ng-if="formTDC.exp_date.$error.required && !formTDC.cvv.$error.required" class="error-input-msj" >
                      {{"err.required" | translate}}
                    </span>
                    <span ng-if="formTDC.exp_date.$error.minlength && !formTDC.exp_date.$error.required && !formTDC.exp_date.$error.expDate" class="error-input-msj" >
                      {{"err.minlength" | translate}}
                    </span>
                    <span ng-if="!checkDate && !formTDC.exp_date.$error.required && !formTDC.exp_date.$error.minlength" class="error-input-msj" >
                      La fecha de expiración es inválida
                    </span>
                  </div>
                </div><br>

                <div class="pillar-50p aux-6-R" style="display:flex; flex-wrap: nowrap; justify-content:center; align-items: center">
                  <div class="pillar-50px" style="justify-content:space-around;">
                    <img src="../../images/icoCVV.png">
                  </div>
                  <p class="p-gray">CVV</p>
                  <div class="pillar-50p">
                    <input minlength="3" maxlength="3" type="password" name="cvv" data-mode-1 ng-model="card.cvc" required numero>
                  </div><br>
                  <div class="text-center" ng-if="formTDC.cvv.$dirty && (formTDC.cvv.$invalid || formTDC.cvv.$touched)">
                    <span ng-if="formTDC.cvv.$error.required && !!formTDC.exp_date.$error.required" class="error-input-msj" >
                      {{"err.required" | translate}}
                    </span>
                    <span ng-if="formTDC.cvv.$error.numero" class="error-input-msj" >
                      {{"err.numero" | translate}}
                    </span>
                  </div>
                </div>
              </div><br>

                <div class="line-100">
                    <input type="text" name="holder_name" data-hide-2 placeholder="Nombre del titular" maxlength="40" ng-model="card.name" string-std required>
                </div>
                <!--ERRORES EN CAMPO DE NOMBRE DEL TITULAR -->
                <div class="text-center" ng-if="formTDC.holder_name.$dirty && (formTDC.holder_name.$invalid || formTDC.holder_name.$touched)">
                  <span ng-if="formTDC.holder_name.$error.required" class="error-input-msj" >
                    {{"err.required" | translate}}
                  </span>
                  <span ng-if="formTDC.holder_name.$error.stringStd" class="error-input-msj" >
                    {{"err.stringStd" | translate}}
                  </span>
                </div>
                <!-- ERRORES EN CAMPO DEL NOMBRE DEL TITULAR -->
                <div class="line-100">
                    <input type="text" name="country" data-hide-2 placeholder="Pais" maxlength="40" ng-model="fullCard.country" required string-std>
                </div>
                <!--ERRORES EN CAMPO DEL PAIS -->
                <div class="text-center" ng-if="formTDC.country.$dirty && (formTDC.country.$invalid || formTDC.country.$touched)">
                  <span ng-if="formTDC.country.$error.required" class="error-input-msj" >
                    {{"err.required" | translate}}
                  </span>
                  <span ng-if="formTDC.country.$error.maxlength" class="error-input-msj" >
                    {{"err.maxlength" | translate}}
                  </span>
                  <span ng-if="formTDC.country.$error.stringStd" class="error-input-msj" >
                    {{"err.stringStd" | translate}}
                  </span>
                </div>
                <!-- ERRORES EN CAMPO DEL PAIS -->

                <div class="line-100">
                    <input type="text" name="address" data-hide-2 placeholder="Dirección" ng-model="fullCard.address" maxlength="40" required>
                </div>
                <!--ERRORES EN CAMPO DE LA DIRECCION -->
                <div class="text-center" ng-if="formTDC.address.$dirty && (formTDC.address.$invalid || formTDC.address.$touched)">
                  <span ng-if="formTDC.address.$error.required" class="error-input-msj" >
                    {{"err.required" | translate}}
                  </span>
                  <span ng-if="formTDC.address.$error.maxlength" class="error-input-msj" >
                    {{"err.maxlength" | translate}}
                  </span>
                </div>
                <!--ERRORES EN CAMPO DE LA DIRECCION -->

                <div class="line-100">
                    <input type="text" data-hide-2 placeholder="Descripción" ng-model="fullCard.description">
                </div>
                <br><br>
                <button data-standard class="btn-green-on">
                  <p>Pagar</p>
                </button>
            </div>
          </div>
        </form><br>
      </div>
    </div>

</div>
