<div ng-controller="ReloadController">
	<div ng-class="{ocultarLoader: loader === 'ocultar', mostrarLoader: loader === 'mostrar'}" style="display:flex; justify-content:center">
			<!-- <div class="overlay"></div>
				<div class="spinner" id="loaderBody"  style="position: fixed; top:30%; left:45%;">
					<div class="double-bounce1"></div>
					<div class="double-bounce2"></div>
			</div> -->
			<div class="line-102">
				<div class="panel-green" style=" margin-top:20%; padding: 0.5pc 2pc; width: 25%; opacity:0.8">
				<div class="line-103">
					<section>
						<div class="lds-css ng-scope" style="float:left; display:flex;">
							<div style="width:100%;height:100%" class="lds-rolling">
								<div></div>
							</div>
						</div>
					</section>
					<section>
					<div>
						<p style="color: white; margin-left:0.5pc position: relative;margin-top: 12px;">
							Cargando
						</p>
					</div>
				</section>
				</div>
			</div>
		</div>
	</div>
	<div ng-class="{ocultarLoader: cuerpo === 'ocultar', mostrarLoader: cuerpo === 'mostrar'}"  style="position:relative; top:0px; z-index:1; margin-left: 15%; margin-right: 15%;">
		<div class="dynamic-content-box" onload="primeAppVar.init()" style="margin-top: 20px" >
			<!-- <div class="reload-master-box pillar-100p"> -->
				<div class="pillar-100p" style="display: block;">
						<div class="line-100 aux-1-R" style="justify-content: space-around;">
							<div id="tab1" class="pillar-45p tab-box tab-on"  ui-sref="app.page.recharge" style="width: 350px;" data-active-tab="1" onclick="primeAppVar.changeStateMW(this)">
								<img src="images/icoOrdenVrd.png">
								<p>Orden</p>
							</div>
							<!-- onclick="primeAppVar.changeStateMW(this)" style="cursor:none;"-->
							<!-- ui-sref="app.page.recharge.get_token_stripe"  style="width: 350px;" data-active-tab="2" onclick="primeAppVar.changeStateMW(this)" -->
							<div  id="tab2" class="pillar-45p tab-box tab-off" data-active-tab="2" style="cursor:none; width: 350px;">
								<img src="images/icoPagoGrs.png">
								<p>Pago</p>
							</div>
						</div>
					<div class="pillar-100p" ui-view></div>
				</div>
				<div style="width: 40%; text-align: -webkit-center;">
					<div class="line-100 aux-1-R" onclick="primeAppVar.showResumePanel()">
						<div class="pillar-100p tab-box tab-off" style="width: 350px; display: flex;">
							<img src="images/icoResumen.png">
							<p>Resumen / Envío</p>
						</div>
					</div>
					<div class="line-100 synopsis-box">
						<div class="line-100 balance-box">

							<div ng-repeat="item in cart" style="" class="line-100 record">

								<div class="line-100">
									<div class="line-100">
										<div class="pillar-auto">
											<p class="p-up p-gray p-small">Número</p>
										</div>
										<div class="pillar-auto">
											<p>+{{item.phone}}</p>
										</div>
									</div>
									<div class="line-100">
										<div ng-click="removeRecharge(item.idSale)" class="pillar-auto">
											<p class="p-salmon p-short p-300">Eliminar</p>
										</div>
										<div class="pillar-auto">
											<p class="p-up p-gray p-300 p-short">{{item.operator}}</p>
										</div>
									</div>
								</div>

								<div class="line-100">
									<div class="line-100">
										<div class="pillar-auto">
											<p class="p-up p-gray p-small">Monto</p>
										</div>
										<div class="pillar-auto">
											<p class="p-tiny aux-text-2-R">USD</p>
											<p>{{item.price_unit}}</p>
										</div>
									</div>
									<div class="line-100">
										<div class="pillar-auto">
											<p class="p-up p-gray p-small">Tasa</p>
										</div>
										<div class="pillar-auto">
											<p class="p-tiny aux-text-2-R">USD</p>
											<p>{{item.fee}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="line-100 total-box">
							<div class="line-100">
								<div class="pillar-auto">
									<p class="p-up p-300 p-gray p-tiny">Total</p>
								</div>
								<div class="pillar-auto">
									<p class="p-tiny aux-text-2-R">USD</p>
									<p>{{totalCart}}</p>
								</div>
							</div>
							<div class="line-100">
								<button data-standard ng-class="btnClassPay" ng-click="recharge(formTDC)">
									<p>Send top-up</p>
								</button>
							</div>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</div>
	</div>
</div>
