<div ng-controller="ReloadController">
	<div ng-class="{ocultarLoader: loader === 'ocultar', mostrarLoader: loader === 'mostrar'}" style="display:flex; justify-content:center">
		<!-- <div class="overlay"></div>
			<div class="spinner" id="loaderBody"  style="position: fixed; top:30%; left:45%;">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
		</div> -->
			<div class="line-102">
				<div class="panel-green" style=" margin-top:20%; padding: 0.5pc 2pc; width: 25%; opacity:0.8">
				<div class="line-103">
					<section>
						<div class="lds-css ng-scope" style="float:left; display:flex;">
							<div style="width:100%;height:100%" class="lds-rolling">
								<div></div>
							</div>
						</div>
					</section>
					<section>
					<div>
						<p style="color: white; margin-left:0.5pc position: relative;margin-top: 12px;">
							Cargando
						</p>
					</div>
				</section>
				</div>
			</div>
		</div>
	</div>
	<div ng-class="{ocultarLoader: cuerpo === 'ocultar', mostrarLoader: cuerpo === 'mostrar'}" style="position:relative; top:0px; z-index:1;">
		<div class="dynamic-content-box" onload="primeAppVar.init()" style="margin-top: 20px" >
			<div class="reload-master-box">
				<section style="width: 90%; text-align: -webkit-center">
					<div class="line-100 aux-1-R" style="justify-content: space-evenly;">
						<div id="tab1" class="pillar-45p tab-box tab-on" style="width: 350px;" data-active-tab="1" onclick="primeAppVar.changeStateMW(this)">
							<img src="images/icoOrdenVrd.png">
							<p>Orden</p>
						</div>
						<div  id="tab2" class="pillar-45p tab-box tab-off" style="width: 350px;" data-active-tab="2" onclick="primeAppVar.changeStateMW(this)">
							<img src="images/icoPagoGrs.png">
							<p>Pago</p>
						</div>
					</div>
					<div class="line-100 selecting-box-R">
						<div class="selecting-internal-box-R">
							<div class="line-100 aux-3-R">
								<div class="pillar-45p">
									<div class="pillar-30p">
										<div uib-dropdown  uib-dropdown-toggle class="neeru-select form-control" style="height: 40px;" required>
				              <div class="country-selected">
				                <div style="display: flex;" ng-hide="showCountry">
				                  <img src="images/icoSelectPais.png" style="width: 100%">
				                  <p style="margin-top: 3px; color: #747474; font-family: neeru; font-size: 0.9em;" class="p-small">País</p>
				                </div>
				                <div ng-show="showCountry" data-country-code="+58" style="display: flex;">
				                  <img src="{{pais.url}}">
				                  <p class="p-gray" style="font-size: 1.1em; color: #747474; margin-top: -2px;">{{pais.cod}}</p>
				                </div>
				              </div>
				              <div id="options-neeru" class="options-neeru-select-box uib-dropdown-menu animated fadeInUp" role="menu" style="min-width: 105px !important; margin-top: 2px; border: 0;">
				                <div ng-repeat="country in countries" ng-click="countrySelected(country)" class="option-neeru" data-country-code="+58" style="justify-content: start;">
				                  <img src="images/banderas/{{country.name}}.png">
				                  <p style="color: #747474; font-size: 1.1em;">{{'+'+country.phone_code}}</p>
				                </div>
				              </div>
				            </div>
									</div>
									<div class="pillar-70p">
										<input onblur="primeAppVar.validateInputPhone(this)" ng-blur="obtenerOfertas()" type="text" name="datos.contrato" ng-model="datos.contrato" data-mode-1 placeholder="Inserte Número" maxlength="11" minlength="8" style="height: 40px">

									</div>
								</div>
								<div class="pillar-45p btn" style="cusor:none !important" ng-show="showOperator">
									<img src="images/icoOperadoraVrd.png">
									<p>{{datos.operadora}}</p>
								</div>
							</div>
							<div class="line-100 aux-3-R" ng-show="error_msj_oferta" style="margin: 10px auto;">
								<p style="color:red;">Numero Incorrecto</p>
							</div>
							<div class="pay-plans-box" style="display:block">
								<div class="line-100">
									<!-- Promociones
									<div class="line-100 promo-box">
										<div class="pillar-45p promo">
											<div class="pillar-30px">
												<div class="neeru-checkbox-2">
													<input type="checkbox" name="">
													<span></span>
												</div>
											</div>
											<div class="pillar-auto">
												<div class="line-100">
													<p class="p-up p-600 p-short">Promo Movistar</p>
												</div>
												<div class="line-100">
													<p class="p-2 p-300">Bono x2</p>
												</div>
											</div>
											<div class="pillar-30px">
												<img src="images/icoPromoOperadora.png">
											</div>
										</div>
										<div class="pillar-45p promo">
											<div class="pillar-30px">
												<div class="neeru-checkbox-2">
													<input type="checkbox" name="">
													<span></span>
												</div>
											</div>
											<div class="pillar-auto">
												<div class="line-100">
													<p class="p-up p-600 p-short">Promo Movistar</p>
												</div>
												<div class="line-100">
													<p class="p-2 p-300">Bono x5</p>
												</div>
											</div>
											<div class="pillar-30px">
												<img src="images/icoPromoOperadora.png">
											</div>
										</div>
										<div class="pillar-45p promo">
											<div class="pillar-30px">
												<div class="neeru-checkbox-2">
													<input type="checkbox" name="">
													<span></span>
												</div>
											</div>
											<div class="pillar-auto">
												<div class="line-100">
													<p class="p-up p-600 p-short">Promo Movistar</p>
												</div>
												<div class="line-100">
													<p class="p-2 p-300">Bono x2</p>
												</div>
											</div>
											<div class="pillar-30px">
												<img src="images/icoPromoOperadora.png">
											</div>
										</div>
										<div class="pillar-45p promo">
											<div class="pillar-30px">
												<div class="neeru-checkbox-2">
													<input type="checkbox" name="">
													<span></span>
												</div>
											</div>
											<div class="pillar-auto">
												<div class="line-100">
													<p class="p-up p-600 p-short">Promo Movistar</p>
												</div>
												<div class="line-100">
													<p class="p-2 p-300">Bono x5</p>
												</div>
											</div>
											<div class="pillar-30px">
												<img src="images/icoPromoOperadora.png">
											</div>
										</div>
										<div class="pillar-45p promo">
											<div class="pillar-30px">
												<div class="neeru-checkbox-2">
													<input type="checkbox" name="">
													<span></span>
												</div>
											</div>
											<div class="pillar-auto">
												<div class="line-100">
													<p class="p-up p-600 p-short">Promo Movistar</p>
												</div>
												<div class="line-100">
													<p class="p-2 p-300">Bono x2</p>
												</div>
											</div>
											<div class="pillar-30px">
												<img src="images/icoPromoOperadora.png">
											</div>
										</div>
										<div class="pillar-45p promo">
											<div class="pillar-30px">
												<div class="neeru-checkbox-2">
													<input type="checkbox" name="">
													<span></span>
												</div>
											</div>
											<div class="pillar-auto">
												<div class="line-100">
													<p class="p-up p-600 p-short">Promo Movistar</p>
												</div>
												<div class="line-100">
													<p class="p-2 p-300">Bono x5</p>
												</div>
											</div>
											<div class="pillar-30px">
												<img src="images/icoPromoOperadora.png">
											</div>
										</div>
									</div>
								-->
								<!-- Ofertas -->
									<div class="line-100 plans-box" ng-show="showOffers">
										<div ng-repeat="producto in ofertas.productos" class="pillar-45p regular-plan">
											<div class="pillar-auto">
												<div class="pillar-30px">
													<div class="neeru-checkbox-1">
														<input type="radio" ng-click="selectOffer(producto)"  name="option">
														<span></span>
													</div>
												</div>
												<div class="pillar-auto">
													<p><span class="p-500">{{ofertas.moneda_local}}/. {{producto.price_local_unit}} - </span> {{producto.price_unit}}<span class="p-short p-300">USD</span></p>
												</div>
											</div>
										</div>
										<div class="line-100">
											<p class="p-up p-500 p-short">Sujeto a tasas locales</p>
										</div>
									</div>
								</div>
								<div class="line-100 aux-5-R">
									<div class="line-100">
										<p>¡¡Avísale que recargaste!! Envía un mensaje...</p>
									</div>
									<div class="line-100">
										<input type="text" name="" data-mode-1 placeholder="Mensaje...">
									</div>
								</div>
							<div class="line-100	frecuency-phones-box">
								<div class="line-100">
									<p class="p-gray p-300">Números Frecuentes</p>
								</div>
								<div class="line-100 aux-4-R">
									<div class="pillar-25p frecuency-phone">
										<div class="pillar-50px">
											<div class="neeru-checkbox-1">
												<input type="checkbox" name="">
												<span></span>
											</div>
										</div>
										<div class="pillar-100p">
											<div class="line-100">
												<p class="p-1">+58 111-2222</p>
											</div>
											<div class="line-100">
												<p class="p-small p-gray">Movistar</p>
											</div>
										</div>
									</div>
									<div class="pillar-25p frecuency-phone">
										<div class="pillar-50px">
											<div class="neeru-checkbox-1">
												<input type="checkbox" name="">
												<span></span>
											</div>
										</div>
										<div class="pillar-100p">
											<div class="line-100">
												<p class="p-1">+58 111-2222</p>
											</div>
											<div class="line-100">
												<p class="p-small p-gray">Digitel</p>
											</div>
										</div>
									</div>
									<div class="pillar-25p frecuency-phone">
										<div class="pillar-50px">
											<div class="neeru-checkbox-1">
												<input type="checkbox" name="">
												<span></span>
											</div>
										</div>
										<div class="pillar-100p">
											<div class="line-100">
												<p class="p-1">+58 111-2222</p>
											</div>
											<div class="line-100">
												<p class="p-small p-gray">Telcel</p>
											</div>
										</div>
									</div>
									<div class="pillar-25p frecuency-phone">
										<div class="pillar-50px">
											<div class="neeru-checkbox-1">
												<input type="checkbox" name="">
												<span></span>
											</div>
										</div>
										<div class="pillar-100p">
											<div class="line-100">
												<p class="p-1">+58 111-2222</p>
											</div>
											<div class="line-100">
												<p class="p-small p-gray">Movistar</p>
											</div>
										</div>
									</div>
									<div class="pillar-25p frecuency-phone">
										<div class="pillar-50px">
											<div class="neeru-checkbox-1">
												<input type="checkbox" name="">
												<span></span>
											</div>
										</div>
										<div class="pillar-100p">
											<div class="line-100">
												<p class="p-1">+58 111-2222</p>
											</div>
											<div class="line-100">
												<p class="p-small p-gray">Digitel</p>
											</div>
										</div>
									</div>
									<div class="pillar-25p frecuency-phone">
										<div class="pillar-50px">
											<div class="neeru-checkbox-1">
												<input type="checkbox" name="">
												<span></span>
											</div>
										</div>
										<div class="pillar-100p">
											<div class="line-100">
												<p class="p-1">+58 111-2222</p>
											</div>
											<div class="line-100">
												<p class="p-small p-gray">Telcel</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="line-100 aux-2-R">
							<!-- <div class="pillar-45p">
								<div class="pillar-30px">
									<img src="images/icoPromo.png">
								</div>
								<div class="pillar-100p">
									<input type="text" name="promo-code" placeholder="Inserte Código Promocional" data-hide>
								</div>
							</div> -->
							<div class="pillar-100p" style="border: none;justify-content: space-around;margin-top: 15px;">
								<button data-standard class="btn-off" onclick="primeAppVar.payBox(this)">
									<p>Elegir modo de pago</p>
								</button>
									<button data-standard ng-class="btnClass" ng-click="agregarAlCarrito()">
										<p>Añadir</p>
									</button>
							</div>
						</div>
					</div>
					<div class="line-100 pay-box">
						<div class="line-100" style="width: 750px;">
							<div class="line-100 pay-type-box" style="position:relative; left:1%">
								<div class="pillar-auto">
									<div class="pillar-30px">
										<div class="neeru-checkbox-1">
											<input type="radio" name="type-pay" ng-model="typePay" value="tdcnueva">
											<span></span>
										</div>
									</div>
									<p class="p-500">Pagar con TDC Nueva</p>
								</div>
								<div class="pillar-auto">
									<div class="pillar-30px">
										<div class="neeru-checkbox-1">
											<input type="radio" name="type-pay" ng-model="typePay" value="afiliadas">
											<span></span>
										</div>
									</div>
									<p class="p-500">Pagar con tarjetas afiliadas</p>
								</div>
							</div>
							<div class="dynamic-content-box" ng-if="typePay == 'afiliadas'" style="position: relative; right:11%; bottom:70px">
				        <div ng-if="cards.length == 0" class="empty-activity-box" style="margin-top:120px;position: relative;right: 85px;">
				  				<div class="line-100">
				  					<img src="../../images/carita4.png">
				  					<p class="p-green p-300 p-5">No posees tarjetas registradas...</p>
				  				</div>
				  				<div class="line-100">
				  					<p class="p-gray">Agrega una tarjeta y añade saldo a tu cuenta!</p>
				  				</div>
				    		</div>

				        <div ng-if="cards.length != 0" class="pillar-30p member-card" style="margin-top:120px; margin-left:87px; width:200px" ng-repeat="card in cards">
									<div class="pillar-30px">
										<div class="neeru-checkbox-1">
											<input type="radio" name="tdc-member" ng-model="cardSelected" value="{{card.id}}">
											<span></span>
										</div>
									</div>
				          <div class="pillar-100p">
				            <div class="line-100">
				              <p>**** **** **** {{card.last4}}</p>
				            </div>
				            <div class="line-100">
				              <p class="p-up p-gray p-500 p-small" ng-if="card.exp_month <10"> Exp: {{card.exp_month}}/{{card.exp_year}}</p>
				            </div>
				            <div class="pillar-70px" style="justify-content:center; align-items: center; padding: 7px;position: relative;right: 90px;">
				              <span ng-show="card.brand == 'Visa'"><img src="../../images/visa.png" style="position: relative;left: 87px;display: flex;justify-content: center; top:5px;"></span>
				              <span ng-show="card.brand == 'MasterCard'"><img src="../../images/master.png" style="position: relative;left: 87px;display: flex;justify-content: center;"></span>
				              <span ng-show="card.brand == 'American Express'"><img src="../../images/american-express.png" style="position: relative;left: 87px;display: flex;justify-content: center;"></span>
				            </div>
				          </div>
				        </div>
				      </div>
							<div class="frequent-add" style="margin-top:40px" ng-if="typePay == 'tdcnueva'">
								<form id= "formTDC" name="formTDC" style="width: 50%; float: left;">
				          <div class="line-100">
				            <div class="pillar-25p">
				              <input type="text" name="first_fourth" data-mode-1 placeholder="----" minlength="4" maxlength="4" ng-model="fullCard.firstEntry" ng-change="showType(fullCard.firstEntry)" required numero style="text-align: center; letter-spacing: 5px;">
				            </div>&nbsp;&nbsp;

				            <div class="pillar-25p">
				              <input type="" name="second_fourth" data-mode-1 placeholder="----" maxlength="4" minlength="4" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || !fullCard.firstEntry || fullCard.firstEntry == ''" ng-model="fullCard.secondEntry" required numero style="text-align: center; letter-spacing: 5px;">
				            </div>&nbsp;&nbsp;

				            <div class="pillar-25p">
				              <input type="" name="third_fourth" data-mode-1 placeholder="----" maxlength="4" minlength="4" ng-model="fullCard.thirdEntry" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || !fullCard.firstEntry || fullCard.firstEntry == '' || formTDC.second_fourth.$error.required || formTDC.second_fourth.$error.numero || formTDC.second_fourth.$error.minlength || !fullCard.secondEntry || fullCard.secondEntry == ''" required numero style="text-align: center; letter-spacing: 5px;">
				            </div>&nbsp;&nbsp;

				            <div class="pillar-25p">
				              <input type="" name="fourth_fourth" data-mode-1 placeholder="----" maxlength="4" minlength="3" ng-model="fullCard.fourthEntry" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || formTDC.second_fourth.$error.required || formTDC.second_fourth.$error.numero || formTDC.second_fourth.$error.minlength || formTDC.third_fourth.$error.required || formTDC.third_fourth.$error.numero || formTDC.third_fourth.$error.minlength" style="text-align: center; letter-spacing: 5px;">
				            </div>&nbsp;&nbsp;

				            <span ng-show="cardType == 'Visa'" class="pillar-70px" style="justify-content:center; align-items: center;">
				              <img src="../../images/visa.png">
				            </span>
				            <span ng-show="cardType == 'Mastercard'" class="pillar-70px" style="justify-content:center; align-items: center;">
				              <img src="../../images/master.png">
				            </span>
				            <span ng-show="cardType == 'AmericanExpress'" class="pillar-70px" style="justify-content:center; align-items: center;">
				              <img src="../../images/american-express.png">
				            </span>
				          </div><br>

				          <!-- Errores del campo de numero de tarjeta -->
				          <div class="text-center" style="position: relative;bottom: 10px;" ng-if="formTDC.first_fourth.$dirty && (formTDC.first_fourth.$invalid || formTDC.first_fourth.$touched)" >
				            <span ng-if="formTDC.first_fourth.$error.required" class="error-input-msj">
				              {{"err.required" | translate}}
				            </span>
				            <span ng-if="formTDC.first_fourth.$error.numero" class="error-input-msj" >
				              {{"err.numero" | translate}}
				            </span>
				            <span ng-if="formTDC.first_fourth.$error.minlength && !formTDC.first_fourth.$error.numero && !formTDC.first_fourth.$error.required" class="error-input-msj">
				              {{"err.minlength" | translate}} 4
				            </span>
				          </div>

				          <div class="text-center" style="position: relative;bottom: 10px;" ng-if="formTDC.second_fourth.$dirty && (formTDC.second_fourth.$invalid || formTDC.second_fourth.$touched)">
				            <span ng-if="formTDC.second_fourth.$error.required" class="error-input-msj" >
				              {{"err.required" | translate}}
				            </span>
				            <span ng-if="formTDC.second_fourth.$error.numero" class="error-input-msj" >
				              {{"err.numero" | translate}}
				            </span>
				            <span ng-if="formTDC.second_fourth.$error.minlength && !formTDC.second_fourth.$error.numero && !formTDC.second_fourth.$error.required" class="error-input-msj" >
				              {{"err.minlength" | translate}} 4
				            </span>
				          </div>

				          <div class="text-center" style="position: relative;bottom: 10px;" ng-if="formTDC.third_fourth.$dirty && (formTDC.third_fourth.$invalid || formTDC.third_fourth.$touched)" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || !fullCard.firstEntry || fullCard.firstEntry == '' || formTDC.second_fourth.$error.required || formTDC.second_fourth.$error.numero || formTDC.second_fourth.$error.minlength || !fullCard.secondEntry || fullCard.secondEntry == ''">
				            <span ng-if="formTDC.third_fourth.$error.required" class="error-input-msj" >
				              {{"err.required" | translate}}
				            </span>
				            <span ng-if="formTDC.third_fourth.$error.numero" class="error-input-msj" >
				              {{"err.numero" | translate}}
				            </span>
				            <span ng-if="formTDC.third_fourth.$error.minlength && !formTDC.third_fourth.$error.numero && !formTDC.third_fourth.$error.required" class="error-input-msj" >
				              {{"err.minlength" | translate}} 4
				            </span>
				          </div>

				          <div class="text-center" style="position: relative;bottom: 10px;" ng-if="formTDC.fourth_fourth.$dirty && (formTDC.fourth_fourth.$invalid || formTDC.fourth_fourth.$touched)">
				            <span ng-if="formTDC.fourth_fourth.$error.required" class="error-input-msj" >
				              {{"err.required" | translate}}
				            </span>
				            <span ng-if="formTDC.fourth_fourth.$error.numero" class="error-input-msj" >
				              {{"err.numero" | translate}}
				            </span>
				            <span ng-if="formTDC.fourth_fourth.$error.minlength && !formTDC.third_fourth.$error.numero && !formTDC.third_fourth.$error.required" class="error-input-msj" >
				              {{"err.minlength" | translate}} 3
				            </span>
				          </div>
				          <!-- Errores del campo de numero de tarjeta -->

				          <div class="line-100">
				            <div class="pillar-50p" style="display:flex; flex-wrap: nowrap; justify-content:center; align-items: center">
				              <div class="pillar-50px">
				                <img src="../../images/icoVence.png">
				              </div>
				              <div class="pillar-200p">
				                <input type="text" name="exp_date" data-mode-1 placeholder="MM/AAAA" minlegth="6" maxlength="7" ng-model="fullCard.cardExpiry" ng-blur="verifyDate(fullCard.cardExpiry)" required>
				              </div>
				              <div class="text-center" ng-if="formTDC.exp_date.$dirty && (formTDC.exp_date.$invalid || formTDC.exp_date.$touched)">
				                <span ng-if="formTDC.exp_date.$error.required && !formTDC.cvv.$error.required" class="error-input-msj" >
				                  {{"err.required" | translate}}
				                </span>
				                <span ng-if="formTDC.exp_date.$error.minlength && !formTDC.exp_date.$error.required && !formTDC.exp_date.$error.expDate" class="error-input-msj" >
				                  {{"err.minlength" | translate}}
				                </span>
				                <span ng-if="!checkDate && !formTDC.exp_date.$error.required && !formTDC.exp_date.$error.minlength" class="error-input-msj" >
				                  La fecha de expiración es inválida
				                </span>
				              </div>
				            </div><br>

				            <div class="pillar-50p aux-6-R" style="display:flex; flex-wrap: nowrap; justify-content:center; align-items: center">
				              <div class="pillar-50px" style="justify-content:space-around;">
				                <img src="../../images/icoCVV.png">
				              </div>
				              <p class="p-gray">CVV</p>
				              <div class="pillar-50p">
				                <input minlength="3" maxlength="3" type="password" name="cvv" data-mode-1 ng-model="card.cvc" required numero>
				              </div><br>
				              <div class="text-center" ng-if="formTDC.cvv.$dirty && (formTDC.cvv.$invalid || formTDC.cvv.$touched)">
				                <span ng-if="formTDC.cvv.$error.required && !!formTDC.exp_date.$error.required" class="error-input-msj" >
				                  {{"err.required" | translate}}
				                </span>
				                <span ng-if="formTDC.cvv.$error.numero" class="error-input-msj" >
				                  {{"err.numero" | translate}}
				                </span>
				              </div>
				            </div>
				          </div><br>

				            <div class="line-100">
				                <input type="text" name="holder_name" data-hide-2 placeholder="Nombre del titular" maxlength="40" ng-model="card.name" string-std required>
				            </div>
				            <!--ERRORES EN CAMPO DE NOMBRE DEL TITULAR -->
				            <div class="text-center" ng-if="formTDC.holder_name.$dirty && (formTDC.holder_name.$invalid || formTDC.holder_name.$touched)">
				              <span ng-if="formTDC.holder_name.$error.required" class="error-input-msj" >
				                {{"err.required" | translate}}
				              </span>
				              <span ng-if="formTDC.holder_name.$error.stringStd" class="error-input-msj" >
				                {{"err.stringStd" | translate}}
				              </span>
				            </div>
				            <!-- ERRORES EN CAMPO DEL NOMBRE DEL TITULAR -->
				            <div class="line-100">
				                <input type="text" name="country" data-hide-2 placeholder="Pais" maxlength="40" ng-model="fullCard.country" required string-std>
				            </div>
				            <!--ERRORES EN CAMPO DEL PAIS -->
				            <div class="text-center" ng-if="formTDC.country.$dirty && (formTDC.country.$invalid || formTDC.country.$touched)">
				              <span ng-if="formTDC.country.$error.required" class="error-input-msj" >
				                {{"err.required" | translate}}
				              </span>
				              <span ng-if="formTDC.country.$error.maxlength" class="error-input-msj" >
				                {{"err.maxlength" | translate}}
				              </span>
				              <span ng-if="formTDC.country.$error.stringStd" class="error-input-msj" >
				                {{"err.stringStd" | translate}}
				              </span>
				            </div>
				            <!-- ERRORES EN CAMPO DEL PAIS -->

				            <div class="line-100">
				                <input type="text" name="address" data-hide-2 placeholder="Dirección" ng-model="fullCard.address" maxlength="40" required>
				            </div>
				            <!--ERRORES EN CAMPO DE LA DIRECCION -->
				            <div class="text-center" ng-if="formTDC.address.$dirty && (formTDC.address.$invalid || formTDC.address.$touched)">
				              <span ng-if="formTDC.address.$error.required" class="error-input-msj" >
				                {{"err.required" | translate}}
				              </span>
				              <span ng-if="formTDC.address.$error.maxlength" class="error-input-msj" >
				                {{"err.maxlength" | translate}}
				              </span>
				            </div>
				            <!--ERRORES EN CAMPO DE LA DIRECCION -->

				            <div class="line-100">
				                <input type="text" data-hide-2 placeholder="Descripción" ng-model="fullCard.description">
				            </div>
				        </form><br>
				      </div>
						</div>
						<div class="line-100 member-card-box">
							<div class="line-100">
								<p class="p-up p-gray">tdc afilidas</p>
							</div>
						</div>
					</div>
				</section>
				<section style="width: 40%; text-align: -webkit-center;">
					<div class="line-100 aux-1-R" onclick="primeAppVar.showResumePanel()">
						<div class="pillar-100p tab-box tab-off" style="width: 350px;">
							<img src="images/icoResumen.png">
							<p>Resumen / Envío</p>
						</div>
					</div>
					<div class="line-100 synopsis-box" style="width: 350px;">
						<div class="line-100 balance-box">
							<div ng-repeat="item in cart" class="line-100 record">
								<div class="line-100">
									<div class="line-100">
										<div class="pillar-auto">
											<p class="p-up p-gray p-small">Número</p>
										</div>
										<div class="pillar-auto">
											<p>+{{item.phone}}</p>
										</div>
									</div>
									<div class="line-100">
										<div class="pillar-auto">
											<p class="p-salmon p-short p-300">Eliminar</p>
										</div>
										<div class="pillar-auto">
											<p class="p-up p-gray p-300 p-short">{{item.operator}}</p>
										</div>
									</div>
								</div>
								<div class="line-100">
									<div class="line-100">
										<div class="pillar-auto">
											<p class="p-up p-gray p-small">Monto</p>
										</div>
										<div class="pillar-auto">
											<p class="p-tiny aux-text-2-R">USD</p>
											<p>{{item.price_unit}}</p>
										</div>
									</div>
									<div class="line-100">
										<div class="pillar-auto">
											<p class="p-up p-gray p-small">Tasa</p>
										</div>
										<div class="pillar-auto">
											<p class="p-tiny aux-text-2-R">USD</p>
											<p>{{item.fee}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="line-100 total-box">
							<div class="line-100">
								<div class="pillar-auto">
									<p class="p-up p-300 p-gray p-tiny">Total</p>
								</div>
								<div class="pillar-auto">
									<p class="p-tiny aux-text-2-R">USD</p>
									<p>999,9999,999</p>
								</div>
							</div>
							<div class="line-100">
								<button data-standard class="btn-off" onclick="primeAppVar.modalOpen('congratulationMsn')">
									<p>Pagar y enviar</p>
								</button>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
