<div ng-init="loader='mostrar';cuerpo='ocultar'" ng-controller="tdcCtrl">
<div ng-class="{ocultarLoader: loader === 'ocultar', mostrarLoader: loader === 'mostrar'}" style="display:flex; justify-content:center">
  <!-- <div class="overlay"></div>
    <div class="spinner" id="loaderBody"  style="position: fixed; top:30%; left:45%;">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
  </div> -->
  <div class="line-102">
    <div class="panel-green" style=" margin-top:20%; padding: 0.5pc 2pc; width: 25%; opacity:0.8">
    <div class="line-103">
      <section>
        <div class="lds-css ng-scope" style="float:left; display:flex;">
          <div style="width:100%;height:100%" class="lds-rolling">
            <div></div>
          </div>
        </div>
      </section>
      <section>
      <div>
        <p style="color: white; margin-left:0.5pc position: relative;margin-top: 12px;">
          Cargando
        </p>
      </div>
    </section>
    </div>
  </div>
</div>
</div>

<div ng-class="{ocultarLoader: cuerpo === 'ocultar', mostrarLoader: cuerpo === 'mostrar'}" style="position:relative; top:0px; z-index:1;">
<div class="dynamic-content-box" onload="primeAppVar.init()"  style="margin-top: 20px; justify-content: space-between; height: 100%">
  <div class="frequent-master-box">
    <section>
      <div class="dynamic-content-box">

        <div ng-if="cards.length == 0" class="empty-activity-box" style="margin-top:120px;position: relative;right: 85px;">
  				<div class="line-100">
  					<img src="../../images/carita4.png">
  					<p class="p-green p-300 p-5">No posees tarjetas registradas...</p>
  				</div>
  				<div class="line-100">
  					<p class="p-gray">Agrega una tarjeta y añade saldo a tu cuenta!</p>
  				</div>
    		</div>

        <div ng-if="cards.length != 0" class="pillar-16p member-card" style="margin-top:120px; margin-left:37px; width:185px" ng-repeat="card in cards">
          <div class="pillar-100p">
            <div class="line-100">
              <p>**** **** **** {{card.last4}}</p>
            </div>
            <div class="line-100">
              <p class="p-up p-gray p-500 p-small" ng-if="card.exp_month <10"> Exp: {{card.exp_month}}/{{card.exp_year}}</p>
            </div>
            <div class="pillar-70px" style="justify-content:center; align-items: center; padding: 7px;position: relative;right: 90px;">
              <span ng-show="card.brand == 'Visa'"><img src="../../images/visa.png" style="position: relative;left: 87px;display: flex;justify-content: center; top:5px;"></span>
              <span ng-show="card.brand == 'MasterCard'"><img src="../../images/master.png" style="position: relative;left: 87px;display: flex;justify-content: center;"></span>
              <span style="display: flex; justify-content: flex-end; position: relative; left: 165px;"><a style="cursor:pointer" ng-click="desafiliarTarjeta(card.id)"><img src="../../images/icoEliminar.png"></a></span>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section>
      <div class="frequent-add" style="margin-right:40px">
        <form id= "formTDC" name="formTDC">
          <div class="line-100">

            <div class="pillar-25p">
              <input type="text" name="first_fourth" data-mode-1 placeholder="----" minlength="4" maxlength="4" ng-model="fullCard.firstEntry" ng-change="showType(fullCard.firstEntry)" required numero>
            </div>&nbsp;&nbsp;
            <div class="text-center" ng-if="formTDC.first_fourth.$dirty && (formTDC.first_fourth.$invalid || formTDC.first_fourth.$touched)">
              <span ng-if="formTDC.first_fourth.$error.required" class="error-input-msj" >
                {{"err.required" | translate}}
              </span>
              <span ng-if="formTDC.first_fourth.$error.numero" class="error-input-msj" >
                {{"err.numero" | translate}}
              </span>
              <span ng-if="formTDC.first_fourth.$error.minlength && !formTDC.first_fourth.$error.numero && !formTDC.first_fourth.$error.required" class="error-input-msj">
                {{"err.minlength" | translate}} 4
              </span>
            </div>

            <div class="pillar-25p">
              <input type="" name="second_fourth" data-mode-1 placeholder="----" maxlength="4" minlength="4" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || !fullCard.firstEntry || fullCard.firstEntry == ''" ng-model="fullCard.secondEntry" required numero>
            </div>&nbsp;&nbsp;
            <div class="text-center" ng-if="formTDC.second_fourth.$dirty && (formTDC.second_fourth.$invalid || formTDC.second_fourth.$touched)">
              <span ng-if="formTDC.second_fourth.$error.required" class="error-input-msj" >
                {{"err.required" | translate}}
              </span>
              <span ng-if="formTDC.second_fourth.$error.numero" class="error-input-msj" >
                {{"err.numero" | translate}}
              </span>
              <span ng-if="formTDC.second_fourth.$error.minlength && !formTDC.second_fourth.$error.numero && !formTDC.second_fourth.$error.required" class="error-input-msj" >
                {{"err.minlength" | translate}} 4
              </span>
            </div>

            <div class="pillar-25p">
              <input type="" name="third_fourth" data-mode-1 placeholder="----" maxlength="4" minlength="4" ng-model="fullCard.thirdEntry" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || !fullCard.firstEntry || fullCard.firstEntry == '' || formTDC.second_fourth.$error.required || formTDC.second_fourth.$error.numero || formTDC.second_fourth.$error.minlength || !fullCard.secondEntry || fullCard.secondEntry == ''" required numero>
            </div>&nbsp;&nbsp;
            <div class="text-center" ng-if="formTDC.third_fourth.$dirty && (formTDC.third_fourth.$invalid || formTDC.third_fourth.$touched)" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || !fullCard.firstEntry || fullCard.firstEntry == '' || formTDC.second_fourth.$error.required || formTDC.second_fourth.$error.numero || formTDC.second_fourth.$error.minlength || !fullCard.secondEntry || fullCard.secondEntry == ''">
              <span ng-if="formTDC.third_fourth.$error.required" class="error-input-msj" >
                {{"err.required" | translate}}
              </span>
              <span ng-if="formTDC.third_fourth.$error.numero" class="error-input-msj" >
                {{"err.numero" | translate}}
              </span>
              <span ng-if="formTDC.third_fourth.$error.minlength && !formTDC.third_fourth.$error.numero && !formTDC.third_fourth.$error.required" class="error-input-msj" >
                {{"err.minlength" | translate}} 4
              </span>
            </div>

            <div class="pillar-25p">
              <input type="" name="fourth_fourth" data-mode-1 placeholder="----" maxlength="4" minlength="3" ng-model="fullCard.fourthEntry" ng-disabled="formTDC.first_fourth.$error.required || formTDC.first_fourth.$error.numero || formTDC.first_fourth.$error.minlength || formTDC.second_fourth.$error.required || formTDC.second_fourth.$error.numero || formTDC.second_fourth.$error.minlength || formTDC.third_fourth.$error.required || formTDC.third_fourth.$error.numero || formTDC.third_fourth.$error.minlength">
            </div>&nbsp;&nbsp;
            <div class="text-center" ng-if="formTDC.fourth_fourth.$dirty && (formTDC.fourth_fourth.$invalid || formTDC.fourth_fourth.$touched)">
              <span ng-if="formTDC.fourth_fourth.$error.required" class="error-input-msj" >
                {{"err.required" | translate}}
              </span>
              <span ng-if="formTDC.fourth_fourth.$error.numero" class="error-input-msj" >
                {{"err.numero" | translate}}
              </span>
              <span ng-if="formTDC.fourth_fourth.$error.minlength && !formTDC.third_fourth.$error.numero && !formTDC.third_fourth.$error.required" class="error-input-msj" >
                {{"err.minlength" | translate}} 3
              </span>
            </div>

            <span ng-show="cardType == 'Visa'" class="pillar-70px" style="justify-content:center; align-items: center;">
              <img src="../../images/visa.png">
            </span>
            <span ng-show="cardType == 'Mastercard'" class="pillar-70px" style="justify-content:center; align-items: center;">
              <img src="../../images/master.png">
            </span>

          </div><br>

          <div class="line-100">
            <div class="pillar-50p" style="display:flex; flex-wrap: nowrap; justify-content:center; align-items: center">
              <div class="pillar-50px">
                <img src="../../images/icoVence.png">
              </div>
              <div class="pillar-200p">
                <input type="text" name="exp_date" data-mode-1 placeholder="MM/AAAA" minlegth="6" maxlength="7" ng-model="fullCard.cardExpiry" ng-blur="verifyDate(fullCard.cardExpiry)" required>
              </div>
              <!--ERRORES EN CAMPO DE FECHA DE EXPIRACION -->
              <div class="text-center" ng-if="formTDC.exp_date.$dirty && (formTDC.exp_date.$invalid || formTDC.exp_date.$touched)">
                <span ng-if="formTDC.exp_date.$error.required" class="error-input-msj" >
                  {{"err.required" | translate}}
                </span>
                <span ng-if="formTDC.exp_date.$error.minlength && !formTDC.exp_date.$error.required && !formTDC.exp_date.$error.expDate" class="error-input-msj" >
                  {{"err.minlength" | translate}}
                </span>
                <span ng-if="!checkDate && !formTDC.exp_date.$error.required && !formTDC.exp_date.$error.minlength" class="error-input-msj" >
                  La fecha de expiración es inválida
                </span>
              </div>
              <!-- ERRORES EN CAMPO DE FECHA DE EXPIRACION -->
            </div><br>

            <div class="pillar-50p aux-6-R" style="display:flex; flex-wrap: nowrap; justify-content:center; align-items: center">
              <div class="pillar-50px" style="justify-content:space-around;">
                <img src="../../images/icoCVV.png">
              </div>
              <p class="p-gray">CVV</p>
              <div class="pillar-50p">
                <input minlength="3" maxlength="3" type="password" name="cvv" data-mode-1 ng-model="card.cvc" required numero>
              </div><br>
              <!--ERRORES EN CAMPO DE CVV -->
              <div class="text-center" ng-if="formTDC.cvv.$dirty && (formTDC.cvv.$invalid || formTDC.cvv.$touched)">
                <span ng-if="formTDC.cvv.$error.required" class="error-input-msj" >
                  {{"err.required" | translate}}
                </span>
                <span ng-if="formTDC.cvv.$error.numero" class="error-input-msj" >
                  {{"err.numero" | translate}}
                </span>
              </div>
              <!-- ERRORES EN CAMPO DE CVV -->
              </div>
            </div><br>
            <div class="line-100">
                <input type="text" name="holder_name" data-hide-2 placeholder="Nombre del titular" maxlength="40" ng-model="card.name" string-std required>
            </div>
            <!--ERRORES EN CAMPO DE NOMBRE DEL TITULAR -->
            <div class="text-center" ng-if="formTDC.holder_name.$dirty && (formTDC.holder_name.$invalid || formTDC.holder_name.$touched)">
              <span ng-if="formTDC.holder_name.$error.required" class="error-input-msj" >
                {{"err.required" | translate}}
              </span>
              <span ng-if="formTDC.holder_name.$error.stringStd" class="error-input-msj" >
                {{"err.stringStd" | translate}}
              </span>
            </div>
            <!-- ERRORES EN CAMPO DEL NOMBRE DEL TITULAR -->
            <div class="line-100">
                <input type="text" name="country" data-hide-2 placeholder="Pais" maxlength="40" ng-model="card.country" required string-std>
            </div>
            <!--ERRORES EN CAMPO DEL PAIS -->
            <div class="text-center" ng-if="formTDC.country.$dirty && (formTDC.country.$invalid || formTDC.country.$touched)">
              <span ng-if="formTDC.country.$error.required" class="error-input-msj" >
                {{"err.required" | translate}}
              </span>
              <span ng-if="formTDC.country.$error.maxlength" class="error-input-msj" >
                {{"err.maxlength" | translate}}
              </span>
              <span ng-if="formTDC.country.$error.stringStd" class="error-input-msj" >
                {{"err.stringStd" | translate}}
              </span>
            </div>
            <!-- ERRORES EN CAMPO DEL PAIS -->

            <div class="line-100">
                <input type="text" name="address" data-hide-2 placeholder="Dirección" ng-model="fullCard.address" maxlength="40" required>
            </div>
            <!--ERRORES EN CAMPO DE LA DIRECCION -->
            <div class="text-center" ng-if="formTDC.address.$dirty && (formTDC.address.$invalid || formTDC.address.$touched)">
              <span ng-if="formTDC.address.$error.required" class="error-input-msj" >
                {{"err.required" | translate}}
              </span>
              <span ng-if="formTDC.address.$error.maxlength" class="error-input-msj" >
                {{"err.maxlength" | translate}}
              </span>
            </div>
            <!--ERRORES EN CAMPO DE LA DIRECCION -->

            <div class="line-100">
                <input type="text" data-hide-2 placeholder="Descripción" ng-model="fullCard.description">
            </div>

            <div class="line-100">
                <input type="email" name="email" data-hide-2 placeholder="Correo electrónico" ng-model="fullCard.email" pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$" maxlength="60" required>
            </div>
            <!--ERRORES EN CAMPO DEL EMAIL DEL TITULAR -->
            <div class="text-center" ng-if="formTDC.email.$dirty && (formTDC.email.$invalid || formTDC.email.$touched)">
              <span ng-if="formTDC.email.$error.required" class="error-input-msj" >
                {{"err.required" | translate}}
              </span>
              <span ng-if="formTDC.email.$error.email" class="error-input-msj" >
                {{"err.email.format" | translate}}
              </span>
            </div>
            <!-- ERRORES EN CAMPO DEL EMAIL DEL TITULAR -->
            <br><br>
            <div style="float: right;">
              <button data-standard class="btn-green-on" style="display: flex" ng-click="afiliarTarjeta()" ng-disabled="formTDC.$invalid">
                <img src="images/icoTDCAfiliada.png">
                <p style="margin-left: 10px;">Añadir tarjeta</p>
              </button>
            </div>
        </form><br>

      </div>
    </section>
  </div>
</div>
</div>
</div>
<script src="js/ui-load.js"></script>
<script src="js/ui-jp.config.js"></script>
<script src="js/ui-jp.js"></script>
