<div ng-controller="updateFichaCtrl">
    <div class="container-fluid jumbotron">
        <h2 align="center" style="color:#5a5c60; margin-top:0%; margin-bottom:0%">MODIFICAR INFORMACION</h2>
        <h2 align="center" style="color:#5a5c60; margin-top:0.5%; margin-bottom:0%">
            <i class="fa fa-plus" style="color:#5a5c60"></i>
        </h2>
    </div>
    <div style="margin:20%; margin-top:5px" align="center">
        <div align="center">

            <!-- FICHA DE NINOS -->
            <div ng-if="isNino == 'true'" align="center">
                <form id="kidForm" class="form-validation" align="center">
                    <fieldset align="center">
                        <br>
                        <div style="width:40%; margin-left:30%" align="center">
                            <!-- <input data-hide-3 type="text" name="ficha.nino.id_representante" placeholder="No. Ficha de Representante" maxlength="50"
                                ng-model="ficha.nino.id_representante" required style="text-align:center"> -->
                                <h5>Tipo de ficha: Niño</h5>
                                <h4><strong>No. Ficha de Representante:</strong> {{ficha.nino.representante}}</h4>
                        </div>
                        <br>
                        <br>
                        <h4 align="center" style="color:#5a5c60"> - DATOS PERSONALES -</h4>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.nino.nombres" placeholder="Nombres" maxlength="50" ng-model="ficha.nino.nombres"
                                required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.nino.apellidos" placeholder="Apellidos" maxlength="50" ng-model="ficha.nino.apellidos"
                                required>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.nino.fecha_nacimiento" placeholder="Fecha de Nacimiento (DD-MM-AAA)" maxlength="50"
                                ng-model="ficha.nino.fecha_nacimiento" required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6" style="text-align:start">
                            <!-- <input data-hide-3 type="text" name="ficha.nino.cedula" placeholder="Cedula (V-XXXXXXX)" maxlength="50" ng-model="ficha.nino.cedula"
                                required> -->
                                <h5 >Cedula: {{ficha.nino.cedula}}</h5>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <br>


                        <!-- PONER CHECKBOX DE ESTUDIA -->
                        <h4 align="center" style="color:#5a5c60"> - DATOS ESCOLARES -</h4>
                        <br>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="ficha.nino.estudia" ng-model="ficha.nino.estudia">
                            <label class="form-check-label" for="exampleCheck1">¿Estudia actualmente?</label>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.nino.colegio" placeholder="Colegio" maxlength="50" ng-model="ficha.nino.colegio"
                                required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.nino.grado" placeholder="Grado" maxlength="50" ng-model="ficha.nino.grado" required>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-xs-10 col-sm-6 col-md-12 col-lg-12">
                            <input data-hide-3 type="text" name="ficha.nino.direccion_colegio" placeholder="Direccion del Colegio" maxlength="50" ng-model="ficha.nino.direccion_colegio"
                                required>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <br>
                        <h4 align="center" style="color:#5a5c60"> - DATOS MEDICOS -</h4>
                        <br>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="ficha.nino.isEnfermo" ng-model="ficha.nino.isEnfermo">
                            <label class="form-check-label" for="exampleCheck1">¿Tiene alguna enfermedad?</label>
                        </div>

                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.nino.enfermedad" placeholder="Enfermedad(es)" maxlength="50" ng-model="ficha.nino.enfermedad"
                                required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.nino.alergia" placeholder="Alergia(s)" maxlength="50" ng-model="ficha.nino.alergia"
                                required>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.nino.medicamentos" placeholder="Medicamento(s)" maxlength="50" ng-model="ficha.nino.medicamentos"
                                required>
                        </div>
                        <div class="clearfix"></div>



                        <h4 align="center" style="color:#5a5c60"> - DATOS ANTROPOMÉTRICOS INICIALES -</h4>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.historial_peso.peso" placeholder="Peso (kg)" maxlength="50" ng-model="ficha.historial_peso.peso"
                                required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.historial_peso.circunferencia_brazo" placeholder="Circunferencia de brazo (cm)"
                                maxlength="50" ng-model="ficha.historial_peso.circunferencia_brazo" required>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.historial_peso.altura" placeholder="Altura (cm)" maxlength="50" ng-model="ficha.historial_peso.altura"
                                required>
                        </div>

                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha.historial_peso.circunferencia_cabeza" placeholder="Circunferencia de cabeza (cm) - solo para menores de 2 años"
                                maxlength="50" ng-model="ficha.historial_peso.circunferencia_cabeza" required>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-xs-10 col-sm-6 col-md-12 col-lg-12">
                            <input data-hide-3 type="text" name="ficha.historial_peso.diagnostico" placeholder="Diagnóstico" maxlength="50" ng-model="ficha.historial_peso.diagnostico"
                                required>
                        </div>
                        <div class="clearfix"></div>
                    </fieldset>

                </form>
                <div style="margin-top:51px; justify-content:center;  width:30%">
                    <button type="submit" style="font-family: neeru; width:100%" data-standard class="btn-green" ng-click="modificarKid(ficha)"
                        ladda="loading" data-style="expand-right">Aceptar</button>
                </div>
            </div>
            <!-- FIN DE FICHA DE NINO -->

            <!-- FICHA DE REPRESENTANTE -->
            <div ng-if="isNino == 'false'">
                <form id="createFicha" class="form-validation" type="submit" align="center">
                    <fieldset>
                        <br>
                        <div style="width:40%; margin-left:30%" align="center">
                                <!-- <input data-hide-3 type="text" name="ficha.nino.id_representante" placeholder="No. Ficha de Representante" maxlength="50"
                                    ng-model="ficha.nino.id_representante" required style="text-align:center"> -->
                                    <h5>Tipo de ficha: Representante</h5>
                                    <!-- <h4><strong>No. Ficha de Representante:</strong> {{ficha.nino.representante}}</h4> -->
                            </div>
                        <div style="width:40%; margin-left:30%" align="center">
                            <input data-hide-3 type="text" name="ficha_representante.sector" placeholder="Sector" maxlength="50" ng-model="ficha_representante.sector"
                                required style="text-align:center">
                        </div>
                        <div class="clearfix"></div>
                        <div style="width:40%; margin-left:30%" align="center">
                            <input data-hide-3 type="text" name="ficha_representante.parroquia" placeholder="Parroquia" maxlength="50" ng-model="ficha_representante.parroquia"
                                required style="text-align:center">
                        </div>
                        <br>
                        <br>
                        <h4 align="center" style="color:#5a5c60"> - DATOS PERSONALES -</h4>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">

                            <label for="sexoSelect"> Sexo: </label>
                            <br>
                            <select name="ficha_representante.sexoSelect" ng-model="ficha_representante.sexoSelect" ng-options="sexo as sexo.label for sexo in sexos track by sexo.value">
                            </select>
                        </div>

                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">

                            <label for="edoCivilSelect"> Estado Civil: </label>
                            <br>
                            <select name="ficha_representante.edoCivilSelect" ng-model="ficha_representante.edoCivilSelect" ng-options="estado as estado.label for estado in estadosciviles track by estado.value">
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha_representante.nombres" placeholder="Nombres" maxlength="50" ng-model="ficha_representante.nombres"
                                required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha_representante.apellidos" placeholder="Apellidos" maxlength="50" ng-model="ficha_representante.apellidos"
                                required>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha_representante.fecha_nacimiento" placeholder="Fecha de Nacimiento (DD-MM-AAA)"
                                maxlength="50" ng-model="ficha_representante.fecha_nacimiento" required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6" style="text-align:start">
                                <!-- <input data-hide-3 type="text" name="ficha.nino.cedula" placeholder="Cedula (V-XXXXXXX)" maxlength="50" ng-model="ficha.nino.cedula"
                                    required> -->
                                    <h5 >Cedula: {{ficha_representante.cedula}}</h5>
                            </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha_representante.direccion_habitacion" placeholder="Dirección de Habitación" maxlength="50"
                                ng-model="ficha_representante.direccion_habitacion" required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha_representante.telefono" placeholder="Telefono de Contacto" maxlength="50" ng-model="ficha_representante.telefono"
                                required>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="ficha_representante.trabaja" ng-model="ficha_representante.trabaja">
                            <label class="form-check-label" for="examplficha_representante.trabajaeCheck1">¿Trabaja actualmente?</label>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha_representante.profesion" placeholder="Profesion" maxlength="50" ng-model="ficha_representante.profesion"
                                required>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha_representante.ocupacion" placeholder="Ocupación" maxlength="50" ng-model="ficha_representante.ocupacion"
                                required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha_representante.ingreso_mensual" placeholder="Ingreso Mensual (Bs.)" maxlength="50"
                                ng-model="ficha_representante.ingreso_mensual" required>
                        </div>

                        <div class="clearfix"></div>
                        <br>
                        <br>
                        <h4 align="center" style="color:#5a5c60"> - CONTACTO DE EMERGENCIA -</h4>

                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha_representante.emergencia_nombre" placeholder="Nombre(s) y Apellido(s)" maxlength="50"
                                ng-model="ficha_representante.emergencia_nombre" required>
                        </div>
                        <div class="clearfix"></div>


                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha_representante.emergencia_telefono" placeholder="Telefono" maxlength="50" ng-model="ficha_representante.emergencia_telefono"
                                required>
                        </div>

                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <input data-hide-3 type="text" name="ficha_representante.emergencia_parentesco" placeholder="Parentesco" maxlength="50" ng-model="ficha_representante.emergencia_parentesco"
                                required>
                        </div>
                        <div class="clearfix"></div>

                        <br>
                        <br>
                        <h4 align="center" style="color:#5a5c60"> - HABITOS ALIMENTICIOS -</h4>
                        <div class="clearfix"></div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="ficha_representante.modificacion_alim_seis_meses" ng-model="ficha_representante.modificacion_alim_seis_meses">
                            <label class="form-check-label" for="exampleCheck1">¿Ha cambiado su alimentación en los últimos seis meses?</label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-4 col-md-9 col-lg-9">
                            <input data-hide-3 type="text" name="ficha_representante.modificacion_razon" placeholder="¿Por qué?" maxlength="100" ng-model="ficha_representante.modificacion_razon"
                                required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-2 col-md-3 col-lg-3">
                            <input data-hide-3 type="number" name="ficha_representante.numero_comidas_diarias" placeholder="Cantidad de comidas" maxlength="50"
                                ng-model="ficha_representante.numero_comidas_diarias" required>
                        </div>
                    </fieldset>
                </form>
                <div style="margin-top:51px; justify-content:center;  width:30%">
                    <button type="submit" style="font-family: neeru; width:100%" data-standard class="btn-green" ng-click="modificarParent()" ladda="loading"
                        data-style="expand-right">Aceptar</button>
                </div>
            </div>
            <!-- FIN DE FICHA DE REPRESENTANTE -->
        </div>
    </div>