<div ng-controller="FichaCtrl">
  <div class="container-fluid jumbotron">
    <h2 align="center" style="color:#5a5c60; margin-top:0%; margin-bottom:0%">FICHAS DE CONTROL</h2>
    <h2 align="center" style="color:#5a5c60; margin-top:0.5%; margin-bottom:0%">
      <i class="fa fa-address-card" style="color:#5a5c60"></i>
    </h2>
  </div>
  <div align="center">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar cédula o nombre..." aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>

  <div>
    <div class="center" style="width:50%">
      <!-- UNA FICHA -->
      <div ng-repeat="ficha in fichas" align="left" style="display:flex; justify-content: space-between; margin-top:5% ">
        <div align="left">
          <p class="p-small p-500"> Tipo de Ficha: {{ficha.tipo}}</p>
          <p class="p-small p-400" style="margin-top:1.5% ">
            Nombre(s) y Apellido(s): {{ficha.nombres}} + {{ficha.apellidos}}</p>
          <p class="p-small p-400" style="margin-top:1.5% "> Edad: {{ficha.edad}}</p>
          <p class="p-small p-400" style="margin-top:1.5% "> Cedula: {{ficha.cedula}}</p>
          <p class="p-small p-400" style="margin-top:1.5% "> Fecha de Ingreso: {{ficha.fecha_ingreso}}</p>
        </div>
        <div align="right">
          <button type="button" class="btn btn-success">
            <i class="fa fa-pencil-alt" style="color:white"></i>
          </button>
          <button type="button" class="btn btn-primary">
            <i class="fa fa-eye"></i>
          </button>
          <button type="button" class="btn btn-danger">
            <i class="fa fa-trash-alt"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>