<header >
  <section ng-controller="GlobalCtrl">
    <div style="max-width: 200px; margin-top:2%" ng-click="refresh()">
      <img src="images/logov5.png" width="200px">
    </div>
    <nav>
      <!--
      <div>
        <p>añadir saldo</p>
      </div>
      -->
      <!-- <div ui-sref="app.page.updateForm">
         <p class="mi-cuenta">MODIFICAR</p>
      </div>
      <div ui-sref="app.page">
        <p class="mi-cuenta">ELIMINAR</p>
      </div> -->
      <div ui-sref="app.page.adminficha" >
        <p class="mi-cuenta">INICIO</p>
     </div> 
      <div ui-sref="app.page.newForm" style="width:100%">
         <p class="mi-cuenta">NUEVA FICHA</p>
      </div> 

     <div class="" uib-dropdown uib-dropdown-toggle ng-show="isAdmin">
        <p class="mi-cuenta">USUARIOS</p>
        <div class="uib-dropdown-menu header-neeru-select-box animated fadeInUp">
          <div class="header-option-neeru"  ui-sref="app.page.newUser">
            <p>Crear</p>
          </div>
          <div class="header-option-neeru" ui-sref="app.page.adminUsers">
            <p>Consultar</p>
          </div>
          
          <div class="header-option-neeru" ui-sref="app.page.recoverPassword">
              <p>Cambiar Contraseña</p>
            </div>
        </div>
      </div>

      <div ui-sref="app.page.estadisticas" style="width:100%">
        <p class="mi-cuenta">ESTADÍSTICAS</p>
     </div>


    </nav>
    <div data-aux-1>
      <div style="text-align:center" >
        <p class="p-small" style="color:#fbf1d1; margin-bottom:10%"> <strong>{{username}}</strong></p>
        <p class="p-small" ng-click="logout()">        
          <i class="fa fa-power-off" aria-hidden="true"></i>

        </p>
      </div>
      <!-- <div>
        <img class="aux-img-1-SA" src="{{user.imagen_perfil}}">
      </div> -->
    </div>
    </div>
  </section>
</header>
