<header>
  <section ng-controller="GlobalCtrl">
    <div>
      <img src="images/logoNeeru2.png">
    </div>
    <nav>
      <div ui-sref="app.page.home">
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
      <div ui-sref="app.page.recharge" class="">
        <p>{{"header.enviar_recarga" | translate}}</p>
      </div>
      <!--
      <div>
        <p>añadir saldo</p>
      </div>
      -->
      <div class="" uib-dropdown uib-dropdown-toggle>
        <p class="mi-cuenta">{{ "header.mi_cuenta" | translate}}</p>
        <div class="uib-dropdown-menu header-neeru-select-box animated fadeInUp">
          <div class="header-option-neeru"  ui-sref="app.page.transactions">
            <img onmouseover="this.src = 'images/menuMovimientoVrd.png'" onmouseout="this.src = 'images/menuMovimientoGrs.png'" src="images/menuMovimientoGrs.png">
            <p>{{"header.cuenta_select.movimiento" | translate}}</p>
          </div>
          <div class="header-option-neeru" ui-sref="app.page.frequent">
            <img onmouseover="this.src = 'images/menuNumFrecVrd.png'" onmouseout="this.src = 'images/menuNumFrecGrs.png'" src="images/menuNumFrecGrs.png">
            <p>{{"header.cuenta_select.numero_frecuente" | translate}}</p>
          </div>
          <div class="header-option-neeru" ui-sref="app.page.tdc_afiliadas">
            <img onmouseover="this.src = 'images/menuTDCVrd.png'" onmouseout="this.src = 'images/menuTDCGrs.png'" src="images/menuTDCGrs.png">
            <p>{{"header.cuenta_select.tdc_afiliada" | translate}}</p>
          </div>
          <div class="header-option-neeru" ui-sref="app.page.profile">
            <img onmouseover="this.src = 'images/menuPerfilVrd.png'" onmouseout="this.src = 'images/menuPerfilGrs.png'"  src="images/menuPerfilGrs.png">
            <p>{{"header.cuenta_select.perfil" | translate}}</p>
          </div>
        </div>
      </div>
      <!-- Shopping Car -->
      <div uib-dropdown uib-dropdown-toggle>
        <img src="images/icoCartEmpty.png">
        <div class="uib-dropdown-menu header-neeru-car-box animated fadeInUp">
          <div class="line-100" style="flex-direction: column; padding: 4px 8px;">
            <!-- SALES -->
            <div class="pillar-100p notify">
              <div class="pillar-auto">
                <div class="line-100">
                  <p class="p-black p-300">+57 1111-2222</p>
                </div>
                <div class="line-100">
                  <p class="p-black p-300"><span class="p-short">USD</span> 999,999,999.00</p>
                </div>
              </div>
              <div class="pillar-auto">
                <img src="images/icoEliminar.png">
              </div>
            </div>
            <!-- SALES OPTIONS -->
            <div class="line-100" style="margin: 5px 0;">
              <button car-select class="btn-green-on">
                <p>realizar el pago</p>
              </button>
            </div>
            <div class="line-100">
              <button car-select class="btn-gray-on">
                <p>añadir recarga</p>
              </button>
            </div>
          </div>
        </div>
      </div>

    </nav>
    <div data-aux-1>
      <div>
        <p class="p-small">ID {{user.pin}}</p>
        <p class="p-tiny" ng-click="logout()">{{"Cerrar_Sesion" | translate}}</p>
      </div>
      <div>
        <img class="aux-img-1-SA" src="{{user.imagen_perfil}}">
      </div>


      <div class="aux-1-SA" uib-dropdown uib-dropdown-toggle>
        <div class="vertical-line"></div>
        <p style="cursor: pointer;">{{selectLang}}</p>
        <div class="uib-dropdown-menu header-language-select-box animated fadeInUp" is-open="lang.isopen">
          <div ng-repeat="(langKey, label) in langs">
            <p ng-click="setLang(langKey, $event)">{{label}}</p>
          </div>
        </div>
      </div>


    </div>
  </section>
  <section>
    <div>
      <img ng-src="{{header.icono}}">
      <p class="p-5 p-300">{{header.namePage | translate}}</p>
    </div>
    <div>
      <!--
      <img src="images/icoSaldo.png">
      <div class="aux-2-SA">
        <p>USD</p>
        <p class="p-5">999.999.999,00</p>
      </div>
    -->
    </div>
  </section>
</header>
