<header>
  <section>
    <div>
      <img src="img/logoNeeru2.png">
    </div>
    <nav>
      <div>
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
      <div>
        <p>enviar recarga</p>
      </div>
      <div>
        <p>añadir saldo</p>
      </div>
      <div>
        <p>mi cuenta</p>
      </div>
      <div onclick="primeAppVar.notifyBox(this)">
        <img src="img/icoCartEmpty.png">
      </div>
    </nav>
    <div data-aux-1>
      <div>
        <p class="p-small">ID 99999999</p>
        <p class="p-tiny">Cerrar Sesión</p>
      </div>
      <div>
        <img class="aux-img-1-SA" src="img/donald-trump.jpg">
      </div>
      <div class="aux-1-SA">
        <div class="vertical-line"></div>
        <p class="p-small p-500">EN</p>
      </div>
    </div>
  </section>
  <section>
    <div>
      <img src="img/icoMovimientos.png">
      <p class="p-5 p-300">Movimientos</p>
    </div>
    <div>
      <img src="img/icoSaldo.png">
      <div class="aux-2-SA">
        <p>USD</p>
        <p class="p-5">999.999.999,00</p>
      </div>
    </div>
  </section>
</header>
