<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >{{ 'menu.Pagos' | translate}}</span>
  </li>
  <li>
    <a ui-sref="app.page.index.recharge.get_contrato" class="auto">      
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold">{{ 'menu.Recargar' | translate}}</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.page.transactions.index" class="auto">      
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold">{{ 'std.Transaction' | translate}}</span>
    </a>
  </li>
  <li class="line dk"></li>
<!-- 
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >Afiliaciones</span>
  </li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th"></i>
      <span>TDC</span>
    </a>
  </li>
  <li ng-class="{active:$state.includes('app.ui')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-briefcase icon"></i>
      <span>Phone</span>
    </a>
  </li> -->
</ul>
<!-- / list -->
