<div onload="primeAppVar.init()" class="modal-header">
	<h3 class="modal-title" style="color: #989898;">Modificar número frecuente</h3>
</div>
<div class="modal-body text-center">
	<div class="modal-body text-center">
    <label style="color: #989898;">Nuevo alias: </label>
		<input onblur="primeAppVar.validateInputAlias(this)" data-mode-1 style="width: 45% !important;" type="text" name="alias" ng-model="datos.alias" placeholder="Nuevo alias...">
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-link" style="float: left; color: #989898;" ng-click="cancel()">Cancelar</button>
	<button class="btn-green-on" data-standard ng-click="confirmar(); "><p>Modificar</p></button>
</div>
