<div onload="primeAppVar.init()" class="modal-header">
	<h3 class="modal-title" style="color: #989898;">Imagen de perfil</h3>
</div>
<div class="modal-body text-center" ng-controller="BasicController">
  <div class="hbox hbox-auto-xs">
    <div class="col">
      <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
        <div class="bg-light" style="height:320px">
          <img-crop
            ng-src="{myCroppedImage}"
            image="myImage"
            result-image="myCroppedImage"
            result-image-size="160"
            area-type="square"
          ></img-crop>
        </div>
      </div>
    </div>
    <!-- <div class="col">
      <div class="inline bg-white wrapper-sm b-a">
        <div class="bg-light">
          <img ng-src="{{myCroppedImage}}" />
        </div>
      </div>
    </div> -->
  </div>
	<div class="empty-activity-box" style=" justify-content: center">
		<div style="display: flex;">
			<input style="position: absolute;width: 410px;height: 70px;margin: 0px;z-index: 1;opacity: 0;cursor: pointer;" type="file" id="fileInput" data-standard ng-model="files"/>
			<img src="images/conectar.png" alt="">
			<p style="margin-left: 20px;">Subir Foto</p>
		</div>

	</div>
	<!-- <div style="display: flex;position: relative;align-items: center;justify-content: center;">
		<button id="fileInput" style="z-index: 0;" ng-click="handleFileSelect($event)" class='btn-green-on' data-standard>Subir foto</button>
  </div> -->

</div>
<div class="modal-footer">
  <button class="btn btn-link" style="float: left; color: #989898;" ng-click="cancel()">Cancelar</button>
	<button class="btn-green-on" data-standard ng-click="upload()" ng-disabled='form.$invalid'><p>Cambiar</p></button>
</div>
