.button-facebook {
	font-family: Helvetica, Arial, sans-serif;
  letter-spacing: .25px;
  max-width: 272px;
  min-width: initial;
  width: auto;
  font-size: 16px;
  height: 40px;
  background-color: #4267b2 !important;
  border-color: #4267b2 !important;
	line-height: 1.28;
	display: inline-flex;
}

.button-facebook > span {
	background-color: white;
	color: #4267b2;
	width: 20px;
	height: 20px;
	font-size: larger;
	font: normal normal normal 20px/1.2 FontAwesome;
	padding-left: 2px;
	font-size: 21px;
}

/* Loader */

#loaderBody {
  margin: auto !important;
  position: static;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #48C863;
  /*border-bottom: 14px solid #3498db;*/
  width: 200px;
  height: 200px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mostrarLoader {
  display: block !important;
}

.ocultarLoader {
  display: none !important;
}

/* Loader */

/* Position */
.center {
	margin: 0 auto;
}
.w-100 {
	width: 100%;
}
/* Position */

/* Boxes */
	body, html{
		margin: 0px;
		z-index: 0;
		width: 100%;
	}
	.tab-box{
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    padding: 5px 0pc;
    height: 25px;
    cursor: pointer;
	}
	.custom-modal-box{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: rgba(0, 0, 0, 0.75);
		display: none;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: .35s;
		z-index: 20;
	}
	.internal-modal-box{
		background-color: white;
		display: flex;
		border-radius: .35rem;
		box-sizing: border-box;
	}
/* Boxes */

/* Elements */
	.tab-off{
		border: 1.5px solid #CFD5D1;
	}
	.tab-on{
		border: 1.5px solid #0DB731;
	}
	.btn-green-on{
		background-color: #0DB731;
	}
	.btn-off,
	.btn-gray-on{
		background-color: #BAC2BC;
	}
/* Elements */

/* Text */
	p{
		margin-bottom: 0px;
		margin-top: 0px;
		font-size: 1em;
    line-height: 120%;
    font-family: neeru;
	}
	.p-green,
	.tab-on p{
		color: #3FB831;
	}
	.p-gray,
	.tab-off p{
		color: #AEB7B3;
	}
	.p-black{
		color: black
	}
	.p-salmon{
		color: #C94248;
	}
	.p-short{
		font-size: 0.7em;
	}
	.p-tiny{
		font-size: 0.8em;
	}
	.p-small{
		font-size: 0.9em;
	}
	.p-1{
		font-size: 1.1em;
	}
	.p-2{
		font-size: 1.2em;
	}
	.p-3{
		font-size: 1.3em;
	}
	.p-4{
		font-size: 1.4em;
	}
	.p-5{
		font-size: 1.5em;
	}
	.p-200{
		font-weight: 200;
	}
	.p-300{
		font-weight: 300;
	}
	.p-500{
		font-weight: 500;
	}
	.p-600{
		font-weight: 600;
	}
	.p-700{
		font-weight: 700;
	}
	.p-800{
		font-weight: 800;
	}
	.p-900{
		font-weight: 900;
	}
	.p-up{
		text-transform: uppercase;
	}
	.tab-box p,
	.btn-neeru p{
		text-transform: uppercase;
		margin-left: 0.5pc;
		font-weight: 500;
	}
	.btn-neeru p{
		color: #0DB731;
	}
/* Text */

/* Btn */
	button[data-standard]{
		height: 25px;
    box-sizing: content-box;
    border: none;
    padding: 5px 1pc;
    border-radius: .5rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
   	outline: none;
	}
	.btn-neeru{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #0DB731;
    border-radius: .5rem;
    cursor: pointer;
	}
/* Btn */

/* Inputs */
	input[data-hide]{
    width: 100%;
    border: none;
    padding: 5px 1pc;
    outline: none;
    font-family: neeru;
    font-size: 1em;
	}
	input[data-hide-2]{
		width: 100%;
    border: none;
    padding: 8px 0.35pc;
    outline: none;
    font-family: neeru;
    font-size: 1em;
    border-bottom: 1.5px solid #CFD5D1;
    transition: .5s;
	}
	input[data-mode-1]{
		width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-family: neeru;
    border-radius: .5rem;
    border: 1.5px solid #CFD5D1;
    outline: none;
    font-size: 1em;
	}
/* Inputs */

/* Checkbox */
	.neeru-checkbox-1,
	.neeru-checkbox-2{
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
	}
	.neeru-checkbox-1 input,
	.neeru-checkbox-2 input{
		position: absolute;
		width: 25px;
		height: 25px;
		margin: 0px;
		z-index: 2;
		opacity: 0;
		cursor: pointer;
	}
	.neeru-checkbox-1 span,
	.neeru-checkbox-2 span{
		display: block;
    width: 20px;
    height: 20px;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.35s;
	}
	.neeru-checkbox-1 span{
		background-image: url(../../img/checkGrs.png);
	}
	.neeru-checkbox-2 span{
		background-image: url(../../img/checkNrj1.png);
	}
	.neeru-checkbox-1 input:checked + span{
		background-image: url(../../img/checkVrd.png);
	}
	.neeru-checkbox-2 input:checked + span{
		background-image: url(../../img/checkNrj2.png);
	}
/* Checkbox */

/* Select */
	.neeru-select{
    width: 90%;
    border: 1.5px solid #CFD5D1;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
	}
	.neeru-select > .country-selected{
		display: flex;
    align-items: center;
    justify-content: center;
	}
	.neeru-select > .country-selected p{
		margin-left: 0.35pc;
	}
	.options-neeru-select-box{
		position: absolute;
    width: 100%;
    top: 100%;
    border: 1.5px solid #CFD5D1;
    border-radius: .5rem;
    max-height: 300px;
    display: none;
		overflow: auto;
    background: white;
    z-index: 10;
	}
	.option-neeru{
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
	}
	.options-neeru-select-box img{
		width: 25px;
	}
	.option-neeru p{
		margin-left: 1pc;
	}
	.option-neeru:hover{
		background-color: rgba(128, 128, 128, 0.3);
		border-radius: .35rem;
	}
/* Select */

/* Scrollbar */
	::-webkit-scrollbar {
    width: 12px;
	}

	::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: rgba(13, 183, 49, 0.5);
	}
/* Scrollbar */

/* Actions */
	.btn-neeru:active{
		background-color: rgba(72, 200, 99, 0.4);
	}
	.btn-green-on:hover{
		background-color: #0b8825;
	}
	.btn-green-on:active p{
		color: #0DB731;
	}
	.btn-green-on:active {
		background-color: white;
	}
	input[data-mode-1]:focus{
		border: 1.5px solid #0DB731;
	}
	input[data-hide-2]:focus{
		border-bottom: 1.5px solid #3FB831;
	}
	input[data-hide-2]:focus::-webkit-input-placeholder{
		color: #3FB831;
	}
	.btn-gray-on:hover{
		background: #8a908c;
	}
	.btn-gray-on:active{
		background: white;
	}
	.btn-gray-on:active p{
		color: #8a908c;
	}
/* Actions */

/* Responsive */
	@media screen and (max-width: 300px){
		.btn-neeru p{
			font-size: .75em;
		}
		.btn-neeru{
			padding: .5pc 0pc;
		}
		.internal-modal-box{
			padding: 1pc;
		}
		.internal-modal-box{
    	max-width: 90%;
    	max-height: 90%;
		}
	}
	@media screen and (min-width: 301px) and (max-width: 400px){
		.btn-neeru p{
			font-size: .75em;
		}
		.btn-neeru{
			padding: .5pc 0pc;
		}
		.internal-modal-box{
			padding: 1pc;
		}
		.internal-modal-box{
    	max-width: 90%;
    	max-height: 90%;
		}
	}
	@media screen and (min-width: 401px) and (max-width: 500px){
		.btn-neeru p{
			font-size: .75em;
		}
		.btn-neeru{
			padding: .5pc 0pc;
		}
		.internal-modal-box{
			padding: 1pc;
		}
		.internal-modal-box{
    	max-width: 90%;
    	max-height: 90%;
		}
	}
	@media screen and (min-width: 501px) and (max-width: 767px){
		.btn-neeru p{
			font-size: .75em;
		}
		.btn-neeru{
			padding: .5pc 0pc;
		}
		.internal-modal-box{
			padding: 1pc;
		}
		.internal-modal-box{
    	max-width: 90%;
    	max-height: 90%;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 992px){
		.internal-modal-box{
			padding: 1pc;
		}
	}
	@media screen and (min-width: 993px) and (max-width: 1200px){
		.internal-modal-box{
			padding: 1pc;
		}
	}
	@media screen and (min-width: 1201px) and (max-width: 1500px){
		.internal-modal-box{
			padding: 1pc;
		}
	}
	@media screen and (min-width: 1501px){
		.internal-modal-box{
			padding: 1pc;
		}
	}

/* Responsive */
