<div ng-controller="historialCtrl">
        <div class="container-fluid jumbotron">
                <h2 align="center" style="color:#5a5c60; margin-top:0%; margin-bottom:0%">NUEVO REGISTRO - DATOS ANTROPOMÉTRICOS</h2>
                <h2 align="center" style="color:#5a5c60; margin-top:0.5%; margin-bottom:0%">
                    <i class="fa fa-briefcase-medical" style="color:#5a5c60"></i>
                </h2>
            </div>
    <div style="margin:20%; margin-top:5px" align="center">

        <fieldset>
            <h4 align="center" style="color:#5a5c60; margin-top:2%"> - INGRESE LOS DATOS -</h4>
            <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                <input data-hide-3 type="text" name="historial_peso.peso" placeholder="Peso (kg)" maxlength="50" ng-model="historial_peso.peso"
                    required>
            </div>
            <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                <input data-hide-3 type="text" name="historial_peso.circunferencia_brazo" placeholder="Circunferencia de brazo (cm)" maxlength="50"
                    ng-model="historial_peso.circunferencia_brazo" required>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                <input data-hide-3 type="text" name="historial_peso.altura" placeholder="Altura (cm)" maxlength="50" ng-model="historial_peso.altura"
                    required>
            </div>

            <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                <input data-hide-3 type="text" name="historial_peso.circunferencia_cabeza" placeholder="Circunferencia de cabeza (cm) - solo para menores de 2 años"
                    maxlength="50" ng-model="historial_peso.circunferencia_cabeza" required>
            </div>
            <div class="clearfix"></div>

            <div class="form-group col-xs-10 col-sm-6 col-md-12 col-lg-12">
                <input data-hide-3 type="text" name="historial_peso.diagnostico" placeholder="Diagnóstico" maxlength="50" ng-model="historial_peso.diagnostico"
                    required>
            </div>
            <div class="clearfix"></div>
            <div style="margin-top:51px; justify-content:center;  width:30%">
                    <button type="submit" style="font-family: neeru; width:100%" data-standard class="btn-green" ng-click="agregar()" ladda="loading"
                        data-style="expand-right">Agregar</button>
                </div>
        </fieldset>
    </div>
</div>