<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >{{ 'std.administracion' | translate}}</span>
  </li>
  <li>
    <a ui-sref="admin.page.users" class="auto">      
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold">{{ 'std.usuarios' | translate}}</span>
    </a>
  </li>
  <li>
    <a ui-sref="admin.page.transactions" class="auto">      
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold">{{ 'std.Transaction' | translate}}</span>
    </a>
  </li>
  <li class="line dk"></li>

</ul>
<!-- / list -->
