<footer class="pillar-100p footer-home">
    <div class="imgNeeru pillar-30p">
      <div class="">
        <img src="images/logoNeeru1.png">
      </div>
      <br><br>
      <div class="">
        <p>© 2017 Conectium Ltd</p>
      </div>
    </div>
    <div class="pillar-55p footer-central">
      <div class="pillar-40p" style="flex-direction:column;">
        <p class="p-5 p-200 l-height-2">Como Funciona</p>
        <p class="p-5 p-200 l-height-2">Seguridad</p>
        <p class="p-5 p-200 l-height-2">Contactos</p>
      </div>
      <div class="pillar-40p" style="flex-direction:column;">
        <p class="p-5 p-200 l-height-2">Nosotros</p>
        <p class="p-5 p-200 l-height-2">Terminos y Condiciones</p>
        <p class="p-5 p-200 l-height-2">Politica de Privacidad</p>
      </div>
    </div>
    <div class="pillar-10p">
      <div>
        <img src="images/landing/sss.png" alt="">
      </div>
      <div>
        <img src="images/landing/sss.png" alt="">
      </div>
      <div class="">
        <img src="images/landing/sss.png" alt="">
      </div>
    </div>
</footer>
