<footer class="pillar-100p footer-home">
    <div class="imgNeeruContactos" style="/*flex-direction:column;*/">
      <div class="" style="max-width: 100px;">
        <img src="images/logo-neeru-verde.png" width="200px;">
      </div>
      <br><br>
      <div class="">
        <p>© 2017 Conectium Ltd</p>
      </div>
    </div>
    <div style="width: 100%; padding-bottom:50px">
      <div class="pillar-100p" style="flex-direction:column;">
        <p class="p-5 p-200 l-height-2">{{"landing.como_funciona" | translate}}</p>
        <p class="p-5 p-200 l-height-2">{{"landing.seguridad" | translate}}</p>
        <p class="p-5 p-200 l-height-2">{{"landing.contactanos" | translate}}</p>
      </div>
      <div class="pillar-100p" style="flex-direction:column;">
        <p class="p-5 p-200 l-height-2">{{"landing.nosotros" | translate}}</p>
        <p class="p-5 p-200 l-height-2">{{"landing.terminos_y_condiciones" | translate}}</p>
        <p class="p-5 p-200 l-height-2">{{"landing.privacidad" | translate}}</p>

      </div>
    </div>
    <div style="justify-content: space-around; width: 100%; display: block; text-align: -webkit-center;">
      <div class="" style="margin-bottom: 50px;">
        <p class="Follow"> Follow Us </p>
      </div>
      <div class="" style="display: flex;">
        <div class="pillar-33p" style="display: block;">
          <a href="#" class="faa faa-twitter"><span class="fa fa-twitter"></span></a>
        </div>
        <div class="pillar-33p" style="display: block;">
          <a href="#" class="faa faa-facebook"><span class="fa fa-facebook"></span></a>
        </div>
        <div class="pillar-33p" style="display: block;">
          <a href="#" class="faa faa-google"><span class="fa fa-google"></span></a>
        </div>
      </div>
    </div>
</footer>
