<header>
  <section id="idHeader">
    <div class="imgNeeru">
      <img src="images/logoNeeru2.png">
    </div>
    <div class="headerTxt">
      <div class="pillar-30p">
        <p class="p-small p-500"><a href="#item1">CÓMO FUNCIONA</a></p>
      </div>
      <div class="pillar-25p">
        <p class="p-small p-500"><a href="#item2">SEGURIDAD</a></p>
      </div>
      <div class="pillar-25p">
        <p class="p-small p-500"><a href="#item3">CONTÁCTAMOS</a></p>
      </div>
    </div>
    <div data-aux-1 class="headerSignin">
      <div>
        <a href="access/signup"><p class="p-tiny p-500">Registrate</p></a>
      </div>
      <div>
        <a href="access/signin"><p class="p-tiny p-500">Inicia Sesión</p></a>
      </div>
      <div class="aux-1-SA">
        <div class="vertical-line"></div>
        <p class="p-tiny p-500">ES</p>
      </div>
    </div>
  </section>
</header>
