<div>
  <!-- navbar -->
  <div data-ng-include=" 'templates/blocks/header.html' " ng-controller='HeaderController'></div>
  <!-- / navbar -->

  <!-- menu -->
  <!-- <div data-ng-include=" 'templates/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
      </div> -->
  <!-- / menu -->

  <!-- content -->
  <div class="app-content">
    <div ui-butterbar></div>
    <!-- <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a> -->
    <div class="app-content-body fade-in-up" style="margin-bottom: 69px;" ui-view></div>
  </div>
  <!-- /content -->

  <!-- area de respuestas asincronas -->
  <toaster-container toaster-options="{
        'time-out': 2000,
        'position-class': 'toast-center'
        }">

  </toaster-container>
  <!-- / area de respuestas asincronas -->


  <!-- footer -->
  <div class="footer" align="center" style="z-index:1;">
    <span class="pull-right">{{app.version}}</span>
    <a href ui-scroll-to="app" class="m-l-sm text-muted">
      <i class="fa fa-long-arrow-up"></i>
    </a>
    </span>
    &copy; Copyright 2018 | Alimenta La Solidaridad | Reservados todos los derechos.
  </div>
  <!-- / footer -->
</div>