<div ng-controller="ErrorCtrl">
  <div  ng-init="loader='mostrar';cuerpo='ocultar'" ng-controller="GlobalCtrl">

    <div ng-class="{ocultarLoader: loader === 'ocultar', mostrarLoader: loader === 'mostrar'}"  style="background-color:#f0f3f4; position: absolute; top:0px; width: 100%; height: 100%; z-index:2;">
      <div id="loaderBody" style="position: fixed; top:30%; left:42%;"> </div>
      <div style="position: fixed; top:40%; left:45%;" class="animate-bottom"><b>Cargando...</b></div>
    </div>

    <div ng-class="{ocultarLoader: cuerpo === 'ocultar', mostrarLoader: cuerpo === 'mostrar'}" style="position:relative; top:0px; z-index:1;">

      <!-- navbar -->
      <div data-ng-include=" 'templates/blocks/header.html' " ng-controller='HeaderController'></div>
      <!-- / navbar -->

      <!-- menu -->
      <!-- <div data-ng-include=" 'templates/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
      </div> -->
      <!-- / menu -->

      <!-- content -->
      <div class="app-content">
        <div ui-butterbar></div>
        <!-- <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a> -->
        <div class="app-content-body fade-in-up" ui-view></div>
      </div>
      <!-- /content -->

        <!-- area de respuestas asincronas -->
      <toaster-container toaster-options="{
        'time-out': 2000,
        'position-class': 'toast-center'
        }">

      </toaster-container>
      <!-- / area de respuestas asincronas -->


      <!-- footer -->
      <div class="footer" align="center" role="footer">
        <span class="pull-right">{{app.version}}</span>
        &copy; Copyright 2016 | Celupago C.A. RIF.: J-31727952-2 | Reservados todos los derechos. <u><b><i><a href="/Terms-and-Conditions" ui-sref="app.condiciones">Leer términos y condiciones</a></i></b></u>
      </div>
      <!-- / footer -->
    </div>
  </div>
</div>
