<div class="m-t-lg" style="background-color:#f7f7f7; width:100%; height:100%">
    <div class="container w-xxl w-auto-xs" ng-controller="FPCtrl" ng-init="app.settings.container = false;">
        <div class="m-b-lg">
            <div style="text-align:center">
                <img src="images/ALS.jpeg" width="70%">
                <h3>Recuperar Contraseña</h3>
            </div>
            <form name="form" class="form-validation">
                <div class="list-group list-group-sm" style="margin-top: 45px">
                    <div class="pillar-auto" style="margin-top: 45px">
                        <input data-hide-3 style="background-color: #f7f7f7;" type="password" placeholder='Nueva Contraseña' name="password" ng-model="user.password"
                            required>
                    </div>
                    <!-- ERRORES EN CAMPO DE EMAIL -->
                    <div class="text-center" ng-if="form.password.$dirty && (form.password.$invalid || form.password.$touched)">
                        <span ng-if="form.password.$error.required" class="error-input-msj">
                            Ingrese la contraseña
                        </span>
                    </div>
                    <!-- ERRORES EN CAMPO DE EMAIL -->

                    <div class="pillar-auto">
                        <input data-hide-3 style="background-color: #f7f7f7;" type="password" name="repeatPassword" placeholder="Confirmar Nueva Contraseña" maxlength="16"
                            ng-model="user.repeatPassword" uib-popover-html="popoverContrasena.contenido" title="Confirmar Nueva Contraseña"
                            popover-title="{{popoverContrasena.titulo | translate}}" popover-trigger="focus" popover-placement="bottom"
                            required>
                    </div>
                    <!-- ERRORES EN CAMPO DE PASSWORD -->
                    <div class="text-center" ng-if="form.repeatPassword.$dirty && (form.repeatPassword.$invalid || form.repeatPassword.$touched)">
                        <span ng-if="form.repeatPassword.$error.required" class="error-input-msj">
                            Ingrese la contraseña
                        </span>
                    </div>
                    <!-- ERRORES EN CAMPO DE PASSWORD -->
                </div>
                <div style="margin-top:51px; justify-content:center; display:flex;">
                    <button type="submit" style="font-family: neeru; width:100%" data-standard class="btn-yellow" ng-click="update()" ladda="loading"
                        data-style="expand-right" ng-disabled="form.$invalid">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>