
		<div class="dynamic-content-box" onload="primeAppVar.init()" style="margin-top: 20px; justify-content: space-between; height: 100%">
			<div class="frequent-master-box" >
				<section>
          <div class="dynamic-content-box">
              <!-- <div class="empty-activity-box" style="margin-top:120px">
                  <div class="line-100">
                      <img src="images/carita2.png">
                      <p class="p-green p-300 p-5">No posees números registrados...</p>
                  </div>
                  <div class="line-100">
                    <p class="p-gray">Añade un contacto y enviale una recarga!</p>
                  </div>
              </div> -->
							<div class="container" style="width: 100%; margin-top: 120px;">
								<table datatable="ng" cellpadding="2" cellspacing="2" border="2" class="table" style="width: 100%; border: solid white;">
							    <thead style="border-bottom: solid #cfd5d1;">
								    <tr class="odd gradeA">
							        <th style="text-align: center;">Número</th>
							        <th></th>
							        <th></th>
											<th style="text-align: center;">Selecciona para recargar</th>
								    </tr>
							    </thead>
							    <tbody>
						    		<tr style="border-bottom: solid #cfd5d1;">
							        <td>
												<p style="text-align:center;">+507 60969188</p>
												<p style="text-align:center;">Movistar</p>
											</td>
							        <td>
												<div class="pillar-30px" style="margin-left: 20%">
													<img ng-click="" src="images/icoEliminar.png" alt="">
												</div>
											</td>
							        <td>
												<div class="pillar-30px" style="margin-left: 20%">
													<img ng-click="" src="images/icoEdit.png" alt="">
												</div>
											</td>
											<td style="text-align: center">
												<div class="pillar-30px" style="margin-left: 50%">
													<div class="neeru-checkbox-1">
														<input type="checkbox" name="">
														<span></span>
													</div>
												</div>
											</td>
								    </tr>
								    <tr style="border-bottom: solid #cfd5d1;">
							        <td>
												<p style="text-align:center;">+1 630 5181205</p>
												<p style="text-align:center;">Movistar</p>
											</td>
							        <td>
												<div class="pillar-30px" style="margin-left: 20%">
													<img ng-click="" src="images/icoEliminar.png" alt="">
												</div>
											</td>
							        <td>
												<div class="pillar-30px" style="margin-left: 20%">
													<img ng-click="" src="images/icoEdit.png" alt="">
												</div>
											</td>
											<td style="text-align: center">
												<div class="pillar-30px" style="margin-left: 50%">
													<div class="neeru-checkbox-1">
														<input type="checkbox" name="">
														<span></span>
													</div>
												</div>
											</td>
								    </tr>
								    <tr style="border-bottom: solid #cfd5d1;">
							        <td>
												<p style="text-align:center;">+58 4241664184</p>
												<p style="text-align:center;">Movistar</p>
											</td>
							        <td>
												<div class="pillar-30px" style="margin-left: 20%">
													<img ng-click="" src="images/icoEliminar.png" alt="">
												</div>
											</td>
							        <td>
												<div class="pillar-30px" style="margin-left: 20%">
													<img ng-click="" src="images/icoEdit.png" alt="">
												</div>
											</td>
											<td style="text-align: center">
												<div class="pillar-30px" style="margin-left: 50%">
													<div class="neeru-checkbox-1">
														<input type="checkbox" name="">
														<span></span>
													</div>
												</div>
											</td>
								    </tr>
							    </tbody>
								</table>
							</div>

          	</div>
				</section>
				<section>
          <div class="frequent-add">
            <div class="pillar-30p" style="padding-bottom: 10px; width: 100%">
              <div class="neeru-select" style="width: 25%; height: 38px;" onclick="primeAppVar.openOptionBox()">
                <div class="country-selected" onclick="primeAppVar.closeOptionBox()">
                  <img src="images/icoSelectPais.png">
                  <p class="p-small">Pais</p>
                </div>
              </div>
              <div class="pillar-70p" style="width: 75%; padding-left: 5px; display: grid">
                <input onblur="primeAppVar.validateInputPhone(this)" type="text" name="phone" data-mode-1 placeholder="Inserte Número" maxlength="7" minlength="7">
								<div style="text-align: center">
									<img src="images/logos/movistar.png" style="width:60%;">
								</div>
              </div>
            </div>
            <div style="float: right;">
              <button data-standard class="btn-green-on" style="display: flex">
                <img src="images/icoAddNumero.png">
                <p style="margin-left: 10px;">Añadir número</p>
              </button>
            </div>
          </div>
				</section>
			</div>
		</div>
