<div  ng-init="loader='mostrar';cuerpo='ocultar'">





  <div ng-class="{ocultarLoader: loader === 'ocultar', mostrarLoader: loader === 'mostrar'}" style="display:flex; justify-content:center">
    <!-- <div class="overlay"></div>
      <div class="spinner" id="loaderBody"  style="position: fixed; top:30%; left:45%;">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div> -->
    <div class="line-102">
      <div class="panel-green" style=" margin-top:20%; padding: 0.5pc 2pc; width: 25%; opacity:0.8">
      <div class="line-103">
        <section>
          <div class="lds-css ng-scope" style="float:left; display:flex;">
            <div style="width:100%;height:100%" class="lds-rolling">
              <div></div>
            </div>
          </div>
        </section>
        <section>
          <div>
            <p style="color: white; margin-left:0.5pc position: relative;margin-top: 12px;">
            Cargando
            </p>
          </div>
        </section>
        </div>
      </div>
    </div>
  </div>


<div ng-class="{ocultarLoader: cuerpo === 'ocultar', mostrarLoader: cuerpo === 'mostrar'}" style="position:relative; top:0px; z-index:1;">
<div style="text-align: -webkit-center; width: 100%;">
  <div class="wrapper-md"  ng-init="loader='mostrar';cuerpo='ocultar'" ng-controller="ImgChangeCtrl">
    <div class="hbox hbox-auto-xs" style="text-align: -webkit-center; width: 120%" ng-show="!selectPreview">
      <div class="col" style="margin-bottom: 20px;" ng-show="imageFile">
        <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
          <div class="bg-light" style="height:320px">
            <img-crop
            ng-src="{myCroppedImage}"
            image="myImage"
            result-image="myCroppedImage"
            result-image-size="160"
            area-type="square"
            ></img-crop>
          </div>
        </div>
      </div>
      <div class="empty-profile-box" style="margin-top: 75px;" ng-hide="imageFile">
        <div class="line-100">
          <input class="btn-file" type="file" id="fileInput" accept="image/png, image/jpeg"  data-standard ng-model="files"/>
          <img src="images/conectar.png" style="width: 25px; height: 25px;">
          <p style="margin-left: 20px;">Subir Foto</p>
        </div>
      </div>
      <div ng-show="imageFile">
        <button type="button" data-standard class="btn-gray-on" style="float: left; width: 140px;"><p>Cancelar</p></button>
        <button type="button" data-standard class="btn-green-on" style="float: right; width: 140px;" ng-click="selectPreview = true;"><p>Aceptar</p></button>
      </div>
    </div>
    <div class="m-b" style="text-align: -webkit-center;" ng-show="selectPreview">
      <div class="empty-image-box">
        <div class="line-100" >
          <img style="width: 40%; height: 70%;" ng-src="{{myCroppedImage}}" />
          <div class="">
            <p>{{imageName}}</p>
            <a data-standard ng-click="upload()" ui-sref="app.page.profile" class="btn-change">Cambiar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
