<div class="row m-t-lg" ng-controller="AddEmailController">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <!-- <div class="panel-heading font-bold">Basic form</div> -->
      <div class="panel-body">
        <form name="formNA" role="formNA">
          <div class="form-group">
            <label>{{ 'std.Email' | translate}}</label>
            <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="{{ 'std.Email' | translate}}" required>
            <!-- ERRORES EN CAMPO DE EMAIL -->
            <div class="text-center" ng-if="formNA.email.$dirty && (formNA.email.$invalid || formNA.email.$touched)">
              <span ng-if="formNA.email.$error.required" class="error-input-msj" >
                {{"err.required" | translate}}
              </span>
              <span ng-if="formNA.email.$error.email" class="error-input-msj" >
                {{"err.email.format" | translate}}
              </span>
            </div>
            <!-- ERRORES EN CAMPO DE EMAIL -->
          </div>
           <div class="checkbox m-b-md m-t-none">
            <label class="i-checks">
              <input type="checkbox" ng-model="user.validate"><i></i> {{"Enviar enlace de validacion" | translate}}
            </label>
          </div>
          <button type="submit" ng-disabled="formNA.$invalid" ng-click="add()" class="btn btn-sm btn-success">{{'std.add' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>