<div ng-init="loader='mostrar';cuerpo='ocultar'" ng-controller="BasicController">

    <div ng-class="{ocultarLoader: loader === 'ocultar', mostrarLoader: loader === 'mostrar'}" style="display:flex; justify-content:center">
      <!-- <div class="overlay"></div>
        <div class="spinner" id="loaderBody"  style="position: fixed; top:30%; left:45%;">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
      </div> -->
      <div class="line-102">
        <div class="panel-green" style=" margin-top:20%; padding: 0.5pc 2pc; width: 25%; opacity:0.8">
        <div class="line-103">
          <section>
            <div class="lds-css ng-scope" style="float:left; display:flex;">
              <div style="width:100%;height:100%" class="lds-rolling">
                <div></div>
              </div>
            </div>
          </section>
          <section>
          <div>
            <p style="color: white; margin-left:0.5pc position: relative;margin-top: 12px;">
              {{"Cargando" | translate}}
            </p>
          </div>
        </section>
        </div>
      </div>
    </div>
  </div>


  <div ng-class="{ocultarLoader: cuerpo === 'ocultar', mostrarLoader: cuerpo === 'mostrar'}" style="position:relative; top:0px; z-index:1;">
    <div id="background" class="box-profile">
      <div class="fade-in-right-big smooth leftSpace" ui-view>
        <div class="profile-default-view">
          <div class="social-box">
            <div class="social-image-box">
              <div class="vertical-line-separate">
                <img src="images/facebook.png">
              </div>
            </div>
            <div class="social-description-box" >
              <p>Desconectado</p>
              <a class="social-section-box" href="http://localhost:9002/plataform/user/syncUpFacebook">
                <img src="images/conectar.png" alt="">
                <small>{{ "Iniciar_Sesion_Facebook" | translate}}</small>
              </a>
            </div>
          </div>
          <div class="social-box">
            <div class="social-image-box">
              <div class="vertical-line-separate">
                <img src="images/google.png">
              </div>
            </div>
            <div class="social-description-box" >
              <p>Desconectado</p>
              <a class="social-section-box" href="http://localhost:9002/plataform/user/syncUpGoogle">
                <img src="images/conectar.png" alt="">
                <small>{{ "Iniciar_Sesion_Google" | translate}}</small>
              </a>
            </div>
          </div>
        </div>


      </div>
      <div class="rightSpace">
        <div class="profile">
          <div class="pad20"><a href="#" ng-click="imageChange()"><img src="{{user.imagen_perfil}}"></a></div>
          <p class="profile-p" ng-click="imageChange()" style="cursor: pointer;">{{ "profile.image_label" | translate }}</p>
        </div>
        <div class="pad20">
          <p class="profile-p">{{ "profile.email_label" | translate }}</p>
          <p class="profile-email">{{user.email}}</p>
          <div class="click" ui-sref="app.page.profile.security">
            <p class="profile-p">{{ "profile.password_label" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
