<header>
  <section>
    <div style="max-width: 100px;">
      <a href="landing/home"><img src="images/logo-neeru-blanco.png" width="200px"></a>
    </div>
    <div data-aux-1>
      <div>
        <a href="access/signup"><p class="p-tiny">{{"Registrarse" | translate}}</p></a>
      </div>
      <div>
        <a href="access/signin"><p class="p-tiny">{{"Iniciar_Sesion" | translate}}</p></a>
      </div>


      <div class="aux-1-SA" uib-dropdown uib-dropdown-toggle>
        <div class="vertical-line"></div>
        <p style="cursor: pointer;">{{selectLang}}</p>
        <div class="uib-dropdown-menu header-language-select-box animated fadeInUp" is-open="lang.isopen">
          <div ng-repeat="(langKey, label) in langs">
            <p ng-click="setLang(langKey, $event)">{{label}}</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section>
    <div class="access">
      <img src="{{header.icono}}">
      <p>{{header.namePage | translate}}</p>
    </div>
  </section>
</header>
