<header>
  <section>
    <div>
      <img src="images/logoNeeru2.png">
    </div>
    <div data-aux-1>
      <div>
        <a href="access/signup"><p class="p-tiny">Registrarse</p></a>
      </div>
      <div>
        <a href="access/signin"><p class="p-tiny">Inicio Sesión</p></a>
      </div>
      <div class="aux-1-SA">
        <div class="vertical-line"></div>
        <p class="p-small p-500">EN</p>
      </div>
    </div>
  </section>
  <section>
    <div class="access">
      <img src="{{header.icono}}">
      <p>{{header.namePage}}</p>
    </div>
  </section>
</header>
