<div class="" ng-controller="applyValEmailController">
    <div style="text-align: -webkit-center; margin: 10px 0;" >
      <p>{{"signup.applyValEmail.subtitulo" | translate }}</p>
    </div>
    <div class="line-101">

      <div ng-if="!val" class="m-t">
        <div class="alert alert-info" style="cursor: pointer;" ui-sref="access.signin">
          <p class="text-center">
            {{"signup.applyValEmail.exec" | translate }}
          </p>
        </div>
      </div>

      <div ng-if="val == 'error'">
        <div class="panel-red" style="cursor: pointer;" ui-sref="access.signin">
          <p class="text-center">
            {{"signup.applyValEmail.error" | translate }}
          </p>
        </div>
      </div>

      <div ng-if="val == true" class="pillar-auto">
        <div class="panel-green" style="cursor: pointer;" ui-sref="access.signin">
          <p style="color:white;">
            {{"signup.applyValEmail.success" | translate }}
          </p>
        </div>
      </div>
    </div>
</div>
