<div class="m-t-lg" ng-controller="applyValEmailController">
    <div class="line-101">
      <div class="pillar-auto">
        <strong>{{"signup.applyValEmail.subtitulo" | translate }}</strong>
      </div>

      <div ng-if="!val" class="m-t">
        <div class="alert alert-info">
          <p class="text-center">
            {{"signup.applyValEmail.exec" | translate }}
          </p>
        </div>
      </div>

      <div ng-if="val == 'error'">
        <div class="panel-red">
          <p class="text-center">
            {{"signup.applyValEmail.error" | translate }}
          </p>
        </div>
      </div>

      <div ng-if="val == true" class="pillar-auto">
        <div class="panel-green">
          <p style="color:white;">
            {{"signup.applyValEmail.success" | translate }}
          </p>
        </div>
      </div>

      <a ui-sref="access.signin" class="btn btn-lg btn-default btn-block">{{'Iniciar_Sesion' | translate}}</a>
    </div>
</div>
