<!-- #### Necesaria para el uso del recaptcha de google ####-->
<!-- #### No puede cargarse desde el router, supongo por problemas de actualizacion de recursos ####-->
<script src='https://www.google.com/recaptcha/api.js?hl=es'></script>

<div class="m-t-lg" ng-controller="ForgotpwdController">
    <div class="line-101">

      <p style="margin-top: 5pc">Introduce tu email y enviaremos un correo para recuperar tu contraseña</p>

      <div class="pillar-auto" style="justify-content:center;margin-top: 4pc">
        <input data-hide-3 type="text" placeholder="Email" style="width:70%" required>
      </div>
      <div class="pillar-auto" style="justify-content:center; margin-top: 4pc;">
        <button type="submit" style="font-family: neeru" data-standard class="btn-green-uno" ng-click="forgotpwd()">ENVIAR</button>
      </div>
    </div>
</div>
