<div class="m-t-lg" style="background-color:#f7f7f7; width:100%; height:100%">
  <div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
    <div class="m-b-lg">
      <div style="text-align:center">
        <img src="images/ALS.jpeg" width="70%">
      </div>
      <form name="form" class="form-validation">
        <!-- <div class="text-danger wrapper text-center" ng-show="authError">
            {{authError | translate}}
        </div> -->
        <div class="list-group list-group-sm" style="margin-top: 45px">
          <div class="pillar-auto" style="margin-top: 45px">
            <input data-hide-3 style="background-color: #f7f7f7;" type="text" placeholder='Username' name="user.username" ng-model="user.username" required>
          </div>
              <!-- ERRORES EN CAMPO DE EMAIL -->
              <div class="text-center" ng-if="form.email.$dirty && (form.email.$invalid || form.email.$touched)">
                <span ng-if="form.email.$error.required" class="error-input-msj" >
                  Ingrese un email
                </span>
                <span ng-if="form.email.$error.email" class="error-input-msj" >
                  Formato Invalido
                </span>
              </div>
              <!-- ERRORES EN CAMPO DE EMAIL -->

            <div class="pillar-auto">
              <input data-hide-3 style="background-color: #f7f7f7;" type="password" name="user.password"   placeholder="Contraseña" maxlength="16" ng-model="user.password" uib-popover-html="popoverContrasena.contenido" style="" title="Contraseña" popover-title="{{popoverContrasena.titulo | translate}}" popover-trigger="focus" popover-placement="bottom" required>
            </div>
            <!-- ERRORES EN CAMPO DE PASSWORD -->
            <div class="text-center" ng-if="form.password.$dirty && (form.password.$invalid || form.password.$touched)">
              <span ng-if="form.password.$error.required" class="error-input-msj" >
                Ingrese la contraseña
              </span>
            </div>
            <!-- ERRORES EN CAMPO DE PASSWORD -->
        </div>
        <div style="margin-top:51px; justify-content:center; display:flex;">
          <button type="submit" style="font-family: neeru; width:100%" data-standard class="btn-green" ng-click="signin()" ladda="loading" data-style="expand-right">Iniciar Sesion</button>
        </div>
        <div class="text-center m-t m-b" style="margin-top:15px">
          <a ui-sref="access.forgotpwd" style="font-family:neeru; color:gray; font-weight:200px">¿Olvidaste tu contraseña?</a>
        </div>
      </form>
    </div>
  </div>
</div>
