<main onload="primeAppVar.init()" ng-controller="movDetailsController">

  <!-- Movimiento Detallado -->
  <div ng-if="tableMovDetails" class="center" style="width:50%">
    <div class="bg-light lter b-b wrapper-md text-center">
      <h1 class="m-n font-thin h3">{{ "std.transaccion" | translate }} N°. {{datos.sale.id}}</h1>
    </div>
    <div class="min-w-lg form-center">
      <div class="panel panel-default form-md">
        <div class="panel panel-heading text-center title-letters">
          <b>{{ "detalle" | translate }}</b>
        </div>
        <div class="table-responsive">
          <table class="table table-hover b-t b-b" >
            <tbody>
              <tr>
                <td>
                  <b>{{ "fecha" | translate }}:</b>  {{datos.sale.date}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>{{ "referencia" | translate }}:</b> {{datos.sale.reference}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>{{ "std.phoneNumber" | translate }}:</b> {{datos.sale.phone}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>{{ "std.Status" | translate }}:</b> {{ ( (datos.sales.status == 'C') ? 'sales.status.confirmado' : ( (datos.sales.status == 'A') ? 'sales.status.anulada' : 'sales.status.pendiente' ) ) | translate}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>{{ "landing.recarga" | translate }}:</b> {{datos.sale.recharge}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>{{ "top-up.summary.total" | translate }}:</b> {{datos.sale.total}} USD
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <footer class="panel-footer text-right bg-light lter">
          <!--<button class="btn btn-info" ng-click="descargarPDF(transaccion.id)">Descargar en PDF</button>{{transaccion.id}}-->
          <button style="float: left" class="btn btn-link" ng-click="goBack()">{{"go_back" | translate }}</button>
          <button class="btn-green-on" data-standard="" ng-click="enviarComprobante()"><p>{{"movements.send_email" | translate }}</p></button>
        </footer>
      </div>
    </div>
  </div>
  <!-- Fin de Movimiento Detallado -->

</main>
<script src="js/ui-load.js"></script>
<script src="js/ui-jp.config.js"></script>
<script src="js/ui-jp.js"></script>
