<main onload="primeAppVar.init()" ng-controller="movController">

  <!-- No hay movimientos -->
  <div ng-if="msjmov" class="dynamic-content-box">
      <div class="empty-activity-box" style="margin-top:120px; margin-left: 20%">
          <div class="line-100" style="margin-top: 20px;">
              <img src="images/carita2.png" style="margin-right: 1pc;">
              <p class="p-green p-300 p-5">{{ "movements.sin" | translate }}</p>
          </div>
          <div class="line-100">
              <p class="p-gray">{{ "movements.question" | translate }}</p>
          </div>
          <div class="line-100">
              <button data-standard class="btn-green-on">
                  <p>{{ "movements.enviar_recarga" | translate }}</p>
              </button>
              <!-- <button data-standard class="btn-green-on">
                  <p>añadir saldo</p>
              </button> -->
          </div>
      </div>
  </div>
  <!-- Fin No hay movimientos -->
  <!-- Tabla de movimientos -->
  <div ng-if="tablemov" class="wrapper-md center w-100">
    <div class="panel-body">
      <table id="tablaMovimientos" ui-jq="dataTable" class="table table-hover table-responsive b-t b-b" ui-options="{
          paging: false,
          autoWidth: true,
          info:true,
          searching: false,
          processing: true,
          language: {
            processing: 'Progreso en Curso',
            search: 'Buscar',
            lengthMenu: 'Mostrar _MENU_ registros',
            emptyTable: 'Ningún dato disponible en esta tabla',
            info: '<span class=p-100>_START_ - _END_ / _TOTAL_ </span>',
            infoEmpty: '0 registros',
            infoFiltered: '(filtrado de un total de _MAX_ registros)',
            zeroRecords: 'No se encontraron resultados',
            loadingRecords: 'Cargando...',
            paginate: {
              first: 'Primero',
              last: 'Último',
              next: 'Siguiente',
              previous: 'Anterior'
            },
            aria: {
              sortAscending: ': Activar para ordenar la columna de manera ascendente',
              sortDescending: ': Activar para ordenar la columna de manera descendente'
            }
          },
          aoColumns: [
            { mData: 'date' },
            { mData: 'reference' },
            { mData: 'phone' },
            { mData: 'recharge' },
            { mData: 'total' },
            { mData: 'status'},
          ],
          aaData: {{datos.sales}}
        }">
        <thead >
          <tr>
            <th class="p-tiny" style="width:14.2%; text-align:center;">{{"fecha" | translate}}</th>
            <th class="p-tiny" style="width:14.2%; text-align:center;">{{"referencia" | translate}}</th>
            <th class="p-tiny" style="width:14.2%; text-align:center;">{{"numero" | translate}}</th>
            <th class="p-tiny" style="width:14.2%; text-align:center;">{{"Amount" | translate}}</th>
            <th class="p-tiny" style="width:14.2%; text-align:center;">TOTAL</th>
            <th class="p-tiny" style="width:14.2%; text-align:center;">Status</th>
          </tr>
        </thead>
        <tbody class="p-small" style="border-bottom:2px solid #cfd5d1;">
        </tbody>
      </table>
    </div>
  </div>
  <!-- Fin Tabla de movimientos -->

  <!-- Movimiento Detallado -->
  <div ng-if="tableMovDetails" class="center" style="width:40%">
    <div class="bg-light lter b-b wrapper-md text-center">
      <h1 class="m-n font-thin h3">{{"transaccion" | translate}} No. {{datos.sales.reference}}</h1>
    </div>
    <div class="min-w-lg form-center">
      <div class="panel panel-default form-md">
        <div class="panel panel-heading text-center title-letters">
          <b>{{"detalle" | translate}}</b>
        </div>
        <div class="table-responsive">
          <table class="table b-t b-light" >
            <tbody>
              <tr>
                <td>
                  <b>{{"fecha" | translate}}:</b>  {{datos.sales.date}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>{{"referencia" | translate}}:</b> {{datos.sales.reference}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>{{"phoneNumber" | translate}}:</b> {{datos.sales.phone}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>{{"Status" | translate}}:</b> {{datos.sales.status}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>{{"Amount" | translate}}:</b> {{datos.sales.rechargeOf}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>TOTAL:</b> {{datos.sales.total}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <footer class="panel-footer text-right bg-light lter">
          <!--<button class="btn btn-info" ng-click="descargarPDF(transaccion.id)">Descargar en PDF</button>{{transaccion.id}}-->
          <button style="float: left" class="btn btn-link" ng-click="goBack()">{{"go_back" | translate}}</button>
          <button class="btn-green-on" data-standard="" ng-click="enviarComprobante()"><p>{{"movements.send_email"}}</p></button>
          <button class="btn-green-on" data-standard=""><p>{{"movements.descargar_pdf" | translate}}</p></button>
        </footer>
      </div>
    </div>
  </div>
  <!-- Fin de Movimiento Detallado -->

</main>
<script src="js/ui-load.js"></script>
<script src="js/ui-jp.config.js"></script>
<script src="js/ui-jp.js"></script>
