<main onload="primeAppVar.init()" ng-controller="movController">

  <!-- No hay movimientos -->
  <div ng-if="msjmov" class="dynamic-content-box">
      <div class="empty-activity-box" style="margin-top:120px">
          <div class="line-100">
              <img src="images/carita2.png">
              <p class="p-green p-300 p-5">No posees movimientos...</p>
          </div>
          <div class="line-100">
              <p class="p-gray">¿Quieres hacer una recarga o añadir saldo a tu cuenta ahora?</p>
          </div>
          <div class="line-100">
              <button data-standard class="btn-green-on">
                  <p>enviar recarga</p>
              </button>
              <button data-standard class="btn-green-on">
                  <p>añadir saldo</p>
              </button>
          </div>
      </div>
  </div>
  <!-- Fin No hay movimientos -->
  <!-- Tabla de movimientos -->
  <div ng-if="tablemov" class="wrapper-md center w-100">
    <div class="panel-body">
      <table id="tablaMovimientos" ui-jq="dataTable" class="table table-hover table-responsive b-t b-b" ui-options="{
          paging: false,
          autoWidth: true,
          info:true,
          searching: false,
          processing: true,
          language: {
            processing: 'Progreso en Curso',
            search: 'Buscar',
            lengthMenu: 'Mostrar _MENU_ registros',
            emptyTable: 'Ningún dato disponible en esta tabla',
            info: '<span class=p-100>Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros</span>',
            infoEmpty: 'Mostrando registros del 0 al 0 de un total de 0 registros',
            infoFiltered: '(filtrado de un total de _MAX_ registros)',
            zeroRecords: 'No se encontraron resultados',
            loadingRecords: 'Cargando...',
            paginate: {
              first: 'Primero',
              last: 'Último',
              next: 'Siguiente',
              previous: 'Anterior'
            },
            aria: {
              sortAscending: ': Activar para ordenar la columna de manera ascendente',
              sortDescending: ': Activar para ordenar la columna de manera descendente'
            }
          },
          aoColumns: [
            { mData: 'date' },
            { mData: 'reference' },
            { mData: 'phone' },
            { mData: 'recharge' },
            { mData: 'total' },
            { mData: 'action' }
          ],
          aaData: {{datos.sales}}
        }">
        <thead>
          <tr>
            <th class="p-tiny" style="width:16.6%">FECHA</th>
            <th class="p-tiny" style="width:16.6%">REFERENCIA</th>
            <th class="p-tiny" style="width:16.6%">NÚMERO</th>
            <th class="p-tiny" style="width:16.6%">RECARGA DE</th>
            <th class="p-tiny" style="width:16.6%">TOTAL</th>
            <th  style="width:16.6%"></th>
          </tr>
        </thead>
        <tbody class="p-small">
        </tbody>
      </table>
    </div>
  </div>
  <!-- Fin Tabla de movimientos -->

  <!-- Movimiento Detallado -->
  <div ng-if="tableMovDetails" class="center" style="width:40%">
    <div class="bg-light lter b-b wrapper-md text-center">
      <h1 class="m-n font-thin h3">Transacción Nro. {{datos.sales.reference}}</h1>
    </div>
    <div class="min-w-lg form-center">
      <div class="panel panel-default form-md">
        <div class="panel panel-heading text-center title-letters">
          <b>Detalle</b>
        </div>
        <div class="table-responsive">
          <table class="table b-t b-light" >
            <tbody>
              <tr>
                <td>
                  <b>Fecha:</b>  {{datos.sales.date}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>Referencia:</b> {{datos.sales.reference}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>Telefono:</b> {{datos.sales.phone}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>Estado:</b> {{datos.sales.status}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>Recarga De:</b> {{datos.sales.rechargeOf}}
                </td>
              </tr>
              <tr>
                <td>
                  <b>Total:</b> {{datos.sales.total}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <footer class="panel-footer text-right bg-light lter">
          <!--<button class="btn btn-info" ng-click="descargarPDF(transaccion.id)">Descargar en PDF</button>{{transaccion.id}}-->
          <button style="float: left" class="btn btn-link" ng-click="goBack()">Regresar</button>
          <button class="btn-green-on" data-standard="" ng-click="enviarComprobante()"><p>Enviar por Correo</p></button>
          <button class="btn-green-on" data-standard=""><p>Descargar en PDF</p></button>
        </footer>
      </div>
    </div>
  </div>
  <!-- Fin de Movimiento Detallado -->

</main>
<script src="js/ui-load.js"></script>
<script src="js/ui-jp.config.js"></script>
<script src="js/ui-jp.js"></script>
