.button-facebook {
	font-family: Helvetica, Arial, sans-serif;
  letter-spacing: .25px;
  max-width: 272px;
  min-width: initial;
  width: auto;
  font-size: 16px;
  height: 40px;
  background-color: #4267b2 !important;
  border-color: #4267b2 !important;
	line-height: 1.28;
	display: inline-flex;
}

.button-facebook > span {
	background-color: white;
	color: #4267b2;
	width: 20px;
	height: 20px;
	font-size: larger;
	font: normal normal normal 20px/1.2 FontAwesome;
	padding-left: 2px;
	font-size: 21px;
}


/* Boxes */
	 html{
		margin: 0px;
		z-index: 0;
		height: 100%;
		width: 100%;
	}
	.tab-box{
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    padding: 5px 0pc;
    height: 25px;
    cursor: pointer;
	}
	.custom-modal-box{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: rgba(0, 0, 0, 0.75);
		display: none;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: .35s;
		z-index: 20;
	}
	.internal-modal-box{
		background-color: white;
		display: flex;
		border-radius: .35rem;
		box-sizing: border-box;
	}
	.tab-home{
    border-radius: .5rem;
		margin-right: 5pc;
    justify-content:flex-start;
    cursor: pointer;
    display: flex;
}
.tab-dynamic-home {
	margin-right: 5pc;
	align-items: -webkit-flex;
	width: 12pc;
	border-bottom: 1.5px solid #0DB731;
	cursor: pointer;
}
.home1 {
	margin-right: 5pc;
	align-items: center;
	width: 12pc;
	justify-content: center;
	display: flex;
	margin-top: 2pc;
	margin-bottom: 0pc;
	cursor: pointer;
}
.publicity {
	margin-right: 5pc;
	width: 100%;
	justify-content: space-between;

	display: flex;
}
	}
/* Boxes */

/* Elements */
	.tab-off{
		border: 1.5px solid #CFD5D1;
	}
	.tab-on{
		border: 1.5px solid #0DB731;
	}
	.btn-green-on{
		background-color: #0DB731;
	}
	.btn-off,
	.btn-gray-on{
		background-color: #BAC2BC;
	}
/* Elements */

/* Text */
	p{
		margin-bottom: 0px;
		margin-top: 0px;
		font-size: 1em;
    line-height: 120%;
    font-family: neeru;
	}
	.p-green,
	.tab-on p{
		color: #3FB831;
	}
	.p-gray,
	.tab-off p{
		color: #AEB7B3;
	}
	.p-black{
		color: black
	}
	.p-salmon{
		color: #C94248;
	}
	.p-short{
		font-size: 0.7em;
	}
	.p-tiny{
		font-size: 0.8em;
	}
	.p-small{
		font-size: 0.9em;
	}
	.p-1{
		font-size: 1.1em;
	}
	.p-2{
		font-size: 1.2em;
	}
	.p-3{
		font-size: 1.3em;
	}
	.p-4{
		font-size: 1.4em;
	}
	.p-5{
		font-size: 1.5em;
	}
	.p-200{
		font-weight: 200;
	}
	.p-300{
		font-weight: 300;
	}
	.p-500{
		font-weight: 500;
	}
	.p-600{
		font-weight: 600;
	}
	.p-700{
		font-weight: 700;
	}
	.p-800{
		font-weight: 800;
	}
	.p-900{
		font-weight: 900;
	}
	.p-up{
		text-transform: uppercase;
	}
	.tab-box p,
	.tab-home p{
		text-transform: uppercase;
		margin-left: 10px;
		font-weight: 500;
		color: #AEB7B3;
		}
		.tab-home p-1{
			margin-left: 10px;
			margin-right: 3pc;
			font-weight: 500;
			color: #AEB7B3;
			margin-bottom: 0px;
			margin-top: 0px;
			font-size: 1em;
	    line-height: 120%;
	    font-family: neeru;
			}
	.tab-dynamic-home p{
			color: #0DB731;
			font-weight: 400;
			font-size: 2pc;
	}
	.home-box p{
			color: #0DB731;
			font-weight: 300;
			font-size: 1.5pc;
	}
	.btn-neeru p{
		text-transform: uppercase;
		margin-left: 0.5pc;
		font-weight: 500;
	}
	.btn-neeru p{
		color: #0DB731;
	}
/* Text */

/* Btn */
	button[data-standard]{
		height: 25px;
    box-sizing: content-box;
    border: none;
    padding: 5px 1pc;
    border-radius: .5rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
   	outline: none;
	}
	.btn-neeru{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #0DB731;
    border-radius: .5rem;
    cursor: pointer;
	}
/* Btn */

/* Inputs */
	input[data-hide]{
    width: 100%;
    border: none;
    padding: 5px 1pc;
    outline: none;
    font-family: neeru;
    font-size: 1em;
	}
	input[data-hide-2]{
		width: 100%;
    border: none;
    padding: 8px 0.35pc;
    outline: none;
    font-family: neeru;
    font-size: 1em;
    border-bottom: 1.5px solid #CFD5D1;
    transition: .5s;
	}
	input[data-mode-1]{
		width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-family: neeru;
    border-radius: .5rem;
    border: 1.5px solid #CFD5D1;
    outline: none;
    font-size: 1em;
	}
/* Inputs */

/* Checkbox */
	.neeru-checkbox-1,
	.neeru-checkbox-2{
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
	}
	.neeru-checkbox-1 input,
	.neeru-checkbox-2 input{
		position: absolute;
		width: 25px;
		height: 25px;
		margin: 0px;
		z-index: 2;
		opacity: 0;
		cursor: pointer;
	}
	.neeru-checkbox-1 span,
	.neeru-checkbox-2 span{
		display: block;
    width: 20px;
    height: 20px;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.35s;
	}
	.neeru-checkbox-1 span{
		background-image: url(../../images/checkGrs.png);
	}
	.neeru-checkbox-2 span{
		background-image: url(../../images/checkNrj1.png);
	}
	.neeru-checkbox-1 input:checked + span{
		background-image: url(../../images/checkVrd.png);
	}
	.neeru-checkbox-2 input:checked + span{
		background-image: url(../../images/checkNrj2.png);
	}
/* Checkbox */

/* Select */
	.neeru-select{
    width: 90%;
    border: 1.5px solid #CFD5D1;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
	}
	.neeru-select > .country-selected{
		display: flex;
    align-items: center;
    justify-content: center;
	}
	.neeru-select > .country-selected p{
		margin-left: 0.35pc;
	}
	.options-neeru-select-box{
		position: absolute;
    width: 100%;
    top: 100%;
    border: 1.5px solid #CFD5D1;
    border-radius: .5rem;
    max-height: 300px;
    display: none;
    background: white;
    z-index: 10;
	}
	.option-neeru{
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
	}
	.options-neeru-select-box img{
		width: 25px;
	}
	.option-neeru p{
		margin-left: 1pc;
	}
	.option-neeru:hover{
		background-color: rgba(128, 128, 128, 0.3);
		border-radius: .35rem;
	}
/* Select */

/* Scrollbar */
	::-webkit-scrollbar {
    width: 12px;
	}

	::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: rgba(13, 183, 49, 0.5);
	}
/* Scrollbar */

/* Actions */
	.btn-neeru:active{
		background-color: rgba(72, 200, 99, 0.4);
	}
	.btn-green-on:hover{
		background-color: #0b8825;
	}
	.btn-green-on:active p{
		color: #0DB731;
	}
	.btn-green-on:active {
		background-color: white;
	}
	input[data-mode-1]:focus{
		border: 1.5px solid #0DB731;
	}
	input[data-hide-2]:focus{
		border-bottom: 1.5px solid #3FB831;
	}
	input[data-hide-2]:focus::-webkit-input-placeholder{
		color: #3FB831;
	}
	.btn-gray-on:hover{
		background: #8a908c;
	}
	.btn-gray-on:active{
		background: white;
	}
	.btn-gray-on:active p{
		color: #8a908c;
	}
/* Actions */

/* Responsive */
	@media screen and (max-width: 300px){
		.btn-neeru p{
			font-size: .75em;
		}
		.btn-neeru{
			padding: .5pc 0pc;
		}
		.internal-modal-box{
			padding: 1pc;
		}
		.internal-modal-box{
    	max-width: 90%;
    	max-height: 90%;
		}
	}
	@media screen and (min-width: 301px) and (max-width: 400px){
		.btn-neeru p{
			font-size: .75em;
		}
		.btn-neeru{
			padding: .5pc 0pc;
		}
		.internal-modal-box{
			padding: 1pc;
		}
		.internal-modal-box{
    	max-width: 90%;
    	max-height: 90%;
		}
	}
	@media screen and (min-width: 401px) and (max-width: 500px){
		.btn-neeru p{
			font-size: .75em;
		}
		.btn-neeru{
			padding: .5pc 0pc;
		}
		.internal-modal-box{
			padding: 1pc;
		}
		.internal-modal-box{
    	max-width: 90%;
    	max-height: 90%;
		}
	}
	@media screen and (min-width: 501px) and (max-width: 767px){
		.btn-neeru p{
			font-size: .75em;
		}
		.btn-neeru{
			padding: .5pc 0pc;
		}
		.internal-modal-box{
			padding: 1pc;
		}
		.internal-modal-box{
    	max-width: 90%;
    	max-height: 90%;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 992px){
		.internal-modal-box{
			padding: 1pc;
		}
	}
	@media screen and (min-width: 993px) and (max-width: 1200px){
		.internal-modal-box{
			padding: 1pc;
		}
	}
	@media screen and (min-width: 1201px) and (max-width: 1500px){
		.internal-modal-box{
			padding: 1pc;
		}
	}
	@media screen and (min-width: 1501px){
		.internal-modal-box{
			padding: 1pc;
		}
	}

/* Responsive */






/* Boxes */
	 header,
	 header > section,
	 header > section > nav,
	 main,
	.dynamic-content-box,
	.internal-vertical-panel{
		display: flex;
	}
	 header,
	 header > section,
	 main,
	.dynamic-content-box,
	.internal-vertical-panel{
		width: 100%;
	}
	 header{
		flex-direction: column;
	}
	 header > section {
    justify-content: space-between;
	}
	 header > section,
	 header > section > nav{
		align-items: center;
	}
	 header > section > nav{
    margin: 0pc 2pc;
	}
	 main{
		box-sizing: border-box;
	}
	.vertical-panel{
    position: fixed;
    bottom: 0pc;
    z-index: 19;
    width: 100%;
    height: calc(100% - 70px);
    display: none;
    align-items: flex-start;
    transition: .25s;
	}
	.internal-vertical-panel{
    background: #48C863;
    transition: 1s;
    height: 0px;
    padding: 1% 3%;
    flex-wrap: wrap;
	}
	.card-notify-box, .card-notify-box1{
    position: absolute;
    max-width: 300px;
    display: flex;
    background: white;
    flex-direction: column;
    top: calc(100% + .75pc);
    border-radius: .5rem;
    border: 1px solid #0DB731;
  	padding: 4px 8px;
  	min-width: 180px;
	}
	.notify{
		background: #F2F4F2;
		border-radius: .5rem;
		padding: 5px;
	}.mainly {
		display: flex;
		margin-left: 3pc;
		margin-top: 2pc;
	}
	.home-box {
		display: flex;
		border-top: 1.5px solid #CFD5D1;;
		border-bottom: 1.5px solid #CFD5D1;;
		display: block;
		justify-content: center;
		margin-left: 2pc;
		margin-top: 2pc;
		margin-bottom: 1pc;
	}
/* Boxes */

/* Aux */
	.aux-1-SA,
	.aux-2-SA,
	 header > section:last-child > div,
	.internal-vertical-panel > nav,
	.internal-vertical-panel > div{
		display: flex;
	}
	.aux-1-SA,
	 header > section:first-child > div:last-child,
	 header > section:last-child > div:first-child,
	 header > section:last-child > div,
	.internal-vertical-panel > nav,
	.internal-vertical-panel > div{
		align-items: center;
	}
	.aux-2-SA{
		align-items: baseline;
		margin-left: 0.5pc;
	}
	 header > section:first-child{
		background-color: #0DB731;
		height: 70px;
	}
	 header > section:last-child{
		background-color: #48C863;
	}
	 header > section:first-child,
	 header > section:last-child{
		box-sizing: border-box;
	}
	 header > section > nav > div{
		cursor: pointer;
		position: relative;
	}
	 header > section:first-child > div:last-child{
    margin: 0pc 1.5%;
	}
	 header > section:first-child > div:last-child > div{
		margin-right: 1pc;
	}
	.internal-vertical-panel > div:last-child > div{
		margin-left: 0.75pc;
	}
	.internal-vertical-panel > nav,
	.internal-vertical-panel > div{
		opacity: 0;
		transition: .25s;
	}
	 header > section > nav > div:last-child{
		display: flex;
		justify-content: center;
	}
	.card-notify-box > .line-100{
		justify-content: center;
		margin: 4px 0px;
	}
	.notify > .pillar-auto{
		align-items: center;
	}
	.notify > .pillar-auto:first-child {
		flex-wrap: wrap;
	}
	.internal-vertical-panel > nav > div{
		display: flex;
		padding-bottom: .25pc;
		position: relative;
	}
/* Aux */

/* Text, Icons */
	 header p,
	 header i,
	.internal-vertical-panel > nav > div > p,
	.internal-vertical-panel > nav > div i,
	.internal-vertical-panel > div:last-child > div > p{
		color: white;
	}
	 header > section > nav p,
	.internal-vertical-panel > nav > div > p{
		text-transform: uppercase;
		font-weight: 500;
	}
	 header > section > nav i,
	.internal-vertical-panel > nav > div i{
		font-size: 1.3em !important;
	}
	 header > section:last-child > div:first-child i{
		font-size: 1.5em !important;
	}
	 header > section:last-child > div:first-child p{
		margin-left: 1pc;
	}
	.aux-2-SA p{
    margin: 0px 2px;
	}
/* Text, Icons */

/* Img */
	.aux-img-1-SA{
		height: 50px;
    border-radius: .75rem;
    width: 50px;
    object-fit: cover;
    border: 2px solid white;
	}
/* Img */

/* Btn */
	.card-notify-box button[data-standard]{
		width: 100%;
	}

/* Element */
	.vertical-line{
		width: 2px;
		height: 12px;
		background-color: white;
		margin: 0pc 8px;
	}
	.btn-burger{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: .25rem;
	}
/* Element */

/* Actions */
	.btn-burger:active{
		background-color: white;
	}
	.btn-burger:active i{
		color: #0DB731;
	}
	/* header > section > nav > div:last-child:hover{
		border-bottom: 2px solid #FFFF00;
	}*/
/* Actions */

/* Responsive */
	@media screen and (max-width: 300px) {
     main{
			height: calc(100% - 155px);
		}
 		 header > section > nav,
		[data-aux-1]{
			display: none;
		}
		 header > section:first-child {
	    padding: 0% 5%;
		}
		 header > section:last-child {
	    padding: 10px 5%;
		}
		.internal-vertical-panel > nav,
		.internal-vertical-panel > div{
			width: 100%;
			justify-content: center;
			padding: 0.5pc 0pc;
		}
		.internal-vertical-panel > nav{
			flex-direction: column;
		}
		.internal-vertical-panel > nav > div {
	    margin: 0.5pc 0.75pc;
		}
		 header > section:last-child{
			flex-wrap: wrap;
		}
		 header > section:last-child > div{
			width: 100%;
	    height: 30px;
	    justify-content: center;
		}
		 header > section:last-child .p-5{
			font-size: 1.3em;
		}
		.internal-vertical-panel > nav > div{
			justify-content: center;
		}
	}
	@media screen and (min-width: 301px) and (max-width: 400px){
	 	 main{
			height: calc(100% - 155px);
		}
 		 header > section > nav,
		[data-aux-1]{
			display: none;
		}
		 header > section:first-child {
	    padding: 0% 5%;
		}
		 header > section:last-child {
	    padding: 10px 5%;
		}
		.internal-vertical-panel > nav,
		.internal-vertical-panel > div{
			width: 100%;
			justify-content: center;
			padding: 0.5pc 0pc;
		}
		.internal-vertical-panel > nav{
			flex-direction: column;
		}
		.internal-vertical-panel > nav > div {
	    margin: 0.5pc 0.75pc;
		}
		 header > section:last-child{
			flex-wrap: wrap;
		}
		 header > section:last-child > div{
			width: 100%;
	    height: 30px;
	    justify-content: center;
		}
		 header > section:last-child .p-5{
			font-size: 1.3em;
		}
		.internal-vertical-panel > nav > div{
			justify-content: center;
		}
		.notify p{
			font-size: 0.8em;
		}
	}
	@media screen and (min-width: 401px) and (max-width: 500px){
 		 main{
			height: calc(100% - 150px);
		}
 		 header > section > nav,
		[data-aux-1]{
			display: none;
		}
		 header > section:first-child {
	    padding: 0% 5%;
		}
		 header > section:last-child {
	    padding: 10px 5%;
		}
		.internal-vertical-panel > nav,
		.internal-vertical-panel > div{
			width: 100%;
			justify-content: center;
			padding: 0.5pc 0pc;
		}
		.internal-vertical-panel > nav{
			flex-direction: column;
		}
		.internal-vertical-panel > nav > div {
	    margin: 0.5pc 0.75pc;
		}
		 header > section:last-child{
			flex-wrap: wrap;
		}
		 header > section:last-child > div{
			width: 100%;
	    height: 30px;
	    justify-content: center;
		}
		 header > section:last-child .p-5{
			font-size: 1.3em;
		}
		.internal-vertical-panel > nav > div{
			justify-content: center;
		}
		.notify p{
			font-size: 0.8em;
		}
	}
	@media screen and (min-width: 501px) and (max-width: 767px){
	 	 main{
			height: calc(100% - 125px);
		}
	 	 header > section:last-child {
	    height: 55px;
		}
	 	 header > section > nav,
		[data-aux-1]{
			display: none;
		}
		 header > section {
	    padding: 0% 5%;
		}
		.internal-vertical-panel > nav,
		.internal-vertical-panel > div{
			width: 100%;
			justify-content: center;
			padding: 0.5pc 0pc;
		}
		.internal-vertical-panel > nav > div{
			margin: 0pc 0.75pc;
		}
		.internal-vertical-panel > nav > div p{
			font-size: 0.8em;
		}
		 header > section:last-child .p-5{
			font-size: 1.3em;
		}
		.internal-vertical-panel > nav > div{
			justify-content: flex-end;
		}
		.w-auto-xs {
			width: auto;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 992px){
		 main{
			height: calc(100% - 125px);
		}
		 header > section:last-child {
	    height: 55px;
		}
		 header > section > nav,
		[data-aux-1]{
			display: none;
		}
		 header > section {
	    padding: 0% 5%;
		}
		.internal-vertical-panel{
			justify-content: space-between;
		}
		.internal-vertical-panel > nav > div{
			margin: 0pc 0.75pc;
		}
		.internal-vertical-panel > nav > div p{
			font-size: 0.8em;
		}
		.internal-vertical-panel > nav > div{
			justify-content: center;
		}
	}
	@media screen and (min-width: 993px) and (max-width: 1200px){
		 main{
			height: calc(100% - 125px);
		}
		 header > section:last-child {
	    height: 55px;
		}
		 header > section:first-child > div:last-child{
			display: flex;
		}
		 header > section:first-child > div:first-child {
	    padding: 0% 2.5%;
		}
		 header > section:last-child {
	    padding: 0% 2.5%;
		}
		 header > section > nav > div {
	    margin: 0pc 0.5pc;
	    padding: .25pc 0pc;
		}
		 header > section > nav p {
	    font-size: 0.8em;
	    text-align: center;
		}
		 main{
			padding: 2pc 5%;
		}
		.internal-vertical-panel > nav > div{
			justify-content: center;
		}
	}
	@media screen and (min-width: 1201px) and (max-width: 1500px){
		 main{
			height: calc(100% - 125px);
		}
		 header > section:last-child {
	    height: 55px;
		}
		 header > section:first-child > div:last-child{
			display: flex;
		}
		 header > section:first-child > div:first-child {
	    padding: 0% 2.5%;
		}
		 header > section:last-child {
	    padding: 0% 2.5%;
		}
		 header > section > nav > div {
	    margin: 0pc 0.5pc;
	    padding: .25pc 0pc;
		}
		 header > section > nav p {
	    font-size: 0.8em;
	    text-align: center;
		}
		 main{
			padding: 2pc 10%;
		}
		.internal-vertical-panel > nav > div{
			justify-content: center;
		}
	}
	@media screen and (min-width: 1501px) {
		 main{
			height: calc(100% - 125px);
		}
		 header > section:last-child {
	    height: 55px;
		}
		 header > section:first-child > div:last-child{
			display: flex;
		}
		 main{
			padding: 2pc 15%;
		}
		 header > section:first-child > div:first-child,
		 header > section:last-child{
			padding: 0% 5%;
		}
		 header > section > nav > div{
    	margin: 0pc 2pc;
    	padding: .25pc 0pc;
		}
		.internal-vertical-panel > nav > div{
			justify-content: center;
		}
	}
/* Responsive */


.button-facebook {
    font-family: Helvetica, Arial, sans-serif;
  letter-spacing: .25px;
  max-width: 272px;
  min-width: initial;
  width: auto;
  font-size: 16px;
  height: 40px;
  background-color: #4267b2 !important;
  border-color: #4267b2 !important;
    line-height: 1.28;
    display: inline-flex;
}

.button-facebook > span {
    background-color: white;
    color: #4267b2;
    width: 20px;
    height: 20px;
    font-size: larger;
    font: normal normal normal 20px/1.2 FontAwesome;
    padding-left: 2px;
    font-size: 21px;
}

.m-t-lg {
  margin-top: 30px;
}

.w-xxl {
  width: 360px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.form-validation .form-control.ng-dirty.ng-invalid {
  border-color: #f05050;
}

.form-validation .form-control.ng-dirty.ng-valid,
.form-validation .form-control.ng-dirty.ng-valid:focus {
  border-color: #27c24c;
}

.form-validation .i-checks .ng-invalid.ng-dirty + i {
  border-color: #f05050;
}

.list-group.no-borders .list-group-item {
  border: none;
}

.list-group.no-border .list-group-item {
  border-width: 1px 0;
}
.no-border,
.no-borders {
  border-color: transparent;
  border-width: 0;
}
.line {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  overflow: hidden;
  font-size: 0;
}
.line-dashed {
  background-color: transparent;
  border-style: dashed !important;
  border-width: 0;
}

/* Boxes */
	.reload-master-box > section:first-child{
		width: 70%;
	}
	.reload-master-box > section:last-child{
		width: 30%;
	}
	.selecting-internal-box-R,
	.pay-plans-box{
		width: 100%;
	}
	.reload-master-box,
	.reload-master-box > section:first-child,
	.reload-master-box > section:last-child,
	.pay-plans-box,
	.selecting-internal-box-R{
		display: flex;
	}
	.reload-master-box > section:first-child,
	.reload-master-box > section:last-child,
	.selecting-box-R,
	.frecuency-phones-box,
	.total-box,
	.promo-box,
	.plans-box,
	.member-card-box{
		flex-wrap: wrap;
	}
	.reload-master-box > section:last-child > div:last-child,
	.selecting-internal-box-R,
	.pay-plans-box,
	.promo,
	.popular-plan,
	.pay-box{
		justify-content: space-between;
	}
	.reload-master-box > section:last-child > div:last-child,
	.selecting-internal-box-R,
	.operator,
	.balance-box,
	.record,
	.pay-plans-box,
	.pay-box{
		flex-direction: column;
	}
	.selecting-box-R,
	.selecting-internal-box-R,
	.reload-master-box > section:last-child > div:last-child{
    height: calc(100% - (40px + 1pc));
	}
	.regular-plan,
	.popular-plan,
	.promo,
	.selecting-box-R,
	.reload-master-box > section:last-child > div:last-child,
	.record,
	.pay-box,
	.member-card{
		box-sizing: border-box;
	}
	.pay-box,
	.pay-plans-box{
		display: none;
	}
	.reload-master-box > section:last-child > div:last-child,
	.frecuency-phone,
	.promo,
	.popular-plan,
	.member-card{
    border-radius: .5rem;
	}
	.reload-master-box > section:last-child > div:last-child,
	.frecuency-phone,
	.promo,
	.popular-plan,
	.member-card{
    padding: 10px;
	}
	.promo-box,
	.plans-box{
		justify-content: space-around;
		padding: 1pc 0pc;
	}
	.reload-master-box > section:last-child > div:last-child{
    border: 1.5px solid #E5EBE6;
	}
	.frecuency-phone{
    border: 1.5px solid #0DB731;
    margin-bottom: 1pc;
	}
	.operator{
    margin: 0pc 1pc;
	}
	.total-box{
    padding-top: 10px;
    border-top: 1.5px solid #E5EBE6;
    height: 82px;
	}
	.balance-box{
    height: calc(100% - 82px);
    overflow-y: auto;
	}
	.record{
    flex-shrink: 0;
    padding: 0px 5px;
	}
	.pay-plans-box{
    height: 100%;
    align-self: center;
	}
	.promo{
		border: 1.5px solid #FFB92E;
    box-shadow: -2px 2px 0px #FFB92E;
    margin-bottom: 1pc;
	}
	.popular-plan{
    border: 1.5px solid #3FB831;
	}
	.regular-plan{
    border-bottom: 1.5px solid #CFD5D1;
    padding: 0pc 0.5pc;
	}
	.pay-box,
	.frecuency-phones-box{
		padding: 0% 2.5%;
	}
/* Boxes */

/* Aux */
	.reload-master-box > section{
		flex-direction: column;
	}
	.aux-1-R{
		height: 40px;
	}
	.aux-1-R,
	.aux-2-R,
	.aux-3-R{
		justify-content: space-around;
	}
	.aux-1-R{
		margin-bottom: 1pc;
	}
	.aux-2-R > div:first-child{
		border-bottom: 2px solid #C9CFCB;
		padding: 0pc 0.75pc;
	}
	.aux-2-R > div:last-child{
		justify-content: flex-end;
	}
	.frecuency-phone > div:first-child,
	.aux-2-R > div:first-child,
	.select-operator-box .line-100,
	.plans-box > .pillar-45p > .pillar-auto,
	.promo > div,
	.pay-type-box > div,
	.member-card > div,
	.pay-box form > .line-100 > div,
	.congratulation-box > .line-100{
		align-items: center;
	}
	.frecuency-phone > div:last-child{
		padding: 0% 5%;
	}
	.frecuency-phone > div:first-child,
	.select-operator-box > .line-100:first-child,
	.select-operator-box > .line-100:last-child,
	.select-operator-box > .line-100:nth-child(2),
	.congratulation-box > .line-100,
	.congratulation-box > .line-100 > .pillar-80p{
		justify-content: center;
	}
	.frecuency-phones-box > .line-100:first-child,
	.aux-5-R{
		margin: 1pc 0pc;
	}
	.aux-4-R,
	.reload-master-box > section,
	.total-box > .line-100:first-child,
	.record .line-100,
	.member-card-box > .line-100:last-child,
	.aux-7-R > .line-100{
		justify-content: space-between;
	}
	.aux-4-R,
	.frecuency-phone > div:last-child,
	.record .line-100,
	.aux-5-R,
	.promo > .pillar-auto,
	.pay-plans-box > .line-100:first-child,
	.select-operator-box > .line-100:nth-child(2),
	.member-card > div,
	.member-card-box > .line-100:last-child,
	.pay-box form,
	.pay-box > .line-100:first-child,
	.aux-7-R,
	.aux-7-R > .line-100{
		flex-wrap: wrap;
	}
	.operator-logo-box{
		padding-left: 25px;
	}
	.select-operator-box > .line-100:first-child,
	.congratulation-box > .line-100{
		margin-bottom: 2pc;
	}
	.operator > .line-100,
	.total-box > .line-100:first-child,
	.aux-5-R > .line-100:first-child,
	.pay-box form > .line-100{
		margin-bottom: 1pc;
	}
	.select-operator-box > .line-100:last-child{
		margin-top: 2pc;
	}
	.total-box > .line-100:first-child .pillar-auto{
		align-items: flex-end;
	}
	.record > .line-100{
		border-bottom: 1.5px solid #E5EBE6;
    margin-bottom: 1pc;
    padding-bottom: 0.5pc;
	}
	.record > .line-100 > .line-100{
		margin-bottom: 0.35pc;
	}
	.record > .line-100 > .line-100 .pillar-auto{
		align-items: flex-end;
	}
	.aux-5-R,
	.frecuency-phones-box{
		box-sizing: border-box;
	}
	.pay-plans-box > .line-100:first-child,
	.member-card-box > .line-100:last-child{
		overflow: auto;
	}
	.plans-box > .pillar-45p > .pillar-auto{
    padding: 0.5pc 0pc;
	}
	.plans-box > .pillar-45p,
	.member-card-box > .line-100:first-child,
	.member-card{
		margin-bottom: 1pc;
	}
	.pay-plans-box > .line-100:first-child{
    height: calc(100% - 105px);
	}
	.plans-box > .line-100,
	.aux-5-R{
    padding: 0px 2.5%;
	}
	.member-card > .pillar-100p{
		padding: 0pc .5pc;
	}
	.member-card{
    border: 1.5px solid #CFD5D1;
	}
	.pay-box form > .line-100:first-child > .pillar-25p{
		padding-right: 0.5pc;
	}
	.aux-6-R{
		justify-content: flex-end;
		padding: 0pc 0.5pc;
    box-sizing: border-box;
	}
	.pay-box form{
		padding: 1pc 0pc;
	}
	.congratulation-box .pillar-80p{
		background: #F2F4F2;
	}
	.congratulation-box > .line-100 > .pillar-80p{
		padding: 5px;
		border-radius: .5rem;
	}
	.pay-box form{
		position: relative;
	}
/* Aux */

/* Img */
	.select-operator-box img{
		width: 100px;
		height: 60px;
	}
	.selectOperatorImg,
	.select-operator-box img{
		object-fit: contain;
	}
	.selectOperatorImg{
		width: 100%;
		cursor: pointer;
	}
	.aux-img-1-R{
		margin-left: .35pc;
	}
	.aux-img-2-R{
		margin-right: 1pc;
	}
	.aux-img-3-R{
		margin-left: 1pc;
	}
	.tdc-img-logo{
    position: absolute;
    left: calc(100% + 1pc);
	}
/* Img */

/* Text */
	.aux-text-1-R{
		margin-left: 1pc;
	}
	.aux-text-2-R{
		margin-right: 0.5pc;
	}
	.aux-6-R p{
		margin-right: 1pc;
	}
/* Text */

/* Btn */
	.select-operator-box > .line-100:last-child button{
    padding: 5px 4pc;
	}
	.total-box button{
		width: 100%;
	}
/* Btn */

/* Responsive */
	@media screen and (max-width: 300px){

		 main,
		.selecting-internal-box-R,
		.pay-box{
			height: auto;
		}
		 main{
	    margin-top: 150px;
		}
		 header{
			position: fixed;
	    top: 0pc;
	    z-index: 18;
		}
		.reload-master-box{
			padding-bottom: 70px;
		}
		.tdc-img-logo,
		.operator-logo-box{
			display: none;
		}
		.reload-master-box > section:first-child,
		.frecuency-phone,
		.aux-2-R > .pillar-45p,
		.pay-type-box > .pillar-auto,
		.aux-7-R form,
		.aux-7-R > .line-100 > .pillar-45p,
		.member-card{
	    width: 100%;
		}
		.reload-master-box > section {
	    padding: 1pc .5pc;
		}
		.aux-2-R,
		.aux-3-R,
		.pay-type-box{
			flex-wrap: wrap;
		}
		.tab-box p{
			font-size: .75em;
		}
		.aux-3-R > .pillar-45p,
		.promo,
		.regular-plan,
		.popular-plan{
			width: 95%;
		}
		.aux-3-R > .pillar-45p:first-child > .pillar-30p{
			width: 40%;
		}
		.aux-3-R > .pillar-45p:first-child > .pillar-70p{
			width: 60%;
		}
		.aux-3-R > .pillar-45p,
		.aux-2-R > .pillar-45p{
			margin-bottom: .5pc;
		}
		.aux-2-R > div:last-child{
	    justify-content: center;
		}
		.selectOperatorImg{
			height: 50px;
		}
		.select-operator-box{
			display: flex;
		}
		.popular-plan{
			align-items: center;
		}
		.select-operator-box,
		.select-operator-box > .line-100:nth-child(2),
		.popular-plan{
			flex-direction: column;
		}
		.select-operator-box > .line-100:nth-child(2){
			overflow: auto;
		}
		.select-operator-box > .line-100:first-child p{
			text-align: center;
		}
		.member-card-box > .line-100:first-child{
			margin-top: 2pc;
		}
		.reload-master-box > section:last-child{
	    display: flex;
	    position: fixed;
	    width: 100%;
	    background: white;
	    overflow: auto;
	    height: calc(100% - 150px);
	    box-sizing: border-box;
	    z-index: 10;
      top: calc(100% - 70px);
      transition: .45s;
		}
	}
	@media screen and (min-width: 301px) and (max-width: 400px){

		 main,
		.selecting-internal-box-R,
		.pay-box{
			height: auto;
		}
		 main{
	    margin-top: 150px;
		}
		 header{
			position: fixed;
	    top: 0pc;
	    z-index: 18;
		}
		.reload-master-box{
			padding-bottom: 70px;
		}
		.tdc-img-logo,
		.operator-logo-box{
			display: none;
		}
		.reload-master-box > section:first-child,
		.frecuency-phone,
		.aux-2-R > .pillar-45p,
		.pay-type-box > .pillar-auto,
		.aux-7-R form,
		.aux-7-R > .line-100 > .pillar-45p,
		.member-card{
	    width: 100%;
		}
		.reload-master-box > section {
	    padding: 1pc;
		}
		.aux-2-R,
		.aux-3-R,
		.pay-type-box{
			flex-wrap: wrap;
		}
		.tab-box p{
			font-size: .75em;
		}
		.aux-3-R > .pillar-45p,
		.promo,
		.regular-plan,
		.popular-plan{
			width: 95%;
		}
		.aux-3-R > .pillar-45p:first-child > .pillar-30p{
			width: 40%;
		}
		.aux-3-R > .pillar-45p:first-child > .pillar-70p{
			width: 60%;
		}
		.aux-3-R > .pillar-45p,
		.aux-2-R > .pillar-45p{
			margin-bottom: .5pc;
		}
		.aux-2-R > div:last-child{
	    justify-content: center;
		}
		.popular-plan{
			align-items: center;
		}
		.selectOperatorImg{
			height: 50px;
		}
		.select-operator-box{
			display: flex;
		}
		.select-operator-box,
		.select-operator-box > .line-100:nth-child(2),
		.popular-plan{
			flex-direction: column;
		}
		.select-operator-box > .line-100:nth-child(2){
			overflow: auto;
		}
		.select-operator-box > .line-100:first-child p{
			text-align: center;
		}
		.member-card-box > .line-100:first-child{
			margin-top: 2pc;
		}
		.reload-master-box > section:last-child{
	    display: flex;
	    position: fixed;
	    width: 100%;
	    background: white;
	    overflow: auto;
	    height: calc(100% - 150px);
	    box-sizing: border-box;
	    z-index: 10;
      top: calc(100% - 70px);
      transition: .45s;
		}
	}
	@media screen and (min-width: 401px) and (max-width: 500px){

		 main,
		.selecting-internal-box-R,
		.pay-box{
			height: auto;
		}
		 main{
	    margin-top: 150px;
		}
		 header{
			position: fixed;
	    top: 0pc;
	    z-index: 18;
		}
		.reload-master-box{
			padding-bottom: 70px;
		}
		.tdc-img-logo,
		.operator-logo-box{
			display: none;
		}
		.reload-master-box > section:first-child,
		.aux-2-R > .pillar-45p,
		.aux-7-R form{
	    width: 100%;
		}
		.reload-master-box > section {
	    padding: 1pc;
		}
		.aux-2-R,
		.aux-3-R{
			flex-wrap: wrap;
		}
		.tab-box p{
			font-size: .75em;
		}
		.aux-3-R > .pillar-45p,
		.promo,
		.regular-plan,
		.popular-plan{
			width: 95%;
		}
		.aux-3-R > .pillar-45p:first-child > .pillar-30p{
			width: 40%;
		}
		.aux-3-R > .pillar-45p:first-child > .pillar-70p{
			width: 60%;
		}
		.aux-3-R > .pillar-45p,
		.aux-2-R > .pillar-45p{
			margin-bottom: .5pc;
		}
		.aux-2-R > div:last-child{
	    justify-content: center;
		}
		.popular-plan{
			align-items: center;
		}
		.selectOperatorImg{
			height: 50px;
		}
		.select-operator-box{
			display: flex;
		}
		.select-operator-box,
		.select-operator-box > .line-100:nth-child(2),
		.popular-plan{
			flex-direction: column;
		}
		.select-operator-box > .line-100:nth-child(2){
			overflow: auto;
		}
		.select-operator-box > .line-100:first-child p{
			text-align: center;
		}
		.member-card-box > .line-100:first-child{
			margin-top: 2pc;
		}
		.frecuency-phone{
			width: 40%;
		}
		.member-card{
			width: 45%;
		}
		.frecuency-phone .p-3{
			font-size: .9em;
		}
		.pay-type-box{
			justify-content: space-between;
		}
		.reload-master-box > section:last-child{
	    display: flex;
	    position: fixed;
	    width: 100%;
	    background: white;
	    overflow: auto;
	    height: calc(100% - 150px);
	    box-sizing: border-box;
	    z-index: 10;
      top: calc(100% - 70px);
      transition: .45s;
		}
	}
	@media screen and (min-width: 501px) and (max-width: 767px){

		 main,
		.selecting-internal-box-R,
		.pay-box{
			height: auto;
		}
		 main{
	    margin-top: 125px;
		}
		 header{
			position: fixed;
	    top: 0pc;
	    z-index: 18;
		}
		.reload-master-box{
			padding-bottom: 70px;
		}
		.tdc-img-logo{
			display: none;
		}
		.reload-master-box > section:first-child,
		.aux-7-R form{
	    width: 100%;
		}
		.reload-master-box > section {
	    padding: 1pc;
		}
		.aux-3-R,
		.popular-plan{
			flex-wrap: wrap;
		}
		.tab-box p{
			font-size: .75em;
		}
		.aux-3-R > .pillar-45p,
		.aux-2-R > .pillar-45p{
			margin-bottom: .5pc;
		}
		.selectOperatorImg{
			height: 50px;
		}
		.select-operator-box{
			display: flex;
		}
		.select-operator-box{
			flex-direction: column;
		}
		.select-operator-box > .line-100:nth-child(2){
			overflow: auto;
		}
		.select-operator-box > .line-100:first-child p{
			text-align: center;
		}
		.member-card-box > .line-100:first-child{
			margin-top: 2pc;
		}
		.frecuency-phone{
			width: 40%;
		}
		.member-card,
		.promo,
		.regular-plan,
		.popular-plan{
			width: 45%;
		}
		.frecuency-phone .p-3{
			font-size: .9em;
		}
		.pay-type-box{
			justify-content: space-evenly;
		}
		.aux-3-R > .pillar-45p > .pillar-30p{
			min-width: 100px;
		}
		.reload-master-box > section:last-child{
	    display: flex;
	    position: fixed;
	    width: 100%;
	    background: white;
	    overflow: auto;
	    height: calc(100% - 125px);
	    box-sizing: border-box;
	    z-index: 10;
      top: calc(100% - 70px);
      transition: .45s;
		}
		.congratulation-box{
			min-width: 450px;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 992px){

		 main,
		.selecting-internal-box-R,
		.pay-box{
			height: auto;
		}
		 main{
	    margin-top: 125px;
		}
		 header{
			position: fixed;
	    top: 0pc;
	    z-index: 18;
		}
		.reload-master-box{
			padding-bottom: 70px;
		}
		.tdc-img-logo{
			display: none;
		}
		.reload-master-box > section:first-child{
			padding: 2pc 10%;
		}
		.aux-7-R form,
		.reload-master-box > section:first-child{
	    width: 100%;
		}
		.reload-master-box > section {
	    padding: 1pc;
		}
		.aux-3-R,
		.popular-plan{
			flex-wrap: wrap;
		}
		.tab-box p{
			font-size: .75em;
		}
		.aux-3-R > .pillar-45p,
		.aux-2-R > .pillar-45p{
			margin-bottom: .5pc;
		}
		.selectOperatorImg{
			height: 50px;
		}
		.select-operator-box{
			display: flex;
		}
		.select-operator-box{
			flex-direction: column;
		}
		.select-operator-box > .line-100:first-child p{
			text-align: center;
		}
		.member-card-box > .line-100:first-child{
			margin-top: 2pc;
		}
		.frecuency-phone{
			width: 40%;
		}
		.member-card,
		.promo,
		.regular-plan,
		.popular-plan{
			width: 45%;
		}
		.frecuency-phone .p-3{
			font-size: .9em;
		}
		.pay-type-box{
			justify-content: space-evenly;
		}
		.reload-master-box > section:last-child{
	    display: flex;
	    position: fixed;
	    width: 100%;
	    background: white;
	    overflow: auto;
	    height: calc(100% - 125px);
	    box-sizing: border-box;
	    z-index: 10;
      top: calc(100% - 70px);
      transition: .45s;
		}
		.congratulation-box{
			min-width: 500px;
		}
	}
	@media screen and (min-width: 993px) and (max-width: 1200px){
		.frecuency-phone > .pillar-100p .p-1{
			font-size: 1em;
		}
		.reload-master-box > section{
	    padding: 0px 2.5%;
		}
		.aux-2-R,
		.aux-3-R {
		  height: 40px;
		}
		.aux-3-R {
		  margin: 1pc 0pc;
		}
		.frecuency-phones-box {
	    padding: 2pc 2.5%;
		}
		.aux-2-R > div:last-child {
	    justify-content: flex-end;
		}
		.pay-type-box > .pillar-auto {
	    margin-right: 1pc;
		}
		.pay-box {
	    height: calc(100% - (40px + 1pc));
		}
		.member-card-box > .line-100:last-child {
	    height: 75px;
		}
		.selectOperatorImg{
			height: 30px;
		}
		.congratulation-box{
			min-width: 500px;
		}
	}
	@media screen and (min-width: 1201px) and (max-width: 1500px){
		.frecuency-phone > .pillar-100p .p-1{
			font-size: 1em;
		}
		.reload-master-box > section{
	    padding: 0px 2.5%;
		}
		.aux-2-R,
		.aux-3-R {
		  height: 40px;
		}
		.aux-3-R {
		  margin: 1pc 0pc;
		}
		.frecuency-phones-box {
	    padding: 2pc 2.5%;
		}
		.aux-2-R > div:last-child {
	    justify-content: flex-end;
		}
		.pay-type-box > .pillar-auto {
	    margin-right: 1pc;
		}
		.pay-box {
	    height: calc(100% - (40px + 1pc));
		}
		.member-card-box > .line-100:last-child {
	    height: 75px;
		}
		.selectOperatorImg{
			height: 30px;
		}
		.congratulation-box{
			min-width: 500px;
		}
	}
	@media screen and (min-width: 1501px){
		.select-operator-box{
			max-width: 1000px;
		}
		.reload-master-box > section{
	    padding: 0px 2.5%;
		}
		.aux-2-R,
		.aux-3-R {
		  height: 40px;
		}
		.aux-3-R {
		  margin: 1pc 0pc;
		}
		.frecuency-phones-box {
	    padding: 2pc 2.5%;
		}
		.aux-2-R > div:last-child {
	    justify-content: flex-end;
		}
		.pay-type-box > .pillar-auto {
	    margin-right: 1pc;
		}
		.pay-box {
	    height: calc(100% - (40px + 1pc));
		}
		.member-card-box > .line-100:last-child {
	    height: 75px;
		}
		.selectOperatorImg{
			height: 30px;
		}
		.congratulation-box{
			min-width: 500px;
		}
	}
/* Responsive */
