.bg-neeru{
	color:white;
	background-color: #00B814;
}


.app-header .bold{
	font-weight: bold;
}

/*tamano de contenido access*/
.access-content{

}

/* *** estilo para los mensajes de error de inputs *** */
.error-input-msj {
  color: #f05050;
  font-size: 0.75em;
}

.helper-pwd{
  display: table !important;
  width: 100%;
  font-size: 0.9em;
  text-align: justify;
}

body {
	height: 100%;
}

body > * {
	height: 100%;
}
body > * > * {
	height: 100%;
}

.app-content {
	height: 100%;
}

.app-content-body {
	height: 100%;
}

.fade-in-down {
	height: 100%;
}


.w-h-xs-i {
	width: 250px !important;
	height: 100px !important;
}

.frequent-master-box {
	width: 100%;
	display: flex;
	height: 100%;
}

.frequent-add {
	border: 0;
	margin-top: 120px;
}

.frequent-master-box > section{
	justify-content: space-between;
	flex-direction: column;
}

.frequent-master-box > section:first-child {
	flex-wrap: wrap;
	display: flex;
	width: 70%
}

.frequent-master-box > section:last-child {
	flex-wrap: wrap;
	display: flex;
	width: 30%
}

/* PROFILE VIEW */

#background {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#background img {
    border-radius: 5px;
    width: 60px;
    height: 60px;
}

#background p {
    margin: 0px;
    color: #88918c;
    font-size: 0.8em;
}

#background button p {
    color: #fff;
}

#background button:active p {
    color: #0DB731;
}

#background a {
    margin: 0px;
    color: #88918c;
    font-size: 0.8em;
}

#background #email {
    color: #0db731;
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 10px;
}

#profile {
    width: 100%;
    display: flex;
    align-items: center;
}

#pwdChange {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#pwdChange input {
    border: 0px solid;
    border-bottom: .15rem #cfd5d1 solid;
    width: 250px;
    margin-top: 5px;
}

#pwdChange button {
    margin-top: 30px;
}

.leftSpace {
    width: 60%;
    display: flex;
    justify-content: center;
}

.rightSpace {
    width: 30%;
    border-left: .2rem #cfd5d1 solid;
}

.leftBorder {
    width: .25rem;
    height: 100%;
    background-color: #cfd5d1;
}

.pad20 {
    padding: 20px;
}

.pad10 {
    padding: 10px;
}

.pad5 {
    padding: 5px;
}

.click {
    cursor: pointer;
}

/* Responsive */
	@media screen and (max-width: 300px){

		.frequent-master-box{
			padding-bottom: 70px;
			display: block;
		}

		.frequent-add {
			margin-top: 0;
		}

		.frequent-master-box > section {
	    padding: 1pc .5pc;
		}

		.frequent-master-box > section:first-child{
			width: 100%;
		}

		.frequent-master-box > section:last-child{
	    display: block;
	    position: fixed;
	    width: 100%;
	    background: white;
	    overflow: auto;
	    height: calc(100% - 150px);
	    box-sizing: border-box;
	    z-index: 10;
      transition: .45s;
			text-align: -webkit-center;
		}
	}
	@media screen and (min-width: 301px) and (max-width: 400px){

		.frequent-master-box{
			padding-bottom: 70px;
			display: block;
		}

		.frequent-add {
			margin-top: 0;
		}

		.frequent-master-box > section {
	    padding: 1pc;
		}

		.frequent-master-box > section:first-child{
			width: 100%;
		}

		.frequent-master-box > section:last-child{
	    display: block;
	    position: fixed;
	    width: 100%;
	    background: white;
	    overflow: auto;
	    height: calc(100% - 150px);
	    box-sizing: border-box;
	    z-index: 10;
      transition: .45s;
			text-align: -webkit-center;
		}
	}
	@media screen and (min-width: 401px) and (max-width: 500px){

		.frequent-master-box{
			padding-bottom: 70px;
			display: block;
		}

		.frequent-add {
			margin-top: 0;
		}

		.frequent-master-box > section {
	    padding: 1pc;
		}

		.frequent-master-box > section:first-child{
			width: 100%;
		}

		.frequent-master-box > section:last-child{
	    display: block;
	    position: fixed;
	    width: 100%;
	    background: white;
	    overflow: auto;
	    height: calc(100% - 150px);
	    box-sizing: border-box;
	    z-index: 10;
      transition: .45s;
			text-align: -webkit-center;
		}
	}
	@media screen and (min-width: 501px) and (max-width: 767px){

		.frequent-master-box{
			padding-bottom: 70px;
			display: block;
		}

		.frequent-add {
			margin-top: 0;
			width: 70%;
		}

		.frequent-master-box > section {
	    padding: 1pc;
		}

		.frequent-master-box > section:first-child{
			width: 100%;
		}

		.frequent-master-box > section:last-child{
	    display: block;
	    position: fixed;
	    width: 100%;
	    background: white;
	    overflow: auto;
	    height: calc(100% - 125px);
	    box-sizing: border-box;
	    z-index: 10;
      transition: .45s;
			text-align: -webkit-center;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 992px){

		.frequent-master-box{
			padding-bottom: 70px;
			display: block;
		}

		.frequent-add {
			margin-top: 0;
			width: 50%;
		}

		.frequent-master-box > section:first-child{
			padding: 2pc 10%;
		}

		.frequent-master-box > section:first-child{
	    width: 100%;
		}
		.frequent-master-box > section {
	    padding: 1pc;
		}
		.frequent-master-box > section:last-child{
	    display: block;
	    position: fixed;
	    width: 100%;
	    background: white;
	    overflow: auto;
	    height: calc(100% - 125px);
	    box-sizing: border-box;
	    z-index: 10;
      transition: .45s;
			text-align: -webkit-center;
		}
	}
	@media screen and (min-width: 993px) and (max-width: 1200px){
		.frequent-master-box > section{
	    padding: 0px 2.5%;
		}
	}
	@media screen and (min-width: 1201px) and (max-width: 1500px){
		.frequent-master-box > section{
	    padding: 0px 2.5%;
		}
	}
	@media screen and (min-width: 1501px){

		.frequent-master-box > section{
	    padding: 0px 2.5%;
		}
	}
/* Responsive */
