/* Boxes */
  .empty-profile-box{
    background: #F3F5F3;
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    box-sizing: border-box;
    border-radius: .5rem;
    max-width: 700px;
  }
/* Boxes */

/* Aux */
  .empty-profile-box > .line-100{
    align-items: center;
  }
  .empty-profile-box > .line-100:first-child{
    justify-content: center;
  }
  .empty-profile-box > .line-100:nth-child(2){
    margin: 2pc 0pc;
  }
/* Aux */

/* Text */
  .empty-profile-box > .line-100:nth-child(2) p{
    text-align: center;
  }
/* Text */


/* Button */
  .btn-change {
    cursor: pointer;
    color: #59b833;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
  }

  .btn-change:hover{
    color: #59b833;
  }

  .btn-change:active {
    color: white;
    transform: translateY(4px);
  }

  .btn-file {
    position: absolute;
    width: 175px;
    height: 30px;
    margin: 0px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }
/* Button */

/* Img */
/* Img */

/* Responsive */
  @media screen and (max-width: 300px) {
    .empty-profile-box{
      margin-top: 2pc;
      width: 90%;
      margin-left: 5%;
      padding: 5%;
    }
    .empty-profile-box > .line-100:first-child,
    .empty-profile-box > .line-100:last-child{
      flex-direction: column;
    }
    .empty-profile-box > .line-100:first-child p{
      text-align: center;
    }
    .empty-profile-box > .line-100:last-child button{
      margin-bottom: 1pc;
    }
  }
  @media screen and (min-width: 301px) and (max-width: 400px){
    .empty-profile-box{
      margin-top: 2pc;
      width: 90%;
      margin-left: 5%;
      padding: 5%;
    }
    .empty-profile-box > .line-100:first-child,
    .empty-profile-box > .line-100:last-child{
      flex-direction: column;
    }
    .empty-profile-box > .line-100:first-child p{
      text-align: center;
    }
    .empty-profile-box > .line-100:last-child button{
      margin-bottom: 1pc;
    }
  }
  @media screen and (min-width: 401px) and (max-width: 500px){
    .empty-profile-box{
      margin-top: 2pc;
      width: 90%;
      margin-left: 5%;
      padding: 5%;
    }
    .empty-profile-box > .line-100:first-child,
    .empty-profile-box > .line-100:last-child{
      flex-direction: column;
    }
    .empty-profile-box > .line-100:first-child p{
      text-align: center;
    }
    .empty-profile-box > .line-100:last-child button{
      margin-bottom: 1pc;
    }
  }
  @media screen and (min-width: 501px) and (max-width: 767px){
    .empty-profile-box{
      margin-top: 2pc;
      width: 70%;
      margin-left: 15%;
      padding: 5%;
    }
    .empty-profile-box > .line-100:first-child,
    .empty-profile-box > .line-100:last-child{
      flex-direction: column;
    }
    .empty-profile-box > .line-100:first-child p{
      text-align: center;
    }
    .empty-profile-box > .line-100:last-child button{
      margin-bottom: 1pc;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px){
    .empty-profile-box{
      margin-top: 2pc;
      width: 70%;
      margin-left: 15%;
      padding: 5%;
    }
    .empty-profile-box > .line-100:first-child{
      flex-direction: column;
    }
    .empty-profile-box > .line-100:first-child p{
      text-align: center;
    }
    .empty-profile-box > .line-100:first-child img{
      margin-right: 2pc;
    }
  }
  @media screen and (min-width: 993px) and (max-width: 1200px){
    .empty-profile-box{
      width: 70%;
      margin-left: 15%;
      padding: 5% 10%;
    }
    .empty-profile-box > .line-100:first-child img{
      margin-right: 2pc;
    }
  }
  @media screen and (min-width: 1201px) and (max-width: 1500px){
    .empty-profile-box{
      width: 110%;
      padding: 10% 20%;
    }
    .empty-profile-box > .line-100:first-child img{
      margin-right: 2pc;
    }
  }
  @media screen and (min-width: 1501px) {
    .empty-profile-box{
      width: 110%;
      padding: 10% 20%;
    }
    .empty-profile-box > .line-100:first-child img{
      margin-right: 2pc;
    }
  }
/* Responsive */


/* Boxes */
  .empty-image-box{
    background: #F3F5F3;
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    box-sizing: border-box;
    border-radius: .5rem;
  }
/* Boxes */

/* Aux */
  .empty-image-box > .line-100{
    align-items: center;
  }
  .empty-image-box > .line-100:first-child{
    justify-content: center;
  }
  .empty-image-box > .line-100:nth-child(2){
    margin: 2pc 0pc;
  }
/* Aux */

/* Text */
  .empty-image-box > .line-100:nth-child(2) p{
    text-align: center;
  }
/* Text */

/* Img */
/* Img */

/* Responsive */
  @media screen and (max-width: 300px) {
    .empty-image-box{
      margin-top: 2pc;
      width: 90%;
      margin-left: 5%;
      padding: 5%;
    }
    .empty-image-box > .line-100:first-child,
    .empty-image-box > .line-100:last-child{
      flex-direction: column;
    }
    .empty-image-box > .line-100:first-child p{
      text-align: center;
    }
    .empty-image-box > .line-100:last-child button{
      margin-bottom: 1pc;
    }
  }
  @media screen and (min-width: 301px) and (max-width: 400px){
    .empty-image-box{
      margin-top: 2pc;
      width: 90%;
      margin-left: 5%;
      padding: 5%;
    }
    .empty-image-box > .line-100:first-child,
    .empty-image-box > .line-100:last-child{
      flex-direction: column;
    }
    .empty-image-box > .line-100:first-child p{
      text-align: center;
    }
    .empty-image-box > .line-100:last-child button{
      margin-bottom: 1pc;
    }
  }
  @media screen and (min-width: 401px) and (max-width: 500px){
    .empty-image-box{
      margin-top: 2pc;
      width: 90%;
      margin-left: 5%;
      padding: 5%;
    }
    .empty-image-box > .line-100:first-child,
    .empty-image-box > .line-100:last-child{
      flex-direction: column;
    }
    .empty-image-box > .line-100:first-child p{
      text-align: center;
    }
    .empty-image-box > .line-100:last-child button{
      margin-bottom: 1pc;
    }
  }
  @media screen and (min-width: 501px) and (max-width: 767px){
    .empty-image-box{
      margin-top: 2pc;
      width: 70%;
      margin-left: 15%;
      padding: 5%;
    }
    .empty-image-box > .line-100:first-child,
    .empty-image-box > .line-100:last-child{
      flex-direction: column;
    }
    .empty-image-box > .line-100:first-child p{
      text-align: center;
    }
    .empty-image-box > .line-100:last-child button{
      margin-bottom: 1pc;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px){
    .empty-image-box{
      margin-top: 2pc;
      width: 70%;
      margin-left: 15%;
      padding: 5%;
    }
    .empty-image-box > .line-100:first-child{
      flex-direction: column;
    }
    .empty-image-box > .line-100:first-child p{
      text-align: center;
    }
    .empty-image-box > .line-100:first-child img{
      margin-right: 2pc;
    }
  }
  @media screen and (min-width: 993px) and (max-width: 1200px){
    .empty-image-box{
      width: 70%;
      margin-left: 15%;
      padding: 5% 10%;
    }
    .empty-image-box > .line-100:first-child img{
      margin-right: 2pc;
    }
  }
  @media screen and (min-width: 1201px) and (max-width: 1500px){
    .empty-image-box{
      width: 110%;
      padding: 5% 20%;
    }
    .empty-image-box > .line-100:first-child img{
      margin-right: 2pc;
    }
  }
  @media screen and (min-width: 1501px) {
    .empty-image-box{
      width: 110%;
      padding: 5% 20%;
    }
    .empty-image-box > .line-100:first-child img{
      margin-right: 2pc;
    }
  }
/* Responsive */
